@-webkit-keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes ngdialog-flyout {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@keyframes ngdialog-flyout {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

.ngdialog.ngdialog-theme-popup {
    padding-bottom: 160px;
    padding-top: 160px;
}

.ngdialog.ngdialog-theme-popup.ngdialog-closing .ngdialog-content {
    -webkit-animation: ngdialog-flyout .5s;
    animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-popup .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    color: #444;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 900px;
}

.ngdialog.ngdialog-theme-popup .ngdialog-content:after {
    display: block;
    content: '';
    clear: both;
}

.ngdialog.ngdialog-theme-popup .ngdialog-close {
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: -15px;
}

.ngdialog.ngdialog-theme-popup .ngdialog-close:before {
    background: transparent;
    background: url("/img/close-popup.png") center no-repeat;
    width: 14px;
    height: 14px;
    content: '';
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
}

@media (max-width: 768px) {
    .ngdialog.ngdialog-theme-popup .ngdialog-close {
        right: 15px;
        top: -30px;
    }

}

.ngdialog.ngdialog-theme-popup .ngdialog-message {
    margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-popup .ngdialog-input {
    margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-popup .ngdialog-input textarea,
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="url"] {
    background: #fff;
    border: 0;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0 0 .25em;
    min-height: 2.5em;
    padding: .25em .67em;
    width: 100%;
}

.ngdialog.ngdialog-theme-popup .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="url"]:focus {
    box-shadow: inset 0 0 0 2px #8dbdf1;
    outline: none;
}

.ngdialog.ngdialog-theme-popup .ngdialog-buttons {
    *zoom: 1;
}

.ngdialog.ngdialog-theme-popup .ngdialog-buttons:after {
    content: '';
    display: table;
    clear: both;
}

.ngdialog.ngdialog-theme-popup .ngdialog-button {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-family: inherit;
    font-size: .8em;
    letter-spacing: .1em;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    text-transform: uppercase;
}

.ngdialog.ngdialog-theme-popup .ngdialog-button:focus {
    -webkit-animation: ngdialog-pulse 1.1s infinite;
    animation: ngdialog-pulse 1.1s infinite;
    outline: none;
}

@media (max-width: 568px) {
    .ngdialog.ngdialog-theme-popup .ngdialog-button:focus {
        -webkit-animation: none;
        animation: none;
    }
}

.ngdialog.ngdialog-theme-popup .ngdialog-button.ngdialog-button-primary {
    background: #3288e6;
    color: #fff;
}

.ngdialog.ngdialog-theme-popup .ngdialog-button.ngdialog-button-secondary {
    background: #e0e0e0;
    color: #777;
}