/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 195px;
}

#sidebar-wrapper {
    z-index: 50;
    position: fixed;
    left: 195px;
    width: 0;
    height: 100%;
    margin-left: -195px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 195px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -195px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: relative;
    top: 0;
    width: 195px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    outline: none;
}

.sidebar-nav li:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 195px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 195px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Toggle Styles */

.wrap-content {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
}

.wrap-content.toggled {
    padding-right: 0;
}

.right-sidebar {
    z-index: 50;
    position: fixed;
    right: 0;
    width: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fbfbfb;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 0;
    padding-top: 50px;
    -webkit-box-shadow: -7px 1px 19px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 1px 19px -10px rgba(0,0,0,0.75);
    box-shadow: -7px 1px 19px -10px rgba(0,0,0,0.75);
}

.wrap-content.toggled .right-sidebar {
    width: 195px;
}


/* Sidebar Styles */

@media(min-width:992px) {
    .wrap-content {
        padding-right: 195px;
    }

    .right-sidebar {
        width: 195px;
    }

    .wrap-content.toggled .right-sidebar {
        width: 0;
    }

}

.sidebar-content{
    width: 195px;
    padding: 0 20px;
    box-sizing: border-box;
    border-top: 1px solid #fbfbfb;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.ngsb-container .sidebar-content{
    padding-bottom: 75px;
}


/* Toggle Message Styles */

.wrap-content .message-sidebar{
    width: 0px;
}

.wrap-content {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
}

.message-sidebar {
    z-index: 51;
    position: fixed;
    right: 0;
    width: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fbfbfb;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 0;
    padding-top: 50px;
    -webkit-box-shadow: -7px 1px 19px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 1px 19px -10px rgba(0,0,0,0.75);
    box-shadow: -7px 1px 19px -10px rgba(0,0,0,0.75);
}

.wrap-content.toggledM .message-sidebar {
    width: 195px;
}


/* Sidebar Styles */

@media(min-width:992px) {
    .wrap-content {
        padding-right: 195px;
    }

    .message-sidebar {
        width: 195px;
    }
}