@import "../fonts/sourcesanspro.css";
/*
	Source Sans Pro, 200, 200 italic, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 900, 900 italic
*/



html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
*{
    outline: none;
}


.teammates-filer-name::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.teammates-filer-name::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.teammates-filer-name:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.teammates-filer-name:-moz-placeholder { /* Firefox 18- */
  color: white;
}


.chatUserOnline{
    width:10px;
    height:10px;
    display:block;
    background-image: url('/img/icon/online.png');
}
.chatUserFacebook{
    width:10px;
    height:10px;
    display:block;
    background-image: url('/img/icon/facebook.png');
}
.chatUserContainerInfo .userverify{
    width:12px;
    height:12px;
    position:absolute;
    right:0px;
    top:0px;
    background-image: url('/img/icon/verified_green.png');
    background-size: 100%;
}

.chatUserContainerInfo .username{
    font-family: "Source Sans Pro", arial;
    font-size:13px;
}

.chatContainerInfo .chatMessage{
    font-family: "Source Sans Pro", arial;
    font-size:13px;
}

.chatContainerInfo .chatMessageDate{
    font-family: "Source Sans Pro", arial;
    font-size:11px;
}

.chatInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.chatInput::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.chatInput:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.chatInput:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.newTypingStyle{
    background-color:transparent !important;
    margin:0px !important;
}
.newTypingStyle:before{
   background-color:transparent !important;
}
.newTypingStyle:after{
   background-color:transparent !important;
}

.chatGameInfo .sport{
    font-size:20px !important;
}
.chatGameInfo .address{
    font-size:14px !important;
    color: #5781ce;
    font-family: "Source Sans Pro", arial;
}
.chatGameInfo .start_time{
    font-size:14px !important;
    color:#f73267 !important;
    font-family: "Source Sans Pro", arial;
    text-align: left !important;
}
.chatGameInfo .date-day{
    font-size:14px !important;
    color:#f73267 !important;
    font-family: "Source Sans Pro", arial;
    text-align: left !important;
}

.chatDeclineButton{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #f73267;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    display: block;
    background: transparent;
    color: #f73267;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
}
.chatDeclineButton:after {
    width: 13px;
    height: 13px;
    display: inline-block;
    content: url(/img/icon/message_icon_decline.png);
    margin-left: 10%;
}
.game-card .chat-btn:after {
    width: 13px;
    height: 13px;
    display: inline-block;
    content: url(/img/icon/message_icon_accept.png);
    margin-left: 10%;
}

.show-result{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #45db5e;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    display: block;
    background: transparent;
    color: #45db5e;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
}

.show-result:after {
    display: inline-block;
    content: url("/img/green-arrow.png");
    margin-left: 10%;
}

.hintRightFilterBlock{
    z-index:91;
    box-shadow: 0 0 10px rgba(255, 252, 255, 1);
    padding-top:0px;
}

.hintShowSearch{
    z-index:91;
    box-shadow: 0 0 10px rgba(255, 252, 255, 1);
}

.login-bg{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: url("/img/signin-bg.jpg") center no-repeat;
    background-size: cover;
    border-top: 1px solid transparent;
}
.login-box{
    margin-top: 20px;
    padding-bottom: 20px;
}
.logo-img{
    width: 246px;
    margin: 30px auto 20px auto;
}
.login-text{
    width: 270px;
    margin: 0 auto;
    font-size: 18px;
    font-family: "Source Sans Pro";
    color: #e7e7e7;
    font-weight: 300;
    text-align: center;
}
.form-group.login-group label{
    display: block;
    text-align: center;
    color: rgba(255,255,255,0.5);
    font-size: 13px;
    font-family: "Source Sans Pro";
    font-weight:300;
}
.login-form{
    margin-top: 40px;
}
.login-group .username-control,
.login-group .password-control{
    width: 100%;
    height: 40px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: "Source Sans Pro";
    font-weight:300;
}
.button-signin,
.button-signin-f{
    display: block;
    width: 70%;
    height: 48px;
    border-radius: 30px;
    line-height: 48px;
    border: 0;
    text-align: center;
    font-family: "Source Sans Pro";
    font-weight:300;
    color: white;
    text-transform: uppercase;
    background: #f73267;
    margin: 30px auto;
    font-size: 12px;
    padding: 0;
    cursor: pointer;
}
.button-signin-f{
    background: #3b5998;
    position: relative;
}

.button-signin-f .fa{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px;
    font-size: 20px;
}
.button-signin-f:after{
    width: 14px;
    height: 13px;
    display: inline-block;
    content: '';
    background: url("/img/right-arrow.png") center no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -6.5px;
    right: 20px;
}
.login-forgot-pass,
.login-signup{
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    font-family: "Source Sans Pro";
    font-weight:300;
    cursor: pointer;
    text-transform: uppercase;
}
.login-forgot-pass{
    padding-left: 60px;
}
.login-signup{
    text-align: right;
    padding-right: 60px;
}
.login-mockup {
    margin-top: 60px;
}
.login-mockup img{
    width: 100%;
}
.app-button {
    margin-top: 100px;
}
.app-button img{
    display: block;
    margin: 0 auto;
}
.signup-box{
    width: 100%;
}
.signup-box .upload-avatar{
    width: 200px;
    height: 100px;
    float: left;
}
.signup-box .upload-avatar .thumbnail{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid #f73267;
    margin: 15px 0 0 22px;
    background: url("/img/avatar_icon.png?v1") 15px 13px no-repeat;
    overflow: hidden;
    float: left;
    cursor: pointer;
}
.signup-box .upload-avatar .thumbnail img{
    height: 100%;
}
.signup-box .upload-text {
    float: left;
    margin-left: 20px;
    line-height: 100px;
    font-size: 15px;
    color: #4d606f;
    font-family: "Source Sans Pro";
    font-weight:400;
    cursor: pointer;
}
.signup-box .sign-up-control,
.forgot-control,
.modal-control{
    height: 50px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 37px;
    line-height: 49px;
    font-size: 15px;
    color: #4d606f;
    font-family: "Source Sans Pro";
    font-weight:300;
    float: left;
    width: 100%;
}

.signup-box .required,
.modal-required{
    background: url("/img/required.png") 23px 24px no-repeat;
}
.signup-box .firstname-control,
.signup-box .email-control{
    border-left: 1px solid #f5f5f5 !important;
}
.signup-box .lastname-control,
.signup-box .password-control{
    border-left: 1px solid #f5f5f5 !important;
}
.clearFix:after{
    display: block;
    content: '';
    clear: both;
}
.no-padding{
    padding: 0;
}
.signup-box select.sign-up-control,
.dialog-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("/img/required.png") 23px 24px no-repeat, url("/img/appearance.png") 90% 22px no-repeat;
}
.signup-box select.sign-up-control:not(.required),
.dialog-select:not(.modal-required){
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("/img/appearance.png") 90% 22px no-repeat;
}
.signup-box .dial-code-control{
    width: 35%;
}
.signup-box .phone-control{
    width: 65%;
    border-left: 1px solid #f5f5f5;
}
.signup-box .label{
    height: 50px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 27px;
    line-height: 49px;
    text-align: left;
    font-size: 15px;
    color: #4d606f;
    font-family: "Source Sans Pro";
    font-weight:300;
    float: left;
    border-left: 1px solid #f5f5f5;
}
.signup-box .label-gender{
    width: 50%;
}
.signup-box .gender-control{
    width: 50%;
    float: left;
    color: #f73267;
}
.signup-box .day-control,
.signup-box .mon-control,
.signup-box .year-control,
.signup-box .ft-control,
.signup-box .in-control{
    height: 38px;
    float: left;
    margin: 6px 12px;
    box-sizing: border-box;
    border: 1px solid #f73267;
    color: #f73267;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    padding: 0 9px;
}
.signup-box .day-control{
    width: 38px;
    background: url("/img/appearance.png") 90% 16px no-repeat, url("/img/day.png") bottom center no-repeat;
}
.signup-box .mon-control{
    width: 38px;
    background: url("/img/appearance.png") 90% 16px no-repeat, url("/img/mon.png") bottom center no-repeat;
}
.signup-box .year-control{
    width: 68px;
    background: url("/img/appearance.png") 90% 16px no-repeat, url("/img/year.png?v1") bottom center no-repeat;
}
.signup-box .b-left{
    border-left: 1px solid  #f5f5f5;
}

.signup-box .ft-control,
.signup-box .in-control{
    min-width: 40px;
    background: url("/img/appearance.png") 90% 16px no-repeat;
}
.required-text{
    line-height: 50px;
    font-size: 10px;
    color: #f73267;
    padding-left: 12px;
}
.required-text em{
    font-size: 15px;
}
.signup-box button.get-started,
.forgot-btn,
.modal-btn{
    width: 100%;
    height: 50px;
    color: white;
    font-family: "Source Sans Pro";
    font-weight:300;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    background: #f73267;
    border: 0;
}
.signup-box button.get-started:after,
.forgot-btn:after,
.modal-btn:after {
    width: 14px;
    height: 13px;
    display: inline-block;
    content: '';
    background: url("/img/right-arrow.png") center no-repeat;
    position: relative;
    margin-left: 15px;
}

.head-panel{
    background: #f73267;
    min-height: 50px;
    line-height: 50px;
    position: relative;
    z-index: 55;
}
.head-panel .toggle-menu{
    padding: 0;
    margin: 0;
    border: 0;
    height: 50px;
    line-height: 50px;
    color: white;
    background: transparent;
    font-size: 25px;
    float: left;
}
.head-panel h1{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Source Sans Pro";
    font-weight:400;
    line-height: 50px;
    float: left;
    margin-left: 25px;
    color: white;
}
.no-margin{
    margin: 0;
}
#sidebar-wrapper{
    background: url("/img/sidebar-bg.png")center no-repeat;
    background-size: cover;
}
#sidebar-wrapper .search-box,
#sidebar-wrapper .search-box input{
    width: 130px;
    height: 32px;
    float: left;
    border-radius: 25px;
    background: #1a1c2f;
    box-sizing: border-box;
    border:0;
    border-bottom: 2px solid #242742;
    font-family: "Source Sans Pro";
    font-weight:300;
    color: white;
    padding: 0 10px;
    font-size: 12px;
}
#sidebar-wrapper .search-box{
    margin: 20px 10px;
}
.edit-profile{
    width: 20px;
    height: 20px;
    background: url("/img/edit-profile.png") center no-repeat;
    float: left;
    margin: 26px 7px;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.edit-profile:hover{
    opacity: 0.8;
}
.sidebar-avatar{
    width: 80px;
    height: 80px;
    margin: 8px auto 0 auto;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    position: relative;
}
.sidebar-avatar img{
    width: 80px;
}
.user-status{
    width: 14px;
    height:15px;
    background: url("/img/stan.png") center no-repeat;
    position: relative;
    top: 15px;
    right: 15px;
}
.fio-box{
    padding: 0 10px;
    margin: 20px 0 0 0;
    box-sizing: border-box;
    text-align: center;
    opacity: 0.5;
    white-space: nowrap;
}
.sidebar-firstname,
.sidebar-lastname{
    font-family: "Source Sans Pro", arial;
    font-weight:300;
    font-size: 18px;
    color: #66ccff;

}
.sidebar-lastname{
    color: #9999ff;
}
.sidebar-nav{
    margin-top: 30px;
}
.sidebar-nav li{
    width: 100%;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: "Source Sans Pro", arial;
    font-weight:300;
    color: white;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.sidebar-nav li.lobbies:before,
.sidebar-nav li.create:before,
.sidebar-nav li.teammates:before,
.sidebar-nav li.messages:before,
.sidebar-nav li.find_gums:before,
.sidebar-nav li.find_club:before,
.sidebar-nav li.find_:before,
.sidebar-nav li.social:before,
.sidebar-nav li.notifications:before,
.sidebar-nav li.logout:before,
.sidebar-nav li.manage:before,
.sidebar-nav li.partner:before,
.sidebar-nav li.games:before{
    display: block;
    width: 16px;
    height: 14px;
    content: '';
    float: left;
    position: relative;
    margin-top: 17px;
}
.sidebar-nav li.lobbies:before{
    background: url("/img/sidebar-sprite.png") 0 -10px no-repeat;
}
.sidebar-nav li.create:before{
    background: url("/img/sidebar-sprite.png") 0 -115px no-repeat;
}
.sidebar-nav li.teammates:before{
    background: url("/img/sidebar-sprite.png") 0 -219px no-repeat;
}
.sidebar-nav li.messages:before{
    background: url("/img/sidebar-sprite.png") 0 -324px no-repeat;
}
.sidebar-nav li.find_gums:before{
    background: url("/img/sidebar-sprite.png") 0 -427px no-repeat;
}
.sidebar-nav li.find_club:before{
    background: url("/img/sidebar-sprite.png") 0 -115px  no-repeat;
}
.sidebar-nav li.find_:before{
    background: url("/img/sidebar-sprite.png") 0 -778px  no-repeat;
}
.sidebar-nav li.social:before{
    background: url("/img/sidebar-sprite.png") 0 -531px no-repeat;
}
.sidebar-nav li.notifications:before{
    background: url("/img/sidebar-sprite.png") 0 -635px no-repeat;
}
.sidebar-nav li.logout:before{
    font: normal normal normal 14px FontAwesome;
    margin-left: -18px;
    margin-right: 18px;
    content: "\f08b";
}
.sidebar-nav li.partner:before{
    font: normal normal normal 14px FontAwesome;
    margin-left: -18px;
    margin-right: 18px;
    content: "\f234";
}
.sidebar-nav li.manage:before{
    font: normal normal normal 14px FontAwesome;
    margin-left: -18px;
    margin-right: 18px;
    content: "\f1de";
}
.sidebar-nav li.games:before{
    font: normal normal normal 14px FontAwesome;
    margin-left: -18px;
    margin-right: 18px;
    content: "\f11b";
}
.bg1{
    background: url("/img/bg1.jpg") center no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 20px;
}
.bg2{
    background: url("/img/bg2.jpg") center no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 20px;
}
.profile .upload-avatar{
    width: 80px;
    height: 80px;
    margin: 40px auto 10px auto;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

}
.profile .upload-avatar .thumbnail{
    width: 80px;
    height: 80px;
}
.profile .edit-group label{
    display: block;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 13px;
    color: rgba(255,255,255,0.5);
    line-height: 20px;
    margin-top: 30px;
}
.profile .edit-group input{
    width: 100%;
    height: 35px;
    line-height: 34px;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    background: transparent;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 15px;
    color: white;
    box-sizing: border-box;
}
.profile .edit-selected{
    height: 35px;
    line-height: 34px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    background: url("/img/appearance.png") right center no-repeat, transparent;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 15px;
    color: white;
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.profile .dial-code-control{
    width: 70px;
}
.edit-gender{
    width: 100%;
}
.edit-gender > option,
.profile .dial-code-control > option{
    color: #f73267;
}
.profile .edit-phone{
    width: -webkit-calc(100% - 70px) !important;
    width: -moz-calc(100% - 70px) !important;
    width: calc(100% - 70px) !important;
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
}
.profile .day-control,
.profile .mon-control,
.profile .year-control{
    width: 33.333%;

}
.profile .mon-control,
.profile .year-control{
    box-sizing: border-box;
    padding-left: 15px;
}
.profile .day-control > option,
.profile .mon-control > option,
.profile .year-control > option{
    color: #f73267;
}
.save-profile{
    width: 155px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #45db5e;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    margin: 60px auto 0 auto;
    display: block;
    background: transparent;
    color: #45db5e;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
}
.save-profile:after{
    display: inline-block;
    content: url("/img/green-arrow.png");
    margin-left: 35px;
}
.ngdialog{
    z-index: 100 !important;
}
.modal-control{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
}
.modal-code{
    width: 35%;
    float: left;
}
.modal-phone{
    width: 65%;
    float: left;
}
.fa-spinner{
    color: #f73267;
}
.informer-text{
    height: 50px;
    text-align: center;
    padding: 10px 0;
    transition: 0.5s;
    color: #f73267;
}

.manage-box .club-control{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin-top: 10px;
}
.manage-box .gym-control{
    margin-top: 0;
}
.manage-box .club-control:after{
    display: block;
    content: '';
    clear: both;
}

.manage-box{
    box-sizing: border-box;
    padding: 0 30px;
}
.manage-box .club-control label{
    height: 35px;
    box-sizing: border-box;
    padding-top: 20px;
    margin: 0;
    font-weight: 400 !important;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
}
.manage-box .club-control input {
    width: 100%;
    height: 35px;
    line-height: 34px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255, 0.42);
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
}
.manage-box .radio-box{
    width: 154px;
    height: 30px;
    box-sizing: border-box;
}

.manage-box .club-control input[type="radio"]{
    display: none;
    width: 10px;
}
.manage-box .club-control input[type="radio"] + label{
    width: 50%;
    height: 26px;
    border: 2px solid white;
    float: left;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    padding: 0;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    cursor: pointer;
}
.manage-box .club-control input.gym-enter-private + label,
.manage-box .club-control input#enter-private + label{
    border-radius: 5px 0 0 5px;
    border-right: 0;
}
.manage-box .club-control input.gym-enter-public + label,
.manage-box .club-control input#enter-public + label{
    border-radius: 0 5px 5px 0;
    border-left: 0;
}
.manage-box .radio-group1 input[type="radio"]:checked + label{
    background: #f73267;
    border-color: #f73267;
 }
.manage-box .head-text{
    font-weight: 400;
    margin-top: 35px;
    color: rgba(255,255,255,0.6);
    font-size: 15px;
}
.manage-box .format-text{
    font-weight: 300;
    color: rgba(255,255,255,0.6);
}
.club-hour{
    padding: 0;
    margin-top: 10px;
}
.hours-box .club-hour input[type="checkbox"]{
    display: none;
}
.hours-box .club-hour label{
    color: white;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    box-sizing: border-box;
    padding-left: 30px;
    background: url("/img/radio.png") 0 -67px no-repeat;
    cursor: pointer;
}
.hours-box .club-hour input[type="checkbox"]:checked + label{
    background: url("/img/radio.png") 0 2px no-repeat;
}
@media (min-width: 1200px){
    .hours-box .col-lg-1 {
        width: 12%;
    }
}
.hours-box .select-hour select{
    width: 57px;
    height: 27px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    background: url("/img/appearance_white.png") 45px 11px no-repeat;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    padding-left: 5px;
    cursor: pointer;
}
.hours-box .select-hour select option{
    color: black;
}
.club-hour .not-selected{
    height: 74px;
    font-size: 14px;
    color: #f73267;
    line-height: 70px;
    box-sizing: border-box;
    padding-left: 10px;
}
.gmaps{
    margin-top: 45px;
}
.angular-google-map-container {
    height: 200px;
}
#edit_club_btn,
#edit_gym_btn{
    width: 100%;
    height: 40px;
    text-align: center;
    background: transparent;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 16px;
    color: #45db5e;
    box-sizing: border-box;
    border: 1px solid #45db5e;
    border-radius: 25px;
    margin-top: 40px;
}
#add_gym_btn,
#update_gym_btn{
    width: 100%;
    height: 40px;
    text-align: center;
    background: transparent;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 16px;
    color: #5c8bde;
    box-sizing: border-box;
    border: 1px solid #5c8bde;
    border-radius: 25px;
    margin-top: 40px;
}
.gyms-box{
    margin-top: 35px;
}
.gym-type-group input[type='radio']{
    display: none;
}
.gym-type-group label{
    width: 100%;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 15px 0 15px;
    cursor: pointer;
    min-height: 147px;
    margin-top: 25px;
}
.gym-type-group label span{
    width: 100%;
    display: block;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: white;
    text-align: center;
}
.gym-type-group label img{
    display: block;
    margin: 25px auto;
}
.gym-type-group input[type='radio']:checked + label{
    background: #f73267;
}
.sport-type{
    padding: 0;
    margin: 0 10px;
    min-width: 30px;
}
.sport-type input[type='radio']{
    display: none;
}
.sport-type label{
    cursor: pointer;
}
.filter-group input[type='checkbox']{
    display: none;
}
.filter-group input[type='radio']{
    display: none;
}

.sport-type input[type='radio']:checked + label.sport1-icon,
.filter-group input[type='radio']:checked + label.sport1-icon,
.filter-group input[type='checkbox']:checked + label.sport1-icon{
    background: url("/img/sports/sport1_h.png") center no-repeat;
}
.sport-type input[type='radio']:checked + label.sport2-icon,
.filter-group input[type='radio']:checked + label.sport2-icon,
.filter-group input[type='checkbox']:checked + label.sport2-icon{
    background: url("/img/sports/sport2_h.png") center no-repeat;
}
.sport-type input[type='radio']:checked + label.sport3-icon,
.filter-group input[type='radio']:checked + label.sport3-icon,
.filter-group input[type='checkbox']:checked + label.sport3-icon{
    background: url("/img/sports/sport3_h.png") center no-repeat;
}
.sport-type input[type='radio']:checked + label.sport4-icon,
.filter-group input[type='radio']:checked + label.sport4-icon,
.filter-group input[type='checkbox']:checked + label.sport4-icon{
    background: url("/img/sports/sport4_h.png") center no-repeat;
}
.sport-type input[type='radio']:checked + label.sport5-icon,
.filter-group input[type='radio']:checked + label.sport5-icon,
.filter-group input[type='checkbox']:checked + label.sport5-icon{
    background: url("/img/sports/sport5_h.png") center no-repeat;
}
.sport-type input[type='radio']:checked + label.sport6-icon,
.filter-group input[type='radio']:checked + label.sport6-icon,
.filter-group input[type='checkbox']:checked + label.sport6-icon{
    background: url("/img/sports/sport6_h.png") center no-repeat;
}
.sport-type input[type='radio']:checked + label.sport7-icon,
.filter-group input[type='radio']:checked + label.sport7-icon,
.filter-group input[type='checkbox']:checked + label.sport7-icon{
    background: url("/img/sports/sport7_h.png") center no-repeat;
}
.sport-type input[type='radio']:checked + label.sport8-icon,
.filter-group input[type='radio']:checked + label.sport8-icon,
.filter-group input[type='checkbox']:checked + label.sport8-icon{
    background: url("/img/sports/sport8_h.png") center no-repeat;
}
.sport-type input[type='radio']:checked + label.sport9-icon,
.filter-group input[type='radio']:checked + label.sport9-icon,
.filter-group input[type='checkbox']:checked + label.sport9-icon{
    background: url("/img/sports/sport9_h.png") center no-repeat;
}
.sport1-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport1.png") center no-repeat;
}
.sport2-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport2.png") center no-repeat;
}
.sport3-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport3.png") center no-repeat;
}
.sport4-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport4.png") center no-repeat;
}
.sport5-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport5.png") center no-repeat;
}
.sport6-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport6.png") center no-repeat;
}
.sport7-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport7.png") center no-repeat;
}
.sport8-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport8.png") center no-repeat;
}
.sport9-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport9.png") center no-repeat;
}

.filter-group input[type='radio']:checked + label.class1-icon,
.filter-group input[type='checkbox']:checked + label.class1-icon,
.sport-type input[type='radio']:checked + label.class1-icon{
    background: url("/img/sports/class1_h.png") center no-repeat;
}
.filter-group input[type='radio']:checked + label.class2-icon,
.filter-group input[type='checkbox']:checked + label.class2-icon,
.sport-type input[type='radio']:checked + label.class2-icon{
    background: url("/img/sports/class2_h.png") center no-repeat;
}
.filter-group input[type='radio']:checked + label.class3-icon,
.filter-group input[type='checkbox']:checked + label.class3-icon,
.sport-type input[type='radio']:checked + label.class3-icon{
    background: url("/img/sports/class3_h.png") center no-repeat;
}
.filter-group input[type='radio']:checked + label.class4-icon,
.filter-group input[type='checkbox']:checked + label.class4-icon,
.sport-type input[type='radio']:checked + label.class4-icon{
    background: url("/img/sports/class4_h.png") center no-repeat;
}
.filter-group input[type='radio']:checked + label.class5-icon,
.filter-group input[type='checkbox']:checked + label.class5-icon,
.sport-type input[type='radio']:checked + label.class5-icon{
    background: url("/img/sports/class5_h.png") center no-repeat;
}
.filter-group input[type='radio']:checked + label.class6-icon,
.filter-group input[type='checkbox']:checked + label.class6-icon,
.sport-type input[type='radio']:checked + label.class6-icon{
    background: url("/img/sports/class6_h.png") center no-repeat;
}
.filter-group input[type='radio']:checked + label.class7-icon,
.filter-group input[type='checkbox']:checked + label.class7-icon,
.sport-type input[type='radio']:checked + label.class7-icon{
    background: url("/img/sports/class7_h.png") center no-repeat;
}

.class1-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class1.png") center no-repeat;
}
.class2-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class2.png") center no-repeat;
}
.class3-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class3.png") center no-repeat;
}
.class4-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class4.png") center no-repeat;
}
.class5-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class5.png") center no-repeat;
}
.class6-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class6.png") center no-repeat;
}
.class7-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class7.png") center no-repeat;
}
.update-box{
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
    padding-bottom: 25px;
    box-shadow: 2px 2px 15px 0px rgba(37, 36, 36, 0.35)
}
.filter-menu{
    float: right;
    line-height: 48px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    padding-left: 30px;
    background: url("/img/filter.png") left center no-repeat;
    font-size: 14px;
    margin-right: 54px;
    color: #FFFFFF;
    border: 0;
}
.filter-title{
    color: #21262c;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 25px;
}
.filter-group{
    position: relative;
}
.filter-group input[type='radio']{
    display: none;
}
.filter-group label{
    width: 35px;
    height: 35px;
    float: left;
    margin: 12px 15px 0 0;
    cursor: pointer;
}
.filter-group .filter-name{
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid #5c8bde;
    border-radius: 8px;
    padding: 0 20px 0 5px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 12px;
    color: #5c8bde;
    margin-top: 15px;
}
.distance-box .filter-radio-group{
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid #5c8bde;
    border-radius: 8px;
    margin-top: 15px;
}
.distance-group input[type='radio']{
    display: none;
}

.distance-group .distance5,
.distance-group .distance10,
.distance-group .distance25{
    width: 33%;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 12px;
    color: #5c8bde;
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.distance-group .distance10{
    width: 34%;
    border-left: 2px solid #5c8bde;
    border-right: 2px solid #5c8bde;
}
.distance-group input[type='radio']:checked + label{
    background: #5c8bde;
    color: white;
}
.distance-group input[type='radio']:disabled + label{
    background: gray;
}
.distance-group .sortSoonest,
.distance-group .sortNearest{
    width: 50%;
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 12px;
    color: #5c8bde;
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.distance-group .sortNearest{
    border-left: 2px solid #5c8bde;
}
.search-gmaps{
    width: 100%;
    height: 335px;
}
.search-gmaps .angular-google-map-container {
    height: 335px;
}
.search-input-address{
    width: 100%;
    height: 30px;
    border: 0;
    padding: 0 40px 0 60px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 12px;
    background: white;
}
.search-address-box:before{
    width: 10px;
    height: 16px;
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f041';
    position: absolute;
    top: 7px;
    left: 15px;
    font-size: 18px;
    color: #f73267;
}
.search-clubs-box .cub-card{
    width: 100%;
    min-height: 150px;
    background: url("../img/clubs-bg.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 0 25px 0;
}
.search-clubs-box .cub-card:after{
    display: block;
    content: '';
    clear: both;
}
.distance-group input[type='radio']:disabled + label{
    background: #eee;
    border-color: #ccc;
    color: black;
    cursor: not-allowed;
}
.filter-radio-group{
    overflow: hidden;
}
.filter-radio-group.disabled{
    border-color: #ccc;
    overflow: hidden;
}
.search-clubs-box{
    padding: 0 30px;
}
.search-clubs-box .card-name{
    display: block;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding-top: 30px;
}
.card-sports-group{
    margin-top: 35px;
}
.card-sports-group:after{
    display: block;
    content: '';
    clear: both;
}
.search-clubs-box .card-sports-group .card-sport{
    width: 10%;
    height: 35px;
    float: left;
    background-size: 20px;
    margin-right: 1.1%;
}
.search-clubs-box .card-sports-group .card-sport img{
    width: 100%;
    max-width: 20px;
}
.search-clubs-box .card-request-membership{
    width: 100%;
    height: 38px;
    border: 2px solid #45db5e;
    box-sizing: border-box;
    border-radius: 20px;
    background: transparent;
    color: #45db5e;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 16px;
    margin-top: 25px;
}
.card-request-favorite{
    width: 100%;
    height: 38px;
    border: 2px solid #97a099;
    box-sizing: border-box;
    border-radius: 20px;
    background: transparent;
    color: #97a099;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 16px;
    margin-top: 25px;
}
/*.search-clubs-box .card-request-membership:after{
    display: inline-block;
    content: url("/img/green-arrow.png");
    margin-left: 5%;
}*/
.search-clubs-box .card-address{

}

.search-address-box{
    position: relative;
}
.search-address-box .myPosition{
    display: inline-block;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    color: #f73267;
    height: 30px;
    width: 40px;
}

.search-clubs-box .card-address{
    font-family: "Source Sans Pro", arial;
    font-size: 13px;
    color: #5781ce;
    margin-top: 25px;
}
.search-clubs-box .card-miles{
    font-family: "Source Sans Pro", arial;
    font-size: 13px;
    color: #5781ce;
    margin-top: 25px;
}
.search-clubs-box .card-hours-day{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Source Sans Pro", arial;
    font-size: 13px;
    color: #5781ce;
    margin-top: 25px;
}
.search-clubs-box .card-hours-day li{
    line-height: 20px;
}
.search-clubs-box .card-hours-day li span{
    display: inline-block;
    min-width: 35px;
}
.search-clubs-box .card-phone{
    margin-top: 25px;
}
.search-clubs-box .card-phone,
.search-clubs-box .card-email,
.search-clubs-box .card-website{
    font-family: "Source Sans Pro", arial;
    font-size: 13px;
    color: #5781ce;
    line-height: 20px;
}

.search-clubs-box .card-members{
    font-family: "Source Sans Pro", arial;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}
.filter-group .filter-day{
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid #5c8bde;
    border-radius: 8px;
    padding: 0 15px 0 5px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 12px;
    color: #5c8bde;
    margin-top: 15px;
    background: url("/img/appearance.png") 140px 8px no-repeat, transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.group-filters-gyms{
    height: 40px;
    background: rgba(255,255,255,0.05);
    margin: 35px 0 0 0;
    box-sizing: border-box;
    /*box-shadow: 2px 2px 15px 0px rgba(37, 36, 36, 0.35);*/
}
.gym-filter-box{
    padding: 0 25px;
}

.all-filter label,
.gym-filter label,
.class-filter label{
    width: 33%;
    float: left;
    height: 36px;
    line-height: 36px;
    text-align: center;
    box-sizing: border-box;
    color: white;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 13px;
    border: 2px solid white;
    cursor: pointer;
}
.gym-filter label{
    border-width: 2px;
    width: 34%;
}
.all-filter label{
    border-width: 2px 0 2px 2px;
    border-radius: 10px 0 0 10px;
}
.class-filter label{
    border-width: 2px 2px 2px 0;
    border-radius: 0 10px 10px 0;
}
.group-filters-gyms input[type="radio"]:checked + label{
    background: #f73267;
    border-color: #f73267;
}
.group-filters-gyms .gym-filter input[type="radio"]:checked + label{
    background: #f73267;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.group-filters-gyms input{
    display: none;
    visibility: hidden;
}
.game-box{
    padding: 0 30px;
}
.game-box .game-card{
    background: url("/img/games-bg.png") center no-repeat;
    background-size: cover;
    min-height: 150px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-bottom: 25px;
    margin-top: 30px;
    overflow: hidden;
}
.top25{
    margin-top: 25px !important;
}

.Basketball-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport1.png") left no-repeat;
}
.Volleyball-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport2.png") left no-repeat;
}
.Soccer-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport3.png") left no-repeat;
}
.Bubble-Soccer-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport4.png") left no-repeat;
}
.Football-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport5.png") left no-repeat;
}
.Tennis-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport6.png") left no-repeat;
}
.Hockey-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport7.png") left no-repeat;
}
.Baseball-Softball-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport8.png") left no-repeat;
}
.Racquetball-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport9.png") left no-repeat;
}

.Zumba-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class1.png") left no-repeat;
}
.Yoga-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class2.png") left no-repeat;
}
.Pilates-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class3.png") left no-repeat;
}
.Boxing-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class4.png") left no-repeat;
}
.Kickboxing-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class5.png") left no-repeat;
}
.Jazzercise-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class6.png") left no-repeat;
}
.Spin-icon{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class7.png") left no-repeat;
}


.Basketball-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport1_h.png") left no-repeat;
}
.Volleyball-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport2_h.png") left no-repeat;
}
.Soccer-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport3_h.png") left no-repeat;
}
.Bubble-Soccer-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport4_h.png") left no-repeat;
}
.Football-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport5_h.png") left no-repeat;
}
.Tennis-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport6_h.png") left no-repeat;
}
.Hockey-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport7_h.png") left no-repeat;
}
.Baseball-Softball-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport8_h.png") left no-repeat;
}
.Racquetball-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/sport9_h.png") left no-repeat;
}

.Zumba-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class1_h.png") left no-repeat;
}
.Yoga-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class2_h.png") left no-repeat;
}
.Pilates-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class3_h.png") left no-repeat;
}
.Boxing-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class4_h.png") left no-repeat;
}
.Kickboxing-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class5_h.png") left no-repeat;
}
.Jazzercise-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class6_h.png") left no-repeat;
}
.Spin-icon-active{
    width: 100%;
    height: 40px;
    background: url("/img/sports/class7_h.png") left no-repeat;
}

.game-box .game-card .sport{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 18px;
    color: white
}
.game-box .game-card .type{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: #44cb5b;
}

.game-box .game-card .clock{
    font-family: DJB;
    font-weight: 300;
    font-size: 14px;
    color: #F73267;
    padding: 5px  5px;
    border-radius: 5px;
    display: block;
}
.game-box .game-card .clock span{
    display: block;
    line-height: 50px;
    float: left;
}
.game-box .game-card .clock i{
    color: white;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    width: 27px;
    display: block;
    float: left;
}
.game-card .members_avatar .avatar,
.t_game-card .members_avatar .avatar{
    width: 30px;
    height: 30px;
    float: left;
    background-size: cover !important;
    position: relative;
    border-radius: 50%;
    z-index: -1;
}

.game-card .members_avatar .add_members_icon{
    width: 30px;
    height: 30px;
    float: left;
    background-size: cover !important;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}
.game-card .members_avatar .add_user_icon{
    width: 30px;
    height: 30px;
    float: left;
    background-size: cover !important;
    position: relative;
    border-radius: 50%;
}

.game-card .members_avatar .add_members_icon:hover{
    background: url('/img/add-member_h.png') !important;
}
.game-card .members_avatar .avatar:not(:first-child){
    margin-left: -5px;
    z-index: -1;
}

.t_game-card .members_count,
.game-card .members_count{
    display: inline-block;
    margin-top: 25px;
    float: left;
}
.t_game-card .max_countMembers,
.game-card .max_countMembers{
    float: left;
    width: 20px;
    color: #45db5e;
    text-align: center;
    margin: 9px 0 0 15px;
}
.t_game-card .max_countMembers hr,
.game-card .max_countMembers hr{
    width: 100%;
    height: 2px;
    border: 0;
    background: #45db5e;
    margin: 2px 0;
}
.t_game-card .members_count .col_count,
.game-card .members_count .col_count{
    width: 2px;
    height: 16px;
    float: left;
    background: #868791;
}
.t_game-card .members_count .col_count.green,
.game-card .members_count .col_count.green{
    background: #45db5e;
}
.t_game-card .members_count .col_count:not(:first-child),
.game-card .members_count .col_count:not(:first-child){
   margin-left: 3px;
}
.game-card .date-day{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: #5883d2;
    text-transform: uppercase;
    text-align: center;
}
.game-card .start_time{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.game-card .miles_count{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    text-align: center;
}
.game-card .name,
.game-card .address{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: #5781ce;
}
.game-card .join-btn, .game-card .watch-btn, .view-mage-btn{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #45db5e;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    display: block;
    background: transparent;
    color: #45db5e;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
}
.view-mage-btn{
    height: 30px;
    line-height: 28px;
    font-size: 13px;
}
.game-card .chat-btn{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #45db5e;
    box-sizing: border-box;
    line-height: 34px;
    text-align: center;
    display: block;
    background: transparent;
    color: #45db5e;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
}
.game-card .chat-btn-c{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #45db5e;
    box-sizing: border-box;
    line-height: 34px;
    text-align: center;
    display: block;
    background: transparent;
    color: #45db5e;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
}
.game-card .watch-btn{
    border: 1px solid #5c8bde;
    color: #5c8bde;
}
.game-card .watch-btn:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f06e';
    margin-left: 10%;

}
.game-card .watch-btn.unwatch:after{
    display: none;
    content: '';
}
.game-card .join-btn:after {
    display: inline-block;
    content: url("/img/green-arrow.png");
    margin-left: 10%;
}
.view-mage-btn:after {
    display: inline-block;
    content: url("/img/green-arrow.png");
    margin-left: 10%;
}
.game-card .price{
    font-size: 11px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    color: #3da354;
    margin: 10px 0;
    text-align: center;
}
.game-card .watch_count{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding-top: 25px;
    text-align: center;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: #5883d2;
    text-transform: uppercase;
}
.game-card .pos-relative{
    position: relative;
    min-height: 140px;
}

#sidebar-wrapper .credit-box{
    margin-top: 15px;
    color: white;
    text-align: center;
    font-family: "Source Sans Pro", arial;
    font-weight:300;
    font-size: 14px;
}
#sidebar-wrapper .credit-box span{
    color: #f73267;
}
#sidebar-wrapper .credit-box label{
    font-weight: 300;
    cursor: pointer;
}
#sidebar-wrapper .credit-box label:hover{
    text-decoration: underline;
    color: #f73267;
}
.game-card .gmaps{
    margin-top: 0;
}
.teammates-card{
    width: 100%;
    min-height: 70px;
    border-bottom: 1px solid #e9ebed;
    padding-bottom: 10px;
}
.teammates_avatar{
    margin: 16px 0 0 12px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    float:left;
}
.teammates_avatar img{
    width: 40px;
}
.teammates_fio{
    width: 90px;
    margin: 10px 0 0 15px;
    font-family: "Source Sans Pro", arial;
    font-weight:300;
    font-size: 14px;
    float: left;
}
.teammates_address{
    color: #7b8994;
    font-family: "Source Sans Pro", arial;
    font-weight:300;
    font-size: 11px;
    padding-left: 15px;
    box-sizing: border-box;
}
.add_to_game{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    left: 10px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    color: white;
    background: #f73267;
    cursor: pointer;
}
.teammates-filer-name{
    width: 100%;
    height: 24px;
    border-radius: 15px;
    border: 0;
    background: #c0c1c3;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 24px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 13px;
    color: white;
    margin-top: 20px;
}
.max_countWrapper.joinCount{
    margin-top: 8px;
}
.memberCount-box label{
    width: 100%;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: #5883d2;
    text-transform: uppercase;
    text-align: center;
}
.memberCount-box input[type="text"]{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 0;
    text-align: center;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 14px;
    color: #f73267;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
.invite_box{
    margin-top: 20px;
}
.invite_box .add_invaite_icon{
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
    background-size: cover !important;
    border-radius: 50%;
}
.add_to_game.invited{
    background: gray;
}
.add_to_game.invited i:before{
    font-size: 10px;
}
.create-match{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #45db5e;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    margin: 60px auto 0 auto;
    display: block;
    background: transparent;
    color: #45db5e;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
}
.create-match:after{
    display: inline-block;
    content: url("/img/green-arrow.png");
    margin-left: 35px;
}
.modal-btn-cancel{
    background: gray;
}
.modal-btn-cancel:after{
    width: 14px;
    height: 13px;
    display: inline-block;
    content: '';
    background: url("/img/close_white.png") center no-repeat;
    position: relative;
    margin-left: 15px;
}
.modal-btn-confirm:after{
    width: 14px;
    height: 13px;
    display: inline-block;
    content: '';
    background: url("/img/confirm_white.png") center no-repeat;
    position: relative;
    margin-left: 15px;
}
.info-payment{
    padding: 20px 0;
    color: #f73267;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
}
.info-payment span{
    font-family: "Source Sans Pro", arial;
    font-weight: 700;
    font-size: 18px;
}
.tab-group{
    padding: 0;
}
.tab-group input.tab-lobby{
    display: none;
}

.tab-group input.tab-lobby + label{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background: #c72957;
    text-align: center;
    line-height: 30px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 13px;
    color: white;
    border-right: 1px solid #d12854;
    cursor: pointer;
}
.tab-group input#lobby-all + label{
    border-radius: 10px 0 0 10px;
}
.tab-group input#lobby-invites + label{
    border-radius: 0 10px 10px 0;
    border-right: 0;
}
.tab-group input.tab-lobby:checked + label{
    background: #b2244a;
}
.teammates-bg{
    background: url("/img/teammates-bg.jpg") center no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 20px;
}
.teammates-box{
    padding: 0 30px;
}
.teammates-box .teammate-card{
    min-height: 160px;
    background: url("/img/teammates-card-bg.jpg") center no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 25px 30px;
}
.teammate-card .t_avatar{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}
.teammate-card .t_fio{
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-top: 15px;
}
.teammate-card .t_address{
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    margin-top: 5px;
}
.teammate-card .t_distance{
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    margin-top: 5px;
}
.teammate-card .t_data{
    min-height: 60px;
    border: 1px solid white;
    padding: 12px 0;
}
.teammate-card .t_head{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
.teammate-card .t_data-val{
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    display: block;
}
.teammate-card .t_sport-box{
    padding-top: 15px;
}
.teammate-card .t_sport{
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 14px;
    background-size: 15px;
    margin-top: 5px;
}
.teammate-card .t_data-blue{
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    color: #5883d2;
    text-transform: uppercase;
    line-height: 30px;
}
.teammate-card .t_blue-box{
    padding-top: 10px;
}
.clubsPage-gmaps {
    width: 100%;
    height: 180px;
    margin-top: 30px;
}
.clubPage-box .card-address{
    margin-top: 15px;
    padding-left: 15px;
}
.clubPage-box .card-miles{
    margin-top: 15px;
    padding-left: 15px;
}
.tab-for-club input{
    display: none;
}
.tab-for-club label{
    display: block;
    height: 36px;
    background: #47495f;
    cursor: pointer;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: white;
}
.tab-for-club input[type='radio']:checked + label{
    background: #f73267;
}
.cub-card .game-box{
    padding: 0 15px;
}
.more{
    color: white;
}
.more:hover, .more:active{
    color: #5781ce;
    text-decoration: none;
}
.teammate-card .t_box-avatar{
    width: 100px;
    height: 65px;
    margin: 0 auto;
    position: relative;
}
.teammate-card .t_facebook{
    width: 10px;
    height: 10px;
    background: url("/img/facebook.png") -1px -1px, white;
    position: absolute;
    bottom: 0;
    left: -10px;
    border-radius: 2px;
}
.teammate-card .t_status.offline{
    width: 10px;
    height: 10px;
    background: url("/img/offline.png") center no-repeat;
    position: absolute;
    top: 0;
    left: -10px;
}
.teammate-card .t_status.online{
    background: url("/img/online.png") center no-repeat;
}
.teammate-card .t_favorites{
    width: 11px;
    height: 10px;
    background: url("/img/favorite.png") center no-repeat;
    position: absolute;
    top: 25px;
    left: -10px;
}
.teammate-card .t_verification{
    width: 12px;
    height: 12px;
    background: url("/img/verified_green.png") center no-repeat;
    background-size: 12px;
    position: absolute;
    top: 0;
    right: -5px;
}
.teammate-card.tp-bg{
    background: url("/img/tp-bg.jpg") center no-repeat;
    background-size: cover;
}
.teammate-card .t-title{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: white;
    margin-top: 20px;
}
.row-30{
    margin: 0 -30px;
}
.teammate-card .t-tabs-box .t-tab input[type="radio"]{
    display: none;
}
.teammate-card .t-tabs-box .t-tab label{
    width: 100%;
    height: 36px;
    background: #47495f;
    text-align: center;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: white;
    line-height: 36px;
    box-sizing: border-box;
    cursor: pointer;
}
.teammate-card .t-tabs-box input[type="radio"]#tab_watched + label{
    border-left: 1px solid #6c6d7e;
    border-right: 1px solid #6c6d7e;
}

.teammate-card .t-tabs-box input[type="radio"]:checked + label{
    background: #f73267;
    border-color: #f73267 !important;
}

.teammate-card .t_game-card{
    width: 100%;
    background: url("/img/teammates-card-bg.jpg") center no-repeat;
    background-size: cover;
    min-height: 88px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 9px rgba(0, 0 ,0 ,0.3);
}

.t_game-card .members_avatar{
    margin-top: 25px;
    height: 30px;
    overflow: hidden;
    padding-left: 5px;
}
.t_game-card .max_countWrapper{
    padding: 6px 0 0 20px;
}
.t_game-card .t_sport-type{
    background-position: center;
    margin-top: 22px;
}
.t_game-card .t_address-game{
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    margin-top: 25px;
}
.t_game-card .t_clock {
    width: 102px;
    font-family: DJB;
    font-weight: 300;
    font-size: 17px;
    color: #ffcd24;
    margin-top: 30px;
}

.t_game-card .t_date{
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    color: #ffcd24;
    margin-top: 31px;
    text-align: center;
}
.dropdown-box .btn-danger{
    background-image: none !important;
    background: #b2244a;
    outline: none !important;
    border: 0;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 13px;
    color: white;
    text-transform: capitalize;
}
.dropdown-box .btn-danger:hover{
    background: #ab254c;
}
.dropdown-box .dropdown-menu{
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
}
.dropdown-box .dropdown-menu .tab-group{
    height: 30px;
}
.dropdown-box .dropdown-menu .tab-group label{
    display: block;
    background: white;
    color: #ab254c;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    border: 0;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
    border-radius: 0px !important;
    margin: 0 !important;
    cursor: pointer;
}
.dropdown-box .dropdown-menu .tab-group label:hover{
    background: #F73267;
    color: white;

}

.dropdown-box .dropdown-menu .tab-group input.tab-lobby:checked + label {
    background: #F73267 !important;
    color: white !important;
}

.tab-a-box .tab-group a {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background: #c72957;
    text-align: center;
    line-height: 30px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 13px;
    color: white;
    border-right: 1px solid #d12854;
    text-decoration: none;
    cursor: pointer;
}
.tab-a-box .tab-group.first-tab a{
    border-radius: 10px 0 0 10px;
}
.tab-a-box .tab-group.end-tab a{
    border-radius: 0 10px 10px 0;
}
.tab-a-box .tab-group a.active{
    background: #b2244a;
}

.active-filter label, .post-filter label {
    width: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    text-align: center;
    box-sizing: border-box;
    color: white;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 13px;
    border: 2px solid white;
    cursor: pointer;
}
.active-filter label{
    border-radius: 10px 0 0 10px;
}
.post-filter label{
    border-radius: 0 10px 10px 0;
}
.group-filters-gyms{
    border-radius: 15px;
}
.club_games-box .t_game-card {
    background: url(/img/teammates-card-bg.jpg) center no-repeat;
    background-size: cover;
    min-height: 88px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 9px rgba(0, 0 ,0 ,0.3);
}

.dropdown-box .dropdown-menu .tab-group a {
    display: block;
    background: white;
    color: #ab254c;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    border: 0;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
    border-radius: 0px !important;
    margin: 0 !important;
    cursor: pointer;
}

.dropdown-box .dropdown-menu .tab-group a:hover {
    background: #F73267;
    color: white;
}

.login-form .informer-text{
    padding: 0;
}
.button-signin, .button-signin-f {
    margin: 10px auto;
}
.ngsb-wrap .ngsb-scrollbar {
    width: 6px !important;
}
.members-dropdown-box{
    padding: 20px 20px 0 20px;
}
.all-filter label {
    border-width: 2px 0 2px 2px;
    border-radius: 10px 0 0 10px;
}
.group-filters-member .all-filter label, .group-filters-member .gym-filter label, .group-filters-member .class-filter label {
    width: 25%;
}
.group-filters-member input{
    display: none;
}
.padding30{
    padding: 0 30px;
}
.gv-inform-text{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 14px;
}
.gv-inform-text span{
    display: block;
    font-size: 20px;
    color: #f73267;
    margin-bottom: 20px;
}

.green_btn {
    width: 100%;
    height: 40px;
    text-align: center;
    background: transparent;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 16px;
    color: #45db5e;
    box-sizing: border-box;
    border: 1px solid #45db5e;
    border-radius: 25px;
    margin-top: 40px;
}
.reserve {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #5c8bde;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    margin: 60px auto 0 auto;
    display: block;
    background: transparent;
    color: #5c8bde;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
}
.withdraw-wrap{
    margin-top: 25px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
}
.withdraw-box{
    text-align: center;
}
.head-withdraw{
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #5883d2;
    color: white
}
.withdraw-box span{
    display: block;
    text-align: center;
    font-family: "Source Sans Pro", arial;
    font-weight: 700;
    line-height: 50px;
}
.withdrawal-btn{
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    background: #b2244a;
    font-family: "Source Sans Pro", arial;
    weight: 400;
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 0 auto 15px auto;
}
.create-withdrawal-box label{
    color: rgb(173, 173, 173);
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 11px;
    margin-top: 10px;
    text-align: left;
}
.history-box{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-family: "Source Sans Pro";
    font-weight: 400;
    margin-top: 15px;
}
.history-head{
    border-bottom: 1px solid rgba(88,131,210,0.65);
}
.create-withdrawal-box input{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    line-height: 49px;
    font-size: 15px;
    color: #4d606f;
    font-family: "Source Sans Pro";
    font-weight: 300;
    float: left;
    text-align: center;
}

.list-date-box{
    position: relative;
    height: 26px;
    margin: 30px 20px 0 20px;
    text-align: center;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}
.list-date-box span{
    color: #f73267;
    padding: 5px 10px;
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 13px;
    background: rgba(255,255,255,0.1);
    border-radius: 5px 5px 0 0;
}
.notification-box{
    padding: 0 30px;
}
.notification-box .notification-icon-active{
    color: #45db5e;
}
.notification-box .notification-icon{
    color: #fff;
}
.notification-box .notification-card {
    width: 100%;
    background: url(/img/teammates-card-bg.jpg) center no-repeat;
    background-size: cover;
    min-height: 58px;
    border-radius: 8px;
    box-shadow: 0 0 9px rgba(0, 0 ,0 ,0.3);
    margin-top: 30px;
    padding-bottom: 30px;
}
.notification-card .date,
.notification-card .time,
.notification-card .text{
    font-family: "Source Sans Pro";
    font-weight: 400;
    color: white;
    line-height: 20px;
}
.notification-card .text{
    color: #5883d2;
}
.notification-card .watch-btn {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #45db5e;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    display: block;
    background: transparent;
    color: #45db5e;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
}
.showNGame .game-card{
    margin-top: 0 !important;
    border-radius: 0;
}
.showNGame{
    padding: 0 !important;
}
.feedback-bg2{
    background: url("/img/bg2.jpg");
}
.feedback-bg2 .icon-center{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-size: contain;
}
.feedback-bg2 .sport{
    text-align: center;
    font-family: "Source Sans Pro", arial;
    font-weight: 300 !important;
    font-size: 40px!important;
    padding-top: 20px;
}
.feedback-bg2 .name-center{
    font-family: "Source Sans Pro", arial;
    font-weight: 300 !important;
    font-size: 18px!important;
    color: #5883d2;
    text-align: center;
    padding-top: 30px;
}
.feedback-bg2 .address-center{
    font-family: "Source Sans Pro", arial;
    font-weight: 300 !important;
    font-size: 18px!important;
    color: #5883d2;
    text-align: center;
}
.feedback-bg2 .date_time{
    font-family: "Source Sans Pro", arial;
    font-weight: 300 !important;
    font-size: 18px!important;
    color: #5883d2;
    text-align: center;
    padding-top: 5px;
}
.feedback-bg2 .members_avatar {
    margin-top: 25px;
    height: 30px;
    overflow: hidden;
    padding-left: 5px;
    width: 60%;
    margin-left: 20%;
}
.feedback-bg2 .quest{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 20px;
    color: #f8f8f8;
    padding-top: 60px;
    text-align: center;
}
.feedback-bg2 .sweet {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #45db5e;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    display: block;
    background: transparent;
    color: #45db5e;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
}
.feedback-bg2 .sweet:after {
    display: inline-block;
    content: url(/img/green-arrow.png);
    margin-left: 10%;
}
.feedback-bg2 .bad {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #f73267;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    display: block;
    background: transparent;
    color: #f73267;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
}
.feedback-bg2 .bad:after {
    width: 38px;
    height: 12px;
    display: inline-block;
    content: url(/img/red-arrow.png);
    margin-left: 10%;
}
.feedback-bg2 .sweet-bad-box{
    border-radius: 15px;
    background: rgba(255,255,255, 0.05);
    padding: 40px 0;
}
.feedback-bg2 .head{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.feedback-bg2 .bad-group input[type="radio"]{
    display: none;
}
.feedback-bg2 .bad-group input[type="radio"] + label{
    position: relative;
    line-height: 30px;
    font-family: "Source Sans Pro", arial;
    font-weight: 200;
    font-size: 18px;
    color: #fff;
    padding-left: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.feedback-bg2 .bad-group input[type="radio"] + label:before{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #f73267;
    content: '';
    left: 0;
    top: 0;
}
.feedback-bg2 .bad-group input[type="radio"]:checked + label:before{
    background: #f73267;
}
.top60{
    margin-top: 60px !important;
}
.feedback-bg2 .user-flag{
    display: block;
    width: 20px;
    height: 21px;
    background: url("/img/user_flag.png") center no-repeat;
    background-size: contain;
    margin-top: 10px;
}
.feedback-bg2 .avatar {
    width: 40px;
    height: 40px;
}
.feedback-bg2 .fio {
    font-family: "Source Sans Pro", monospace;
    font-weight: 200;
    font-size: 18px;
    color: #ffffff;
    line-height: 40px;
}
.yellow-star, .grey-star{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 6%;
}
.yellow-star:before{
    content: "\f005";
    color: #ffc600;
}
.grey-star:before{
    content: "\f005";
    color: #9e9fa8;
}
.feedback-bg2 .user-rating{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.feedback-bg2 .sweet-row{
    margin-top: 25px;
}
.notification-box .disabled_btn{
    border-color: #afafaf;
    color: #afafaf;
    cursor: not-allowed;
}

.notification-addBox{
    padding: 30px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.notification-addBox:after{
    display: block;
    content: '';
    clear: both;
}
.notification-addBox input{
    width: 100%;
    height: 35px;
    font-family: "Source Sans Pro", monospace;
    font-weight: 400;
    font-size: 14px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255, 0.42);
    color: #ffffff;
}
.notification-addBox textarea, .notification-addBox #description{
    width: 100%;
    height: 200px;
    font-family: "Source Sans Pro", monospace;
    font-weight: 400;
    font-size: 14px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255, 0.42);
    color: #ffffff;
    resize: vertical;
    margin-top: 30px;
}
.notification-addBox .btn{
    background: #f73267;
    border: 1px solid #f73267;
    color: white;
    text-shadow: none;
}
.notification-addBox .wysiwyg-select{
    background: white;
    border: 1px solid white;
    text-shadow: none;
}
.notification-addBox #description{
    box-shadow: none;
    margin-top: 0;
    padding: 0;
}
.notification-addBox .btn:hover{
    background: #ab254c;
}

.notification-addBox .btn.active{
    background: #ab254c;
}
.notification-addBox div[textarea-id="description"]{
    background: #5d5e71;
    padding: 15px;
    border-radius: 5px;
    margin-top: 30px;
}
.notification-addBox .textareaPlaceholder{
    font-family: "Source Sans Pro", monospace;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255,255,255, 0.42);
    margin-top: 20px;
}
.notif-text_box{
    padding: 30px;
}
.notif-text_box .notif-text{
    background: rgba(255,255,255,0.1);
    padding: 10px;
    border-radius: 10px;
}
.notif-text_box .notif-text h1{
    font-family: "Source Sans Pro", monospace;
    font-weight: 400;
    font-size: 16px;
    color: #f73267;
}
.notif-text_box .notif-text p{
    font-family: "Source Sans Pro", monospace;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}
.history_box{
    padding: 30px;
}
.history_box .history_card{
    border-radius: 10px;
    background: rgba(255,255,255,0.05);
    padding: 20px;
    margin-top: 30px;
}
.history_card .title{
    font-family: "Source Sans Pro", monospace;
    font-weight: 400;
    font-size: 18px;
    color: #f73267;
}
.history_card .text{
    font-family: "Source Sans Pro", monospace;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.unreadN{
    display: inline-block;
    color: #f73267;
    border: 1px solid #f73267;
    padding: 2px 6px;
    border-radius: 50%;
    font-family: "Source Sans Pro", monospace;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-indent: 0;
    position: absolute;
    top: 13px;
    right: 20px;
}
.unreadBlue{
    color: #45db5e;
    border: 1px solid #45db5e;
}
.clear-btn{
    display: block;
    border: 1px solid #f73267;
    color: #f73267;
    height: 25px;
    border-radius: 20px;
    background: none;
    margin: 10px auto 0 auto;
    padding: 0 30px;
}
.clear-btn:hover{
    cursor: pointer;
    background: #f73267;
    color: white;
    transition: 0.5s;
}
.toast-info, .toast-wait {
    background-color: #b5244b;
}
#toast-container>div:hover {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}
#toast-container>div {
    -moz-box-shadow: 3px 3px 11px #000;
    -webkit-box-shadow: 3px 3px 11px #000;
    box-shadow: 3px 3px 11px #000;
    color: #fff;
    opacity: .9;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}
.club-item_box .court_name{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 18px;
    color: white;
}
.club-item_box .court_type{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: #44cb5b
}
.club-item_box .court_access{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: #5c8bde;
    margin-top: 15px;
}
.club-item_box .court_price,
.club-item_box .court_number,
.club-item_box .court_members{
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
}
.club-item_box .court_number,
.club-item_box .court_members{
    margin-top: 10px;
}
.club-item_box .court_price i,
.club-item_box .court_number i,
.club-item_box .court_members i{
    display: inline-block;
    width: 30px;
    color: #44cb5b;
    text-align: center;
}
.club-item_box .court_sport{
    width: 40px;
    margin: 0 auto;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #f73267;
}
.tooltip-inner {
    background-color: #f73267;
}
.newGameBox .filter-group .filter-name{
    height: 40px;
}
.newGameBox .filter-title{
    color: #f73267;
    font: 400 14px/20px "Source Sans Pro", arial;
}
.newGameBox .court_name,
.newGameBox .court_price,
.newGameBox .court_number,
.newGameBox .court_members{
    color: black;
}
.newGameBox .court_number, .newGameBox .court_members {
    margin-top: 0;
}
.newGameBox .gyms-box{
    margin-top: 0;
}
.newGameBox .manage-box {
    padding: 0 15px;
}
.newGameBox .manage-box{
    min-height: 61px;
}
.newGameBox .distance-group .distance5,
.newGameBox .distance-group .distance10,
.newGameBox .distance-group .distance25{
    height: 38px;
    line-height: 38px;
    font-size: 14px;
}
.newGameBox .distance-box .filter-radio-group {
    height: 40px;
}
.newGameBox .filter-group .filter-name {
    font-size: 14px;
    text-align: center;
}
.createdGames-box {
    margin-top: 15px;
}
.createdGames-box .game-card_list{
    margin-top: 20px;
    background: rgba(255,255,255,0.1);
    padding: 10px 0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.createdGames-box .game_cell span{
    display: inline-block;
    min-width: 90px;
    color: #f73267;
    font: 400 16px/20px "Source Sans Pro", arial;
}
.createdGames-box .game_cell{
    color: white;
    font: 400 14px/20px "Source Sans Pro", arial;
}
.invite_header{
    color: #45db5e;
    font: 300 16px/20px "Source Sans Pro", arial;
}
.invite_box div:not(:first-child) .add_invaite_icon{
    margin-left: -5px;
}
.game-card .members_avatar {
    margin-top: 25px;
    height: 30px;
    overflow: hidden;
    padding-left: 5px;
}
.join-tpl .members_avatar a{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.col-75{
    width: 75%;
    float: left;
}
.col-25{
    width: 25%;
    float: left;
}
.col-30{
    width: 30%;
    float: left;
    padding-left: 20px;
}
.col-20{
    width: 20%;
    float: left;
    padding-left: 20px;
}
.col-40{
    width: 40%;
    float: left;
    padding-left: 20px;
}
.game-box .game-card .clock:after{
    display: block;
    content: '';
    clear: both;
}
.game-box .game-card .clock span{
    display: block;
    line-height: 30px;
    float: right;
}
.game-box .game-card .clock i{
    color: white;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    width: 27px;
    display: block;
    float: left;
    line-height: 14px;
}
.game-card .miles_count {
    padding-top: 15px;
    text-align: left;
}
.game-card .green_price{
    font-size: 12px;
    padding-top: 37px;
    text-align: center;
    display: block;
    color: #45db5e;
    font-weight: 300;
}
.game-card .red_price{
    font-size: 12px;
    padding-top: 37px;
    padding-right: 5px;
    text-align: center;
    display: block;
    color: #f73267;
    font-weight: 300;
}
.game-card .watch-btn.custom-w{
    margin-top: 15px;
}
.game-card .reserve-btn{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #f73267;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    display: block;
    background: transparent;
    color: #f73267;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
}
.game-card .reserve-btn:after {
    display: inline-block;
    content: url("/img/red-arrow.png");
    margin-left: 10%;
}
.inviteBtn{
    border: 1px solid #f73267;
    height: 40px;
    font-size: 16px;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    margin-left: 15px;
    background: none;
    padding: 0 40px;
    border-radius: 25px;
    color: #f73267;
}
.inviteBtn:hover{
    background: #f73267;
    color: white;
    transition: 1s;
}
.inviteBtn.active_invite{
    background: #f73267;
    color: white;
    transition: 1s;
}
.removeGame-btn{
    position: absolute;
    width: 15%;
    height: 100%;
    top: 0;
    right: -15%;
    transition: 0.2s;
    background: rgba(247, 50, 103, 1);
    color: white;
    text-align: center;
    cursor: pointer;
    line-height: 83px;
}

.createdGames-box .game-card_list:hover .removeGame-btn{
    right: 0px;
}

.invite_user-box .name_box{
    padding-top: 15px;
}
.invite_user-box .name_box span{
    font-size: 12px;
    font-family: "Source Sans Pro", arial;
    color: #5883d2;
}
.invite_user-box .icon-sport{
    margin-top: 13px;
}
.teammates-card{
    position: relative;
}
.invite_user-box .invite_box{
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -125px;
    transition: 0.5s;
    z-index: 99;
    margin: 0;
    background: #f73267;
    color: white;
    text-align: center;
    cursor: pointer;
}
.invite_user-box .invite_box i{
    position: absolute;
    top: 48%;
    left: 10px;
}
.invite_user-box .teammates-card:hover .invite_box{
    right: -35px;
}
.invite_user-box .invited_text{
    color: #45db5e;
    font-size: 12px;
}
.request_text{
    font-size: 18px;
    font-family: "Source Sans Pro", arial;
    color: #5883d2;
    padding-top: 22px;
}
.request_club{
    font-style: italic;
}
.u_fio{
    color: #f73267;
    font-weight: 300;
}
.u_fio:hover, .u_fio:active{
    color: #f73267;
}
.accept_request {
    width: 100%;
    height: 38px;
    border: 2px solid #45db5e;
    box-sizing: border-box;
    border-radius: 20px;
    background: transparent;
    color: #45db5e;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 16px;
    margin-top: 22px;
}
.decline_request {
    width: 100%;
    height: 38px;
    border: 2px solid #f73267;
    box-sizing: border-box;
    border-radius: 20px;
    background: transparent;
    color: #f73267;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 16px;
    margin-top: 22px;
}
.disable-btn{
    color: #97a099 !important;
    border-color: #97a099 !important;
}
.disable-btn:after{
    display: none !important;
}
@media screen and (max-width: 768px) {
    .two-tab.right-tab label{
        border-radius: 0 10px 10px 0;
    }
    .two-tab.left-tab label{
        border-radius: 10px 0 0 10px;
    }
    .one-tab label{
        border-radius: 10px !important;
    }
    .filter-box .filter-menu{
        margin-right: 0;
    }
}

@media screen and (max-width: 1366px) {
    .sidebar-nav li{
        height: 40px;
    }
    .filter-title{
        margin-top: 15px;
    }
}
.ngsb-thumb{
  background-color: #f73267 !important;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-track{
  background: rgba(0,0,0,0.1) !important;
}
.avatar{
    width: 30px;
    height: 30px;
    float: left;
    background: red;
    background-size: cover !important;
    position: relative;
    border-radius: 50%;
    z-index: -1;
}
.blur{
  -webkit-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  opacity: 0.3;
}
.new{
    background-color: #ffdae4;
    border-bottom:1px solid #e7e7e7;
}
.typing-indicator {
  background-color: #E6E7ED;
  width: auto;
  border-radius: 50px;
  padding: 5px;
  display: table;
  margin: 0 auto;
  position: relative;
  -webkit-animation: 2s bulge infinite ease-out;
          animation: 2s bulge infinite ease-out;
}
.typing-indicator::before, .typing-indicator::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #E6E7ED;
}
.typing-indicator::after {
  height: 2px;
  width: 2px;
  left: -10px;
  bottom: -10px;
}
.typing-indicator span {
  height: 5px;
  width: 5px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
html {
  display: table;
  height: 100%;
  width: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
}
.typing-container{
  width: 100px;
  float: left;
  height: 40px;
  margin-top: 20px;
}
.select-text{
  text-align: center;
  color: #f73267 !important;
}
