<div class="row no-margin feedback-bg2" style="padding: 30px;">
    <div class="col-sm-12 col-xs-12 sweet-bad-box">
        <div class="head">What went wrong?</div>
        <div class="col-sm-8 col-xs-8 col-sm-offset-2 col-xs-offset-2">
            <div class="bad-group" data-ng-repeat="(index, quest) in badArray">
                <input type="radio" name="bad-quest" data-ng-model="badQuest.value" id="bad{{$index}}" value="{{quest.id}}">
                <label for="bad{{$index}}">{{quest.quest}}</label>
            </div>
            <div class="col-xs-10 col-xs-offset-1 top60">
                <button class="bad" data-ng-click="badSubmit(badQuest)">Submit</button>
            </div>
        </div>
    </div>

</div>