<div class="row no-margin feedback-bg2">
    <div class="row no-margin game-box showNGame">
        <div class="col-sm-12 game-card clearFix no-padding">
            <div class="col-sm-12">
                <div class="row no-margin no-padding">
                    <div class="col-sm-12 col-xs-12 no-padding top25">
                        <div class="{{game.gym_sport}}-icon icon-center"></div>
                    </div>
                    <div class="col-sm-12 col-xs-12 no-padding">
                        <div class="sport">{{game.gym_sport}}</div>
                    </div>
                    <div class="name-center col-sm-12 col-xs-12 no-padding">{{game.name}}</div>
                    <div class="address-center col-sm-12 col-xs-12 no-padding">{{game.address}}</div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="date_time">{{ game.date | day_notification }} at {{ game.start_time | filterClockSlider }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="col-sm-12 no-padding">
                    <div class="members_avatar clearFix top25 col-md-12 col-xs-6 no-padding" data-ng-show="game.game != 0">
                        <div data-ng-repeat="(index, card_avatar) in game.members_avatar">
                            <div class="avatar" style="z-index: {{game.members_avatar.length - index}}; margin-left: -5px; background: url('{{ card_avatar.img | avatar_type }}'), red;" data-ng-if="card_avatar.img != ''"></div>
                            <div class="avatar" style="z-index: 7; background: url('/img/no_avatar_vopros.jpg');" data-ng-if="card_avatar.img == ''"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="quest">How was your experience?</div>
            </div>
            <div class="col-sm-12 col-xs-12 top25">
                <div class="col-xs-6"><button class="sweet" data-ng-click="sweet()">Sweet</button></div>
                <div class="col-xs-6"><button class="bad" data-ng-click="bad()">Bad</button></div>
            </div>
        </div>
    </div>
</div>