<div class="row no-margin feedback-bg2" style="padding: 30px;">
    <div class="col-sm-12 col-xs-12 sweet-bad-box">
        <div class="head">Player Ratings</div>
        <div class="col-sm-10 col-xs-10 col-sm-offset-1 col-xs-offset-1">
            <div class="row no-margin sweet-row"  data-ng-repeat="(index, sweet) in sweetArray">
                <div class="col-sm-1 col-xs-1 class-flag no-padding"><i class="user-flag"></i></div>
                <div class="col-sm-2 col-xs-2  no-padding">
                    <div class="avatar" style="z-index: 1; background: url('{{ sweet.avatar | avatar_type }}'), red;" data-ng-if="sweet.avatar != ''"></div>
                    <div class="avatar" style="z-index: 1; background: url('/img/no_avatar_vopros.jpg');" data-ng-if="sweet.avatar == ''"></div>
                </div>
                <div class="col-sm-5 col-xs-5 fio no-padding">{{sweet.first_name}} {{sweet.last_name}}</div>
                <div class="col-sm-4 col-xs-4 no-padding">
                    <div class="user-rating" uib-rating data-ng-model="rate.stars[sweet.id]" data-max="max" data-state-on="'yellow-star'" data-state-off="'grey-star'" aria-labelledby="custom-icons-1"></div>
                </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1 top60">
                <button class="sweet" data-ng-click="sweetSubmit(rate)">Submit</button>
            </div>
        </div>
    </div>
</div>