<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-1">
            <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                  aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="row clearFix">
        <div class="row" data-ng-show="!newForm">
            <button class="btn btn-primary type_btn" data-ng-click="newCategory()">New type</button>
        </div>
        <div class="category-add-box" data-ng-show="newForm">
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="control-label" for="inputCategory">Type Name</label>
                    <input class="form-control" id="inputCategory" data-ng-model="tp.name">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group has-feedback">
                    <label class="control-label" for="inputPercent">Percent</label>
                    <div class="input-group">
                        <input class="form-control" id="inputPercent" data-ng-model="tp.percent">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" data-ng-click="add_category(tp)">Save type</button>
                </div>
            </div>
        </div>

        <div class="category-add-box" data-ng-repeat="type in types">
            <div class="col-sm-6">
                <div class="form-group">
                    <input class="form-control" id="inputName" data-ng-model="type.name">
                    <input type="hidden" data-ng-model="type.id">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="inputPercent" data-ng-model="type.percent">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <button type="button" class="btn btn-primary pull-right" data-ng-click="up_category(type)"><i class="fa fa-refresh" aria-hidden="true"></i> Update</button>
                </div>
            </div>
        </div>
    </div>
</div>