<div class="container-fluid bg1">
	<div class="row head-panel">
		<div class="col-sm-1">
			<button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
																				  aria-hidden="true"></i></button>
		</div>
	</div>
	<div class="row club_box">
		<div class="col-lg-12 club_item" data-ng-repeat="club in club_cards">
			<div class="col-lg-5">
				<div class="col-lg-12 club_property">
					<span>Name:</span> {{club.name}}
				</div>
				<div class="col-lg-12 club_property">
					<span>Address:</span> {{club.address}}
				</div>
				<div class="col-lg-12 club_property">
					<span>Email:</span> {{club.email}}
				</div>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-12 club_property">
					<span>First Name:</span> {{club.first_name}}
				</div>
				<div class="col-lg-12 club_property">
					<span>Last Name:</span> {{club.last_name}}
				</div>
				<div class="col-lg-12 club_property">
					<span>Phone Number:</span> {{club.phone}}
				</div>
			</div>
			<div class="col-lg-3 no-padding">
				<div class="col-lg-12">
					<select name="club_type" class="club_types form-control" data-ng-model="club.fees" data-ng-options="type.id as type.name for type in club_types">
						<!--<option ng-repeat="type in types" value="{{type.id}}"
								ng-selected="{{ type.id == club.fees }}">
							{{type.name}}
						</option>-->
					</select>
				</div>
				<div class="col-lg-6 club_property">
					<button type="button" class="btn btn-success" data-ng-click="confirm(club)"><i class="fa fa-check" aria-hidden="true"></i> Confirm</button>
				</div>
				<div class="col-lg-6 club_property">
					<button type="button" class="btn btn-danger" data-ng-click="remove(club.id)"><i class="fa fa-times" aria-hidden="true"></i> Reject</button>
				</div>
			</div>
		</div>
		<p class="bg-info text-center inform-box" data-ng-if="clubs.length == 0">Now there is no clubs</p>
	</div>
</div>