<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-1">
            <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                  aria-hidden="true"></i></button>
        </div>
    </div>
    <h1>List of Clubs</h1>
    <div class="row search-clubs-box">
        <div class="cub-card" data-ng-show="club_cards.name != ''" data-ng-repeat="(index, card) in club_cards">
            <div class="col-xs-12">
                <div class="col-lg-3">
                    <span class="card-name">{{card.name}}</span>
                </div>
                <div class="col-lg-5">
                    <div class="card-sports-group">
                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Basketball') >= 0)" src="/img/sports/sport1.png" alt="saport1"><img data-ng-show="(card.sports.split(',').indexOf('Basketball') >= 0)" src="/img/sports/sport1_h.png" alt="saport1"></div>
                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Volleyball') >= 0)" src="/img/sports/sport2.png" alt="saport2"><img data-ng-show="(card.sports.split(',').indexOf('Volleyball') >= 0)" src="/img/sports/sport2_h.png" alt="saport2"></div>
                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Soccer') >= 0)" src="/img/sports/sport3.png" alt="saport3"><img data-ng-show="(card.sports.split(',').indexOf('Soccer') >= 0)" src="/img/sports/sport3_h.png" alt="saport3"></div>
                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Bubble Soccer') >= 0)" src="/img/sports/sport4.png" alt="saport4"><img data-ng-show="(card.sports.split(',').indexOf('Bubble Soccer') >= 0)" src="/img/sports/sport4_h.png" alt="saport4"></div>
                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Football') >= 0)" src="/img/sports/sport5.png" alt="saport5"><img data-ng-show="(card.sports.split(',').indexOf('Football') >= 0)" src="/img/sports/sport5_h.png" alt="saport5"></div>
                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Tennis') >= 0)" src="/img/sports/sport6.png" alt="saport6"><img data-ng-show="(card.sports.split(',').indexOf('Tennis') >= 0)" src="/img/sports/sport6_h.png" alt="saport6"></div>
                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Hockey') >= 0)" src="/img/sports/sport7.png" alt="saport7"><img data-ng-show="(card.sports.split(',').indexOf('Hockey') >= 0)" src="/img/sports/sport7_h.png" alt="saport7"></div>
                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Baseball/Softball') >= 0)" src="/img/sports/sport8.png" alt="saport8"><img data-ng-show="(card.sports.split(',').indexOf('Baseball/Softball') >= 0)" src="/img/sports/sport8_h.png" alt="saport8"></div>
                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Racquetball') >= 0)" src="/img/sports/sport9.png" alt="saport9"><img data-ng-show="(card.sports.split(',').indexOf('Racquetball') >= 0)" src="/img/sports/sport9_h.png" alt="saport9"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <button class="update_gym_btn" data-ng-click="updateClub(card.id)">Edit club</button>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-lg-3 col-sm-12">
                    <div class="card-address">{{card.address}}</div>
                </div>
                <div class="col-lg-5 col-xs-12">
                    <div class="col-lg-6 col-xs-6 no-padding">
                        <ul class="card-hours-day">
                            <li><span>Mon: </span><span data-ng-show="!card.hours.mon">Not working</span><span data-ng-show="card.hours.mon">{{card.hours.mon.start | filterClock}} - {{card.hours.mon.end | filterClock}}</span></li>
                            <li><span>Tue: </span><span data-ng-show="!card.hours.tue">Not working</span><span data-ng-show="card.hours.tue">{{card.hours.tue.start  | filterClock}} - {{card.hours.tue.end | filterClock}}</span></li>
                            <li><span>Wed: </span><span data-ng-show="!card.hours.wed">Not working</span><span data-ng-show="card.hours.wed">{{card.hours.wed.start | filterClock}} - {{card.hours.wed.end | filterClock}}</span></li>
                            <li><span>Thu: </span><span data-ng-show="!card.hours.thu">Not working</span><span data-ng-show="card.hours.thu">{{card.hours.thu.start | filterClock}} - {{card.hours.thu.end | filterClock}}</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-xs-6 no-padding">
                        <ul class="card-hours-day">
                            <li><span>Fri: </span><span data-ng-show="!card.hours.fri">Not working</span><span data-ng-show="card.hours.fri">{{card.hours.fri.start | filterClock}} - {{card.hours.fri.end | filterClock}}</span></li>
                            <li><span>Sat: </span><span data-ng-show="!card.hours.sat">Not working</span><span data-ng-show="card.hours.sat">{{card.hours.sat.start | filterClock}} - {{card.hours.sat.end | filterClock}}</span></li>
                            <li><span>Sun: </span><span data-ng-show="!card.hours.sun">Not working</span><span data-ng-show="card.hours.sun">{{card.hours.sun.start | filterClock}} - {{card.hours.sun.end | filterClock}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="col-lg-12 col-xs-12 no-padding">
                        <div data-ng-show="card.phone" class="card-phone">Phone: {{card.phone}}</div>
                        <div data-ng-show="card.email" class="card-email">Email: {{card.email}}</div>
                        <div data-ng-show="card.website" class="card-website">Website: {{card.website}}</div>
                    </div>
                    <div class="col-lg-12 col-xs-12 no-padding">
                        <div class="card-members">
                            Members<br>
                            {{card.members | number:0}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="bg-info text-center inform-box" data-ng-if="club_cards.length == 0">Now there is no clubs</p>
    </div>
    <script type="text/ng-template" id="updateModalContent">
        <div class="form-add-box clearFix">
            <form name="editClubForm" ng-submit="updateClub(club)">
                <div class="manage-box">
                    <div class="row">
                        <div class="col-md-6 club-control unique-name">
                            <div class="col-xs-3 no-padding"><label for="enter-name">Enter name</label></div>
                            <!---->
                            <div class="col-xs-9 no-padding"><input type="text" id="enter-name" required="required"
                                                                    data-ng-change="checkName(club.name)"
                                                                    data-ng-model-options="{ debounce: 2000 }"
                                                                    data-ng-model="club.name">
                                <i data-ng-show="chekSpiner" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                                <span data-ng-show="!check" style="color: #f73267;"><i data-ng-show="chekText != ''" class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{chekText}}</span>
                                <span data-ng-show="check" style="color: #32f7a7;"><i data-ng-show="chekText != ''" class="fa fa-check" aria-hidden="true"></i> {{chekText}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 club-control top25">
                            <div class="radio-box">
                                <div class="radio-group1">
                                    <input type="radio" name="type" id="enter-private" value="private"
                                           data-ng-model="club.type">
                                    <label for="enter-private">Private</label>
                                </div>
                                <div class="radio-group1">
                                    <input type="radio" name="type" id="enter-public" value="public"
                                           data-ng-model="club.type">
                                    <label for="enter-public">Public</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 club-control">
                            <div class="col-xs-3 no-padding"><label for="enter-address">Enter Address</label></div>
                            <div class="col-xs-9 no-padding"><input type="text" id="enter-address"
                                                                    data-g-places-autocomplete required="required"
                                                                    data-ng-model="club.address"
                                                                    data-ng-change="changeAddress();"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 club-control head-text">Contact information</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 club-control">
                            <div class="col-xs-3 no-padding"><label for="enter-phone" class="format-text">Phone</label>
                            </div>
                            <div class="col-xs-9 col-md-8 no-padding"><input type="tel" id="enter-phone" required="required"
                                                                             data-ui-mask="999-999-9999"
                                                                             data-ui-mask-placeholder=" "
                                                                             data-ui-mask-placeholder-char="_"
                                                                             data-ng-model="club.phone"></div>
                        </div>
                        <div class="col-md-6 club-control">
                            <div class="col-xs-3 no-padding"><label for="enter-website"
                                                                    class="format-text">Website</label></div>
                            <div class="col-xs-9 col-md-8 no-padding"><input type="text" id="enter-website"
                                                                             data-ng-model="club.website"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 club-control">
                            <div class="col-xs-3 no-padding"><label for="enter-email" class="format-text">Email</label>
                            </div>
                            <div class="col-xs-9 col-md-8 no-padding"><input type="email" id="enter-email"
                                                                             data-ng-model="club.email"></div>
                        </div>
                        <div class="col-md-6 club-control">
                            <div class="col-xs-3 no-padding"><label for="enter-fax" class="format-text">Fax</label>
                            </div>
                            <div class="col-xs-9 col-md-8 no-padding"><input type="text" id="enter-fax"
                                                                             data-ng-model="club.fax"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 club-control head-text">Opening hours</div>
                    </div>
                    <div class="row hours-box">
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-1 club-hour">
                            <input type="checkbox" id="enter-mo" data-ng-model="day['mon']">
                            <label for="enter-mo">Monday</label>
                            <div data-ng-show="day['mon']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="mo_hour[1]" id="mo_hour1" data-ng-model="club.day['mon'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="mo_hour[2]" id="mo_hour2" data-ng-model="club.day['mon'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!day['mon']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
                            <input type="checkbox" id="enter-tu" data-ng-model="day['tue']">
                            <label for="enter-tu">Tuesday</label>
                            <div data-ng-show="day['tue']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="tu_hour[1]" id="tu_hour1" data-ng-model="club.day['tue'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="tu_hour[2]" id="tu_hour2" data-ng-model="club.day['tue'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!day['tue']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
                            <input type="checkbox" id="enter-we" data-ng-model="day['wed']">
                            <label for="enter-we">Wednesday</label>
                            <div data-ng-show="day['wed']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="we_hour[1]" id="we_hour1" data-ng-model="club.day['wed'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="we_hour[2]" id="we_hour2" data-ng-model="club.day['wed'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!day['wed']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
                            <input type="checkbox" id="enter-th" data-ng-model="day['thu']">
                            <label for="enter-th">Thursday</label>
                            <div data-ng-show="day['thu']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="th_hour[1]" id="th_hour1" data-ng-model="club.day['thu'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="th_hour[2]" id="th_hour2" data-ng-model="club.day['thu'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!day['thu']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
                            <input type="checkbox" id="enter-fr" data-ng-model="day['fri']">
                            <label for="enter-fr">Friday</label>
                            <div data-ng-show="day['fri']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="fr_hour[1]" id="fr_hour1" data-ng-model="club.day['fri'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="fr_hour[2]" id="fr_hour2" data-ng-model="club.day['fri'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!day['fri']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-sm-offset-1 col-lg-offset-0 club-hour">
                            <input type="checkbox" id="enter-sa" data-ng-model="day['sat']">
                            <label for="enter-sa">Saturday</label>
                            <div data-ng-show="day['sat']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="sa_hour[1]" id="sa_hour1" data-ng-model="club.day['sat'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="sa_hour[2]" id="sa_hour2" data-ng-model="club.day['sat'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!day['sat']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
                            <input type="checkbox" id="enter-su" data-ng-model="day['sun']">
                            <label for="enter-su">Sunday</label>
                            <div data-ng-show="day['sun']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="su_hour[1]" id="su_hour1" data-ng-model="club.day['sun'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="su_hour[2]" id="su_hour2" data-ng-model="club.day['sun'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!day['sun']" class="not-selected">Not working</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" id="edit_club_btn">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
</div>