<div class="login-bg" data-ng-style="blurBox">
	<div class="container login-box">
		<script type="text/ng-template" id="forgotTpl.html">
			<form class="list" name="forgot" data-ng-controller="forgotCtrl" data-ng-submit="send(forgot)" data-ng-show="!data.success">
				<div>
					<input class="forgot-control" type="email" data-ng-pattern="emailFormat" required="true" data-ng-model="data.email" placeholder="Enter you mail">
				</div>
				<p style="color:white;">{{data.error}}</p>
				<button class="forgot-btn">Send</button>
			</form>
		</script>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="logo-img">
					<img src="/img/logo.png" alt="logo">
				</div>
				<div class="login-text">Admin Panel</div>
				<form class="login-form" name="userForm" data-ng-controller="loginCtrl" data-ng-submit="submitForm(data)">
					<div class="form-group login-group wow animated bounceInUp" data-wow-delay="0.1s">
						<label for="username">Username</label>
						<input type="text" name="username" id="username" class="username-control"
								data-ng-model="data.email" data-ng-blur="checkUsername()" placeholder="{{error.email}}">
					</div>
					<div class="form-group login-group wow animated bounceInUp" data-wow-delay="0.4s">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" class="password-control"
								data-ng-model="data.password" data-ng-blur="checkPassword()" placeholder="{{error.password}}">

					</div>
					<div class="row">
						<div class="col-sm-12 informer-text">
							<div ng-show="success_text">
								<span>{{inform_text}}</span>
							</div>
							<div ng-show="loading_spiner">
								Login...<i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
							</div>
						</div>
					</div>
					<div class="button-signin wow animated bounceInUp" data-wow-delay="0.7s" ng-click="login()">Sign
						In
					</div>
				</form>
				<!--<div class="row">
					<div class="col-xs-6 login-forgot-pass wow animated fadeInLeft" data-wow-delay="1.2s" data-ng-click="ForgotOpen()">Forgot
						password?
					</div>
				</div>-->
			</div>
		</div>
	</div>
</div>