<div class="container-fluid bg2">
	<div class="row head-panel">
		<div class="col-sm-12">
			<button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
					aria-hidden="true"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<form name="editClubForm" ng-submit="editClub(club)">
				<div class="manage-box">
					<div class="row">
						<div class="col-md-6 club-control">
							<div class="col-xs-3 no-padding"><label for="enter-name">Enter name</label></div>
							<div class="col-xs-9 no-padding"><input type="text" id="enter-name"
									data-ng-model="club.name"></div>
						</div>
						<div class="col-md-3 club-control">
							<div class="radio-box">
								<div class="radio-group1">
									<input type="radio" name="type" id="enter-private" value="private"
											data-ng-model="club.type">
									<label for="enter-private">Private</label>
								</div>
								<div class="radio-group1">
									<input type="radio" name="type" id="enter-public" value="public"
											data-ng-model="club.type">
									<label for="enter-public">Public</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 club-control">
							<div class="col-xs-3 no-padding"><label for="enter-address">Enter Address</label></div>
							<div class="col-xs-9 no-padding"><input type="text" id="enter-address"
									data-ng-model="club.address" data-ng-change="changeAddress();"
									ng-model-options="{ debounce: 2000 }"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9 club-control head-text">Contact information</div>
					</div>
					<div class="row">
						<div class="col-md-6 club-control">
							<div class="col-xs-3 no-padding"><label for="enter-phone" class="format-text">Phone</label>
							</div>
							<div class="col-xs-9 col-md-8 no-padding"><input type="text" id="enter-phone"
									data-ng-model="club.phone"></div>
						</div>
						<div class="col-md-6 club-control">
							<div class="col-xs-3 no-padding"><label for="enter-website"
									class="format-text">Website</label></div>
							<div class="col-xs-9 col-md-8 no-padding"><input type="text" id="enter-website"
									data-ng-model="club.website"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 club-control">
							<div class="col-xs-3 no-padding"><label for="enter-email" class="format-text">Email</label>
							</div>
							<div class="col-xs-9 col-md-8 no-padding"><input type="text" id="enter-email"
									data-ng-model="club.email"></div>
						</div>
						<div class="col-md-6 club-control">
							<div class="col-xs-3 no-padding"><label for="enter-fax" class="format-text">Fax</label>
							</div>
							<div class="col-xs-9 col-md-8 no-padding"><input type="text" id="enter-fax"
									data-ng-model="club.fax"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9 club-control head-text">Opening hours</div>
					</div>
					<div class="row hours-box">
						<div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-1 club-hour">
							<input type="checkbox" id="enter-mo" data-ng-model="day['mon']">
							<label for="enter-mo">Monday</label>
							<div data-ng-show="day['mon']" class="hours-croup">
								<div class="select-hour">
									<select name="mo_hour[1]" id="mo_hour1" data-ng-model="club.day['mon'].start">
										<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
								<div class="select-hour">
									<select name="mo_hour[2]" id="mo_hour2" data-ng-model="club.day['mon'].end">
										<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
							</div>
							<div data-ng-show="!day['mon']" class="not-selected">Not working</div>
						</div>
						<div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
							<input type="checkbox" id="enter-tu" data-ng-model="day['tue']">
							<label for="enter-tu">Tuesday</label>
							<div data-ng-show="day['tue']" class="hours-croup">
								<div class="select-hour">
									<select name="tu_hour[1]" id="tu_hour1" data-ng-model="club.day['tue'].start">
										<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
								<div class="select-hour">
									<select name="tu_hour[2]" id="tu_hour2" data-ng-model="club.day['tue'].end">
										<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
							</div>
							<div data-ng-show="!day['tue']" class="not-selected">Not working</div>
						</div>
						<div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
							<input type="checkbox" id="enter-we" data-ng-model="day['wed']">
							<label for="enter-we">Wednesday</label>
							<div data-ng-show="day['wed']" class="hours-croup">
								<div class="select-hour">
									<select name="we_hour[1]" id="we_hour1" data-ng-model="club.day['wed'].start">
										<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
								<div class="select-hour">
									<select name="we_hour[2]" id="we_hour2" data-ng-model="club.day['wed'].end">
										<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
							</div>
							<div data-ng-show="!day['wed']" class="not-selected">Not working</div>
						</div>
						<div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
							<input type="checkbox" id="enter-th" data-ng-model="day['thu']">
							<label for="enter-th">Thursday</label>
							<div data-ng-show="day['thu']" class="hours-croup">
								<div class="select-hour">
									<select name="th_hour[1]" id="th_hour1" data-ng-model="club.day['thu'].start">
										<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
								<div class="select-hour">
									<select name="th_hour[2]" id="th_hour2" data-ng-model="club.day['thu'].end">
										<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
							</div>
							<div data-ng-show="!day['thu']" class="not-selected">Not working</div>
						</div>
						<div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
							<input type="checkbox" id="enter-fr" data-ng-model="day['fri']">
							<label for="enter-fr">Friday</label>
							<div data-ng-show="day['fri']" class="hours-croup">
								<div class="select-hour">
									<select name="fr_hour[1]" id="fr_hour1" data-ng-model="club.day['fri'].start">
										<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
								<div class="select-hour">
									<select name="fr_hour[2]" id="fr_hour2" data-ng-model="club.day['fri'].end">
										<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
							</div>
							<div data-ng-show="!day['fri']" class="not-selected">Not working</div>
						</div>
						<div class="col-xs-3 col-sm-2 col-lg-1 col-sm-offset-1 col-lg-offset-0 club-hour">
							<input type="checkbox" id="enter-sa" data-ng-model="day['sat']">
							<label for="enter-sa">Saturday</label>
							<div data-ng-show="day['sat']" class="hours-croup">
								<div class="select-hour">
									<select name="sa_hour[1]" id="sa_hour1" data-ng-model="club.day['sat'].start">
										<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
								<div class="select-hour">
									<select name="sa_hour[2]" id="sa_hour2" data-ng-model="club.day['sat'].end">
										<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
							</div>
							<div data-ng-show="!day['sat']" class="not-selected">Not working</div>
						</div>
						<div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
							<input type="checkbox" id="enter-su" data-ng-model="day['sun']">
							<label for="enter-su">Sunday</label>
							<div data-ng-show="day['sun']" class="hours-croup">
								<div class="select-hour">
									<select name="su_hour[1]" id="su_hour1" data-ng-model="club.day['sun'].start">
										<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}}">{{hour}}
										</option>
									</select>
								</div>
								<div class="select-hour">
									<select name="su_hour[2]" id="su_hour2" data-ng-model="club.day['sun'].end">
										<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in o_hours"
												value="{{hour}} ">{{hour}}
										</option>
									</select>
								</div>
							</div>
							<div data-ng-show="!day['sun']" class="not-selected">Not working</div>
						</div>
					</div>
				</div>
				<div class="row gmaps no-margin">
					<ui-gmap-google-map data-center='map.center' data-zoom='map.zoom' options="options"
							draggable="true">
						<ui-gmap-marker
								data-coords="marker.coords"
								data-options="marker.options"
								data-events="marker.events"
								data-idkey="marker.id">
						</ui-gmap-marker>
					</ui-gmap-google-map>
				</div>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-2">
						<button type="submit" id="edit_club_btn">Save</button>
					</div>
					<div class="col-sm-4">
						<button type="button" id="add_gym_btn" data-ng-click="gym_add = true">Add gym</button>
					</div>
				</div>
			</form>
		</div>
		<div data-ng-controller="manage-gymsCtrl">
			<div class="col-lg-12 gyms-box manage-box" data-ng-show="gym_add" >
				<form name="editClubForm" ng-submit="add_gym(gym)">
					<div class="manage-box">
						<div class="row">
							<div class="col-md-6 club-control">
								<div class="col-xs-3 no-padding"><label for="enter-name">Enter name</label></div>
								<div class="col-xs-9 no-padding"><input type="text" id="gym-enter-name"
										data-ng-model="gym.name"></div>
							</div>
							<div class="col-md-3 club-control">
								<div class="radio-box">
									<div class="radio-group1">
										<input type="radio" name="type" id="gym-enter-private" class="gym-enter-private" value="private"
												data-ng-model="gym.type">
										<label for="gym-enter-private">Private</label>
									</div>
									<div class="radio-group1">
										<input type="radio" name="type" id="gym-enter-public" class="gym-enter-public" value="public"
												data-ng-model="gym.type">
										<label for="gym-enter-public">Public</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-9 club-control head-text">Choose type of gym</div>
						</div>
						<div class="row">
							<div class="col-lg-2 col-sm-6">
								<div class="gym-type-group">
									<input type="radio" name="gym-type" id="gym-enter-basketball" value="Basketball" data-ng-model="gym.gym_type">
									<label for="gym-enter-basketball">
										<span>Basketball Court 1</span>
										<img src="/img/gym-type1.png" alt="basketball">
									</label>
								</div>
							</div>
							<div class="col-lg-2  col-sm-6">
								<div class="gym-type-group">
									<input type="radio" name="gym-type" id="gym-enter-soccer" value="Soccer" data-ng-model="gym.gym_type">
									<label for="gym-enter-soccer">
										<span>Soccer Field 2</span>
										<img src="/img/gym-type2.png" alt="soccer">
									</label>
								</div>
							</div>
							<div class="col-lg-2  col-sm-6">
								<div class="gym-type-group">
									<input type="radio" name="gym-type" id="gym-enter-hockey" value="Hockey" data-ng-model="gym.gym_type">
									<label for="gym-enter-hockey">
										<span>Roller Hockey Rink</span>
										<img src="/img/gym-type3.png" alt="hockey">
									</label>
								</div>
							</div>
							<div class="col-lg-2  col-sm-6">
								<div class="gym-type-group">
									<input type="radio" name="gym-type" id="gym-enter-tennis" value="Tennis" data-ng-model="gym.gym_type">
									<label for="gym-enter-tennis">
										<span>Tennis Court 2</span>
										<img src="/img/gym-type4.png" alt="tennis">
									</label>
								</div>
							</div>
							<div class="col-lg-4 col-sm-12">
								<div class="col-lg-12 club-control gym-control">
									<div class="col-lg-6">
										<label for="gym-enter-price">Enter price hr/member</label>
									</div>
									<div class="col-lg-6">
										<input type="text" id="gym-enter-price" data-ng-model="gym.price">
									</div>
								</div>
								<div class="col-lg-12 club-control" style="margin-top: 10px;">
									<div class="col-lg-6">
										<label for="gym-enter-members">Enter number of members</label>
									</div>
									<div class="col-lg-6">
										<input type="text" id="gym-enter-members" data-ng-model="gym.members">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9 club-control head-text">Select Sport</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="col-xs-11 col-sm-offset-1 no-padding">
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport1" name="select-sport" value="Basketball" data-ng-model="gym.gym_sport">
										<label for="sport1" class="sport1-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport2"  name="select-sport" value="Volleyball" data-ng-model="gym.gym_sport">
										<label for="sport2" class="sport2-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport3" value="Soccer" name="select-sport" data-ng-model="gym.gym_sport">
										<label for="sport3" class="sport3-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport4" value="Bubble Soccer" name="select-sport" data-ng-model="gym.gym_sport">
										<label for="sport4" class="sport4-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport5" value="Football" name="select-sport" data-ng-model="gym.gym_sport">
										<label for="sport5" class="sport5-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport6" value="Tennis" name="select-sport" data-ng-model="gym.gym_sport">
										<label for="sport6" class="sport6-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport7" value="Hockey" name="select-sport" data-ng-model="gym.gym_sport">
										<label for="sport7" class="sport7-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport8" value="Baseball/Softball" name="select-sport" data-ng-model="gym.gym_sport">
										<label for="sport8" class="sport8-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport9" value="Racquetball" name="select-sport" data-ng-model="gym.gym_sport">
										<label for="sport9" class="sport9-icon">

										</label>
									</div>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-md-9 club-control head-text">Opening hours</div>
						</div>
						<div class="row hours-box">
							<div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-1 club-hour">
								<input type="checkbox" id="gym-enter-mo" data-ng-model="gym_day['mon']">
								<label for="gym-enter-mo">Monday</label>
								<div data-ng-show="gym_day['mon']" class="hours-croup">
									<div class="select-hour">
										<select name="mo_hour[1]" id="gym-mo_hour1" data-ng-model="gym.day['mon'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="mo_hour[2]" id="gym-mo_hour2" data-ng-model="gym.day['mon'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_day['mon']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
								<input type="checkbox" id="gym-enter-tu" data-ng-model="gym_day['tue']">
								<label for="gym-enter-tu">Tuesday</label>
								<div data-ng-show="gym_day['tue']" class="hours-croup">
									<div class="select-hour">
										<select name="tu_hour[1]" id="gym-tu_hour1" data-ng-model="gym.day['tue'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="tu_hour[2]" id="gym-tu_hour2" data-ng-model="gym.day['tue'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_day['tue']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
								<input type="checkbox" id="gym-enter-we" data-ng-model="gym_day['wed']">
								<label for="gym-enter-we">Wednesday</label>
								<div data-ng-show="gym_day['wed']" class="hours-croup">
									<div class="select-hour">
										<select name="we_hour[1]" id="gym-we_hour1" data-ng-model="gym.day['wed'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="we_hour[2]" id="gym-we_hour2" data-ng-model="gym.day['wed'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_day['wed']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
								<input type="checkbox" id="gym-enter-th" data-ng-model="gym_day['thu']">
								<label for="gym-enter-th">Thursday</label>
								<div data-ng-show="gym_day['thu']" class="hours-croup">
									<div class="select-hour">
										<select name="th_hour[1]" id="gym-th_hour1" data-ng-model="gym.day['thu'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="th_hour[2]" id="gym-th_hour2" data-ng-model="gym.day['thu'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_day['thu']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
								<input type="checkbox" id="gym-enter-fr" data-ng-model="gym_day['fri']">
								<label for="gym-enter-fr">Friday</label>
								<div data-ng-show="gym_day['fri']" class="hours-croup">
									<div class="select-hour">
										<select name="fr_hour[1]" id="gym-fr_hour1" data-ng-model="gym.day['fri'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="fr_hour[2]" id="gym-fr_hour2" data-ng-model="gym.day['fri'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_day['fri']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 col-sm-offset-1 col-lg-offset-0 club-hour">
								<input type="checkbox" id="gym-enter-sa" data-ng-model="gym_day['sat']">
								<label for="gym-enter-sa">Saturday</label>
								<div data-ng-show="gym_day['sat']" class="hours-croup">
									<div class="select-hour">
										<select name="sa_hour[1]" id="gym-sa_hour1" data-ng-model="gym.day['sat'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="sa_hour[2]" id="gym-sa_hour2" data-ng-model="gym.day['sat'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_day['sat']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
								<input type="checkbox" id="gym-enter-su" data-ng-model="gym_day['sun']">
								<label for="gym-enter-su">Sunday</label>
								<div data-ng-show="gym_day['sun']" class="hours-croup">
									<div class="select-hour">
										<select name="su_hour[1]" id="gym-su_hour1" data-ng-model="gym.day['sun'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="su_hour[2]" id="gym-su_hour2" data-ng-model="gym.day['sun'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}} ">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_day['sun']" class="not-selected">Not working</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-sm-offset-4">
								<button id="edit_gym_btn">Save</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-12 gyms-box manage-box" data-ng-repeat="item in gymsObj">
				<form name="editClubForm" ng-submit="update_gym(gym_up[item.id], item.id)" class="update-box">
					<div class="manage-box">
						<div class="row">
							<div class="col-md-6 club-control">
								<div class="col-xs-3 no-padding"><label for="gym-enter-name[item.id]">Enter name</label></div>
								<div class="col-xs-9 no-padding"><input type="text" id="gym-enter-name[item.id]"
										data-ng-model="gym_up[item.id].name"></div>
							</div>
							<div class="col-md-3 club-control">
								<div class="radio-box">
									<div class="radio-group1">
										<input type="radio" name="type" id="gym-enter-private[{{item.id}}]" class="gym-enter-private" value="private"
												data-ng-model="gym_up[item.id].type">
										<label for="gym-enter-private[{{item.id}}]">Private</label>
									</div>
									<div class="radio-group1">
										<input type="radio" name="type" id="gym-enter-public[{{item.id}}]" class="gym-enter-public" value="public"
												data-ng-model="gym_up[item.id].type">
										<label for="gym-enter-public[{{item.id}}]">Public</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-9 club-control head-text">Choose type of gym</div>
						</div>
						<div class="row">
							<div class="col-lg-2 col-sm-6">
								<div class="gym-type-group">
									<input type="radio" name="gym-type" id="gym-enter-basketball[{{item.id}}]" value="Basketball" data-ng-model="gym_up[item.id].gym_type">
									<label for="gym-enter-basketball[{{item.id}}]">
										<span>Basketball Court 1</span>
										<img src="/img/gym-type1.png" alt="basketball">
									</label>
								</div>
							</div>
							<div class="col-lg-2  col-sm-6">
								<div class="gym-type-group">
									<input type="radio" name="gym-type" id="gym-enter-soccer[{{item.id}}]" value="Soccer" data-ng-model="gym_up[item.id].gym_type">
									<label for="gym-enter-soccer[{{item.id}}]">
										<span>Soccer Field 2</span>
										<img src="/img/gym-type2.png" alt="soccer">
									</label>
								</div>
							</div>
							<div class="col-lg-2  col-sm-6">
								<div class="gym-type-group">
									<input type="radio" name="gym-type" id="gym-enter-hockey[{{item.id}}]" value="Hockey" data-ng-model="gym_up[item.id].gym_type">
									<label for="gym-enter-hockey[{{item.id}}]">
										<span>Roller Hockey Rink</span>
										<img src="/img/gym-type3.png" alt="hockey">
									</label>
								</div>
							</div>
							<div class="col-lg-2  col-sm-6">
								<div class="gym-type-group">
									<input type="radio" name="gym-type" id="gym-enter-tennis[{{item.id}}]" value="Tennis" data-ng-model="gym_up[item.id].gym_type">
									<label for="gym-enter-tennis[{{item.id}}]">
										<span>Tennis Court 2</span>
										<img src="/img/gym-type4.png" alt="tennis">
									</label>
								</div>
							</div>
							<div class="col-lg-4 col-sm-12">
								<div class="col-lg-12 club-control gym-control">
									<div class="col-lg-6">
										<label for="gym-enter-price[{{item.id}}]">Enter price hr/member</label>
									</div>
									<div class="col-lg-6">
										<input type="text" id="gym-enter-price[{{item.id}}]" data-ng-model="gym_up[item.id].price">
									</div>
								</div>
								<div class="col-lg-12 club-control" style="margin-top: 10px;">
									<div class="col-lg-6">
										<label for="gym-enter-members[{{item.id}}]">Enter number of members</label>
									</div>
									<div class="col-lg-6">
										<input type="text" id="gym-enter-members[{{item.id}}]" data-ng-model="gym_up[item.id].members">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9 club-control head-text">Select Sport</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="col-xs-11 col-sm-offset-1 no-padding">
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport1[{{item.id}}]" name="select-sport" value="Basketball" data-ng-model="gym_up[item.id].gym_sport">
										<label for="sport1[{{item.id}}]" class="sport1-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport2[{{item.id}}]"  name="select-sport" value="Volleyball" data-ng-model="gym_up[item.id].gym_sport">
										<label for="sport2[{{item.id}}]" class="sport2-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport3[{{item.id}}]" value="Soccer" name="select-sport" data-ng-model="gym_up[item.id].gym_sport">
										<label for="sport3[{{item.id}}]" class="sport3-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport4[{{item.id}}]" value="Bubble Soccer" name="select-sport" data-ng-model="gym_up[item.id].gym_sport">
										<label for="sport4[{{item.id}}]" class="sport4-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport5[{{item.id}}]" value="Football" name="select-sport" data-ng-model="gym_up[item.id].gym_sport">
										<label for="sport5[{{item.id}}]" class="sport5-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport6[{{item.id}}]" value="Tennis" name="select-sport" data-ng-model="gym_up[item.id].gym_sport">
										<label for="sport6[{{item.id}}]" class="sport6-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport7[{{item.id}}]" value="Hockey" name="select-sport" data-ng-model="gym_up[item.id].gym_sport">
										<label for="sport7[{{item.id}}]" class="sport7-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport8[{{item.id}}]" value="Baseball/Softball" name="select-sport" data-ng-model="gym_up[item.id].gym_sport">
										<label for="sport8[{{item.id}}]" class="sport8-icon">

										</label>
									</div>
									<div class="col-xs-1 sport-type">
										<input type="radio" id="sport9[{{item.id}}]" value="Racquetball" name="select-sport" data-ng-model="gym_up[item.id].gym_sport">
										<label for="sport9[{{item.id}}]" class="sport9-icon">

										</label>
									</div>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-md-9 club-control head-text">Opening hours</div>
						</div>
						<div class="row hours-box">
							<div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-1 club-hour">
								<input type="checkbox" id="gym-enter-mo[{{item.id}}]" data-ng-model="gym_up_day[item.id]['mon']">
								<label for="gym-enter-mo[{{item.id}}]">Monday</label>
								<div data-ng-show="gym_up_day[item.id]['mon']" class="hours-croup">
									<div class="select-hour">
										<select name="mo_hour[1]" id="gym-mo_hour1[item.id]" data-ng-model="gym_up[item.id].day['mon'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="mo_hour[2]" id="gym-mo_hour2[item.id]" data-ng-model="gym_up[item.id].day['mon'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_up_day[item.id]['mon']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
								<input type="checkbox" id="gym-enter-tu[{{item.id}}]" data-ng-model="gym_up_day[item.id]['tue']">
								<label for="gym-enter-tu[{{item.id}}]">Tuesday</label>
								<div data-ng-show="gym_up_day[item.id]['tue']" class="hours-croup">
									<div class="select-hour">
										<select name="tu_hour[1]" id="gym-tu_hour1[item.id]" data-ng-model="gym_up[item.id].day['tue'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="tu_hour[2]" id="gym-tu_hour2[item.id]" data-ng-model="gym_up[item.id].day['tue'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_up_day[item.id]['tue']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
								<input type="checkbox" id="gym-enter-we[{{item.id}}]" data-ng-model="gym_up_day[item.id]['wed']">
								<label for="gym-enter-we[{{item.id}}]">Wednesday</label>
								<div data-ng-show="gym_up_day[item.id]['wed']" class="hours-croup">
									<div class="select-hour">
										<select name="we_hour[1]" id="gym-we_hour1[item.id]" data-ng-model="gym.day['wed'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="we_hour[2]" id="gym-we_hour2[item.id]" data-ng-model="gym.day['wed'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_up_day[item.id]['wed']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
								<input type="checkbox" id="gym-enter-th[{{item.id}}]" data-ng-model="gym_up_day[item.id]['thu']">
								<label for="gym-enter-th[{{item.id}}]">Thursday</label>
								<div data-ng-show="gym_up_day[item.id]['thu']" class="hours-croup">
									<div class="select-hour">
										<select name="th_hour[1]" id="gym-th_hour1[item.id]" data-ng-model="gym_up[item.id].day['thu'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="th_hour[2]" id="gym-th_hour2[item.id]" data-ng-model="gym_up[item.id].day['thu'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_up_day[item.id]['thu']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
								<input type="checkbox" id="gym-enter-fr[{{item.id}}]" data-ng-model="gym_up_day[item.id]['fri']">
								<label for="gym-enter-fr[{{item.id}}]">Friday</label>
								<div data-ng-show="gym_up_day[item.id]['fri']" class="hours-croup">
									<div class="select-hour">
										<select name="fr_hour[1]" id="gym-fr_hour1[item.id]" data-ng-model="gym_up[item.id].day['fri'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="fr_hour[2]" id="gym-fr_hour2[item.id]" data-ng-model="gym_up[item.id].day['fri'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_up_day[item.id]['fri']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 col-sm-offset-1 col-lg-offset-0 club-hour">
								<input type="checkbox" id="gym-enter-sa[{{item.id}}]" data-ng-model="gym_up_day[item.id]['sat']">
								<label for="gym-enter-sa[{{item.id}}]">Saturday</label>
								<div data-ng-show="gym_up_day[item.id]['sat']" class="hours-croup">
									<div class="select-hour">
										<select name="sa_hour[1]" id="gym-sa_hour1[item.id]" data-ng-model="gym_up[item.id].day['sat'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="sa_hour[2]" id="gym-sa_hour2[item.id]" data-ng-model="gym_up[item.id].day['sat'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_up_day[item.id]['sat']" class="not-selected">Not working</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
								<input type="checkbox" id="gym-enter-su[{{item.id}}]" data-ng-model="gym_up_day[item.id]['sun']">
								<label for="gym-enter-su[{{item.id}}]">Sunday</label>
								<div data-ng-show="gym_up_day[item.id]['sun']" class="hours-croup">
									<div class="select-hour">
										<select name="su_hour[1]" id="gym-su_hour1[item.id]" data-ng-model="gym_up[item.id].day['sun'].start">
											<option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}}">{{hour}}
											</option>
										</select>
									</div>
									<div class="select-hour">
										<select name="su_hour[2]" id="gym-su_hour2[item.id]" data-ng-model="gym_up[item.id].day['sun'].end">
											<option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
													value="{{hour}} ">{{hour}}
											</option>
										</select>
									</div>
								</div>
								<div data-ng-show="!gym_up_day[item.id]['sun']" class="not-selected">Not working</div>
							</div>
						</div>
						<div class="row" style="margin-top: 25px;">
							<div class="col-sm-12 informer-text">
								<div ng-show="success_text[{{item.id}}]">
									<span>{{inform_text}}</span>
								</div>
								<div ng-show="loading_spiner[{{item.id}}]">
									Gym update... <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-sm-offset-4">
								<button id="update_gym_btn">Update</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>