<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-1">
            <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                  aria-hidden="true"></i></button>
        </div>
    </div>
    <h1>Registered users</h1>
    <div class="users_cards">
        <div class="user_card col-xs-12" data-ng-repeat="user_card in users">
            <div class="row no-margin no-padding">
                <div class="col-sm-4 col-xs-6">First Name: {{user_card.first_name}}</div>
                <div class="col-sm-4 col-xs-6">Last Name: {{user_card.last_name}}</div>
                <div class="col-sm-4 col-xs-6">Your Address: {{user_card.address}}</div>
            </div>
            <div class="row no-margin no-padding">
                <div class="col-sm-4 col-xs-6">Phone Number: {{user_card.phone}}</div>
                <div class="col-sm-4 col-xs-6">DOB: {{user_card.dob}}</div>
                <div class="col-sm-4 col-xs-6">Gender: {{user_card.gender}}</div>
            </div>
        </div>
        <p class="bg-info text-center inform-box" data-ng-if="users.length == 0">Now there is no clubs</p>
    </div>
</div>