<!-- Sidebar -->
<div id="sidebar-wrapper">
	<div class="row no-margin" style="width: 195px;">
		<div class="edit-profile" data-ng-click="goEditProfile()"></div>
	</div>
	<div class="row no-margin">
		<div class="sidebar-avatar">
			<img src="/admin/img/avatar.png" alt="admin">
		</div>
	</div>
	<div class="row fio-box">
		<a href="#/"><span class="sidebar-firstname">Admin</span>
			<span class="sidebar-lastname">Panel</span></a>
	</div>

	<ul class="sidebar-nav">
		<li class="create"><a data-ui-sref="add-club" data-ui-sref-opts="{reload: true}">Add club</a></li>
		<li class="has-children">
			<ul>
				<li class="list-child"><a data-ui-sref="list-clubs" data-ui-sref-opts="{reload: true}">List of clubs</a></li>
			</ul>
		</li>
		<li class="check"><a data-ui-sref="clubs" data-ui-sref-opts="{reload: true}">Added clubs</a></li>
		<li class="category"><a data-ui-sref="clubTypes" data-ui-sref-opts="{reload: true}">Club types</a></li>
		<li class="users"><a data-ui-sref="registered-users" data-ui-sref-opts="{reload: true}">Registered users</a></li>
		<li class="logout" data-ng-click="signout()">Logout</li>
	</ul>
</div>
<!-- /#sidebar-wrapper -->