<form class="list" name="become-partner" data-ng-submit="createClub(become)" data-ng-show="!data.success">
	<div class="row no-padding">
		<div class="modal-group col-sm-6 col-xs-12">
			<input type="text" class="modal-control modal-required" placeholder="{{ph.first_name}}" data-ng-model="become.first_name">
		</div>
		<div class="modal-group col-sm-6 col-xs-12">
			<input type="text" class="modal-control modal-required" placeholder="{{ph.last_name}}" data-ng-model="become.last_name">
		</div>
	</div>
	<div class="row no-padding">
		<div class="modal-group col-sm-6 col-xs-12">
			<select class="modal-code dialog-select modal-control modal-required" data-ng-model="become.dial_code">
				<option data-ng-selected="{{become.dial_code == code.dial_code}}" data-ng-repeat="code in telephone | orderBy: 'dial_code' | unique:'dial_code'"
						value="{{code.dial_code}}" >{{code.dial_code}}
				</option>
			</select>
			<input type="tel" class="modal-control modal-phone" placeholder="{{ph.phone}}" data-ng-model="become.phone" data-ui-mask="(999) 999-9999" data-ui-mask-placeholder
					data-ui-mask-placeholder-char="_">
		</div>
		<div class="modal-group col-sm-6 col-xs-12">
			<input type="email" class="modal-control modal-required" placeholder="{{ph.email}}" data-ng-model="become.email">
		</div>
	</div>
	<div class="row no-padding">
		<div class="modal-group col-sm-6 col-xs-12">
			<input type="text" class="modal-control modal-required" data-ng-change="checkName(become.club_name)" data-ng-disabled="disabled_name" placeholder="{{ph.club_name}}" data-ng-model="become.club_name">
			<i data-ng-show="chekSpiner" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
			<span data-ng-show="!check" style="color: #f73267;padding-left: 25px;font-size: 12px;"><i data-ng-show="chekText != ''" class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{chekText}}</span>
			<span data-ng-show="check" style="color: #32f7a7;padding-left: 25px;font-size: 12px;"><i data-ng-show="chekText != ''" class="fa fa-check" aria-hidden="true"></i> {{chekText}}</span>
		</div>
		<div class="modal-group col-sm-6 col-xs-12">
			<input type="text" class="modal-control modal-required" data-ng-disabled="disabled_address" placeholder="{{ph.club_address}}" data-g-places-autocomplete data-ng-model="become.club_address">
		</div>
	</div>
	<div class="col-sm-12 col-xs-12">
		<span class="required-text"><em>*</em> Required</span>
	</div>
	<div class="row">
		<div class="col-sm-12 informer-text">
			<div ng-show="success_text">
				<span>{{inform_text}}</span>
			</div>
			<div ng-show="loading_spiner">
				Request for the establishment of the club <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
			</div>
		</div>
	</div>
	<button class="modal-btn">Send</button>
</form>