<div class="container-fluid teammates-bg">
    <div class="row head-panel">
        <div class="col-sm-12">
            <div class="col-sm-1 col-xs-1 clearFix">
                <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                      aria-hidden="true"></i></button>
            </div>
            <div class="col-sm-11 tab-a-box hidden-xs">
                <div class="col-sm-1 tab-group first-tab"><a data-ui-sref="app.manage_clubs" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Club</a></div>
                <div class="col-sm-1 tab-group one-tab"><a data-ui-sref="app.clubCourts" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Courts</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.clubClasses" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Classes</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.members" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Members</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.booking" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Booking</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.b_notifications" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Notifications</a></div>
                <div class="col-sm-2 tab-group end-tab"><a data-ui-sref="app.clubRequest" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Requests</a></div>
            </div>
            <div class="dropdown-box hidden-sm hidden-md hidden-lg hidden-xlg">
                <div class="btn-group" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-danger">Booking</button>
                    <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu clearFix tab-a-box" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.manage_clubs" data-ui-sref-opts="{reload: true}">Club</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.clubCourts" data-ui-sref-opts="{reload: true}">Courts</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.clubClasses" data-ui-sref-opts="{reload: true}">Classes</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.members" data-ui-sref-opts="{reload: true}">Members</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.booking" data-ui-sref-opts="{reload: true}">Booking</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.b_notifications" data-ui-sref-opts="{reload: true}">Notifications</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.clubRequest" data-ui-sref-opts="{reload: true}">Requests</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row wrap-content" data-ng-class="rightSidebar">
        <div class="col-lg-12 profile no-padding">
            <!-- <div class="row no-margin">
                <div class="col-sm-12 no-margin gym-filter-box">
                    <div class="group-filters-gyms">
                        <div class="active-filter">
                            <input type="radio" id="active-filter" value="active" name="game-filter" data-ng-click="change_tab()" data-ng-model="game_status">
                            <label for="active-filter">Active</label>
                        </div>
                        <div class="post-filter">
                            <input type="radio" id="post-filter" value="post" name="game-filter" data-ng-click="change_tab()" data-ng-model="game_status">
                            <label for="post-filter">Past</label>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row no-margin teammates-box clearFix">
              <div class="row no-margin">
                  <div class="col-sm-12 no-padding">
                      <div class="row no-margin game-box">
                          <!-- infinite-scroll='infinitiGames()' infinite-scroll-disabled='busy' infinite-scroll-distance='0' infinite-scroll-immediate-check="true" -->
                          <div class="row no-margin" data-ng-repeat="(game_index, card) in games_arr">

                              <div class="row list-date-box" data-ng-show="games_arr.length > 0" data-ng-if="dates_arr[card.game_id]"><span>{{dates_arr[card.game_id] | date:"fullDate"}}</span></div>
                              <div class="row list-date-box" data-ng-show="games_arr.length > 0" data-ng-if="game_index == 0 && !dates_arr[card.game_id]"><span>{{dates_arr[0] | date:"fullDate"}}</span></div>
                              <div class="row game-card clearFix no-margin">
                                  <div class="col-75">
                                      <div class="row no-margin">
                                          <div class="col-30 top25">
                                              <div class="col-md-3 col-xs-4 no-padding">
                                                  <div class="{{card.gym_sport.replace('/', '-')}}-icon"></div>
                                              </div>
                                              <div class="col-md-9 col-xs-4 no-padding">
                                                  <div class="sport">{{card.gym_sport}}</div>
                                                  <div class="type" data-ng-if="card.gym_type == 'Gym'">Game</div>
                                                  <div class="type" data-ng-if="card.gym_type == 'Class'">Class</div>
                                              </div>
                                          </div>
                                          <div class="col-30 top25">
                                              <div data-ng-if="card.start_time" class="clock"><i>Start Date</i> <span>{{ card.date | date:"yyyy / MM / d"}}</span></div>
                                          </div>
                                          <div class="col-20 top25">
                                              <div data-ng-if="card.start_time" class="clock"><i>Start Time</i> <span>{{ card.start_time | filterClockEN}}</span></div>
                                          </div>
                                          <div class="col-20 top25">
                                              <div data-ng-if="card.end_time" class="clock"><i>End Time</i> <span>{{ card.end_time | filterClockEN}}</span></div>
                                          </div>
                                      </div>
                                      <div class="row no-margin">
                                          <div class="col-30 top25">
                                              <div class="name">{{card.name}}</div>
                                              <div class="address">{{card.address}}</div>
                                              <div ng-if="!!card.distance" class="miles_count">{{card.distance}} miles away</div>
                                          </div>
                                          <div class="col-30 top25">
                                              <div class="members_count clearFix">
                                                  <div class="col_count" data-ng-class="{'green':(member<card.global_members)}" data-ng-repeat="member in (card.members_range)" data-number="{{member}}"></div>
                                              </div>
                                              <div class="max_countMembers clearFix">
                                                  {{card.global_members}}
                                                  <hr> {{card.number_members}}
                                              </div>
                                          </div>
                                          <div class="col-40 top25" data-ng-show="card.game != 0">
                                              <div data-ng-repeat="(index, card_avatar) in card.members_avatar">
                                                  <a style="z-index:999;" ui-sref="app.user({'t_id':card_avatar.id})">
                                                      <div class="avatar" style="z-index: 9999;border:1px solid white; background: url('{{ card_avatar.img | avatar_type }}');" data-ng-if="card_avatar.img != ''"></div>
                                                  </a>
                                                  <div class="avatar" style="z-index: 7; background: url('/img/no_avatar_vopros.jpg');" data-ng-if="card_avatar.img == ''"></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-25">
                                      <div class="row no-margin" style="padding-right: 20px;" data-ng-if="card.min_members > card.g_member">
                                          <div class="col-xs-10 col-lg-offset-1 no-padding">
                                              <button class="join-btn top25" data-ng-disabled="card.must_start" data-ng-class="{'disable-btn': card.must_start}" data-ng-show="card.game != 0" data-ng-click="mustStart($event, card.game_id)">Must Start</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

        </div>
        <aside class="right-sidebar" data-ng-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:scroll">
          <div class="sidebar-content">
              <form name="filterForm">
                  <div class="row">
                      <button class="clear-btn" ng-click="clearFil()">Clear</button>
                  </div>
                  <div class="filter-title">Sport</div>
                  <div class="row no-margin">
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport1" name="filter-sport[1]" value="Basketball" data-ng-model="filter.sport[1]" data-ng-change="findGames()">
                              <label for="filter-sport1" class="sport1-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport2" name="filter-sport[2]" value="Volleyball" data-ng-model="filter.sport[2]" data-ng-change="findGames()">
                              <label for="filter-sport2" class="sport2-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer" data-ng-model="filter.sport[3]" data-ng-change="findGames()">
                              <label for="filter-sport3" class="sport3-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer" data-ng-model="filter.sport[4]" data-ng-change="findGames()">
                              <label for="filter-sport4" class="sport4-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport5" name="filter-sport[5]" value="Football" data-ng-model="filter.sport[5]" data-ng-change="findGames()">
                              <label for="filter-sport5" class="sport5-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis" data-ng-model="filter.sport[6]" data-ng-change="findGames()">
                              <label for="filter-sport6" class="sport6-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey" data-ng-model="filter.sport[7]" data-ng-change="findGames()">
                              <label for="filter-sport7" class="sport7-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport8" name="filter-sport[8]" value="Baseball/Softball" data-ng-model="filter.sport[8]" data-ng-change="findGames()">
                              <label for="filter-sport8" class="sport8-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport9" name="filter-sport[9]" value="Racquetball" data-ng-model="filter.sport[9]" data-ng-change="findGames()">
                              <label for="filter-sport9" class="sport9-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport10" name="filter-sport[10]" value="Zumba" data-ng-model="filter.sport[10]" data-ng-change="findGames()">
                              <label for="filter-sport10" class="class1-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport11" name="filter-sport[11]" value="Yoga" data-ng-model="filter.sport[11]" data-ng-change="findGames()">
                              <label for="filter-sport11" class="class2-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport12" name="filter-sport[12]" value="Pilates" data-ng-model="filter.sport[12]" data-ng-change="findGames()">
                              <label for="filter-sport12" class="class3-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport13" name="filter-sport[13]" value="Boxing" data-ng-model="filter.sport[13]" data-ng-change="findGames()">
                              <label for="filter-sport13" class="class4-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport14" name="filter-sport[14]" value="Kickboxing" data-ng-model="filter.sport[14]" data-ng-change="findGames()">
                              <label for="filter-sport14" class="class5-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport15" name="filter-sport[15]" value="Jazzercise" data-ng-model="filter.sport[15]" data-ng-change="findGames()">
                              <label for="filter-sport15" class="class6-icon"></label>
                          </div>
                      </div>
                      <div class="sport-Box">
                          <div class="filter-group">
                              <input type="checkbox" id="filter-sport16" name="filter-sport[16]" value="Spin" data-ng-model="filter.sport[16]" data-ng-change="findGames()">
                              <label for="filter-sport16" class="class7-icon"></label>
                          </div>
                      </div>
                  </div>

                  <div class="row no-margin">
                      <div class="filter-title"></div>
                      <div class="distance-box">
                          <div class="filter-radio-group">
                              <div class="distance-group">
                                  <input type="radio" id="accessAll" name="filter-access" value="All" data-ng-model="filter.access" data-ng-change="findGames()">
                                  <label for="accessAll" class="distance5">All</label>
                              </div>
                              <div class="distance-group">
                                  <input type="radio" id="accessPublic" name="filter-access" value="Public" data-ng-model="filter.access" data-ng-change="findGames()">
                                  <label for="accessPublic" class="distance10">Public</label>
                              </div>
                              <div class="distance-group">
                                  <input type="radio" id="accessPrivate" name="filter-access" value="Private" data-ng-model="filter.access" data-ng-change="findGames()">
                                  <label for="accessPrivate" class="distance25">Private</label>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="row no-margin">
                      <div class="filter-title">Date</div>
                      <div class="filter-group">
                          <input type="text" class="filter-name" datepicker-append-to-body="true" data-uib-datepicker-popup="fullDate" ng-model="filter.dt" data-is-open="popup2.opened" data-datepicker-options="dateOptions" data-close-text="Close" data-ng-change="findGames()" data-ng-click="open2()"
                          />
                      </div>
                  </div>
                  <div class="row no-margin">
                      <div class="filter-title">Start time{{startTime.value}}</div>
                      <div class="filter-group">
                          <rzslider rz-slider-model="startTime.value" rz-slider-options="startTime.options"></rzslider>
                      </div>
                  </div>
                  <div class="row no-margin">
                      <div class="filter-title">End time</div>
                      <div class="filter-group">
                          <rzslider rz-slider-model="endTime.value" rz-slider-options="endTime.options"></rzslider>
                      </div>
                  </div>
                  <div class="row no-margin">
                      <div class="filter-title">Age</div>
                      <div class="filter-group">
                          <rzslider rz-slider-model="ageSlider.minValue" rz-slider-high="ageSlider.maxValue" rz-slider-options="ageSlider.options"></rzslider>
                      </div>
                  </div>
                  <div class="row no-margin">
                      <div class="filter-title">Gender</div>
                      <div class="distance-box">
                          <div class="filter-radio-group">
                              <div class="distance-group">
                                  <input type="radio" id="genderAll" name="filter-gender" value="All" data-ng-model="filter.gender" data-ng-change="findGames()">
                                  <label for="genderAll" class="distance5">All</label>
                              </div>
                              <div class="distance-group">
                                  <input type="radio" id="genderMale" name="filter-gender" value="Male" data-ng-model="filter.gender" data-ng-change="findGames()">
                                  <label for="genderMale" class="distance10">Male</label>
                              </div>
                              <div class="distance-group">
                                  <input type="radio" id="genderFemale" name="filter-gender" value="Female" data-ng-model="filter.gender" data-ng-change="findGames()">
                                  <label for="genderFemale" class="distance25">Female</label>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
        </aside>
    </div>
</div>
