<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-12">
            <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <h1>Search</h1>
            <button data-ng-click="toggleRight('toggled')" class="filter-menu">Teammates</button>
        </div>
    </div>
    <div class="row wrap-content" data-ng-class="rightSidebar">
        <div class="col-lg-12 profile no-padding">
            <div class="row no-margin game-box" style="height:90vh">
                <div class="col-sm-12 game-card clearFix" style="max-height:15vh;border-radius:10px 10px 0 0">
                    <div class="row">
                        <div class="col-xs-5 chatGameInfo">
                            <div class="row no-margin no-padding">
                                <div class="col-md-2 col-xs-2 no-padding top25">
                                    <div class="{{room.gym_sport}}-icon"></div>
                                </div>
                                <div class=" col-xs-10 no-padding top25">
                                    <div class="sport">{{room.gym_sport}}</div>
                                    <div class="address">{{room.address}}</div>
                                    <div class="date-day" data-ng-show="card.date">Date</div>
                                    <div class="start_time">{{ room.date | day }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="col-xs-8 no-padding">
                                <div class="members_avatar clearFix top25 col-md-12 col-xs-6 no-padding" data-ng-show="room.chat_room_status != 0">
                                    <div data-ng-repeat="member in room.members_avatar track by $index">
                                        <div class="avatar" style="z-index: 7; background: url('{{ member.avatar | avatar_type }}');" data-ng-if="member.avatar != ''"></div>
                                        <div class="avatar" style="z-index: 7; background: url('/img/no_avatar_vopros.jpg');" data-ng-if="member.avatar == ''"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 top25">

                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <button class="chatDeclineButton top25" data-ng-show="room.chat_room_status == 1" data-ng-click="leaveChatRoom(room)">Turn off</i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearFix">

                </div>
                <!-- data-ng-scrollbar rebuild-on-resize rebuild-on="rebuild" -->
                    <div class="clearFix" style="height:65vh;background-color:white;overflow-y:auto" data-ng-scrollbar rebuild-on-resize rebuild-on="rebuild" bottom on-top="getChat()">
                        <div class style="text-align:center" ng-if="loading" >
                            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                        </div>
                        <div class="row" data-ng-repeat="message in messages" repeat-end="end()" ng-class="{'new': !message.viewed}" style="padding:20px 15px 15px 15px;">
                            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                                <div class="row chatUserContainerInfo" style="border-right:1px solid #e7e7e7;">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="col-xs-2 hidden-sm hidden-md hidden-lg">
                                        </div>
                                        <div class="col-xs-8 col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
                                            <div class="avatar" style="height:50px;width:50px;z-index: 7; background: url('{{ message.avatar | avatar_type }}');" data-ng-if="message.avatar != ''"></div>
                                            <div class="avatar" style="height:50px;width:50px;z-index: 7; background: url('/img/no_avatar_vopros.jpg');" data-ng-if="message.avatar == ''"></div>
                                            <span class="userverify"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7" style="padding-top:7px;">
                                        <div class="col-sm-12 username" style="padding:0px;">
                                            {{message.first_name}} {{message.last_name}}
                                        </div>
                                        <div class="col-sm-12" style="padding:0px;padding-top:5px;">
                                            <span class="chatUserOnline" style="margin:2px;float:left;" ng-class="users.online.indexOf(''+message.sender_id)== -1 ? 'hide' : ''"></span>
                                            <span class="chatUserFacebook" style="margin:2px;float:left;"></span>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9 chatContainerInfo">
                                <div class="col-sm-12 chatMessage" style="padding:0px;">
                                    {{message.message}}
                                </div>
                                <div class="col-sm-12" style="padding:0px;">
                                    <div class="thumbnail col-xs-2" data-ng-if="message.attachments.length" repeat-end="end()" ng-repeat="att in message.attachments track by $index" style="margin-bottom:0px;">
                                        <img data-ng-src="{{att | avatar_type}}"/>
                                    </div>
                                </div>
                                <div class="col-sm-12 chatMessageDate" style="margin-top: 2px; padding:0px;">
                                    <i>{{message.date}}</i>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="padding:0px;position:relative;">
                            <div class="typing-container" style="width:100%;background-color:white;height:auto;margin-top:0px;padding-top:5px;padding-bottom:5px;position:absolute;bottom:0px" data-ng-repeat="user in usersTyping">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="avatar" style="height:30px;width:30px;z-index: 7;border: 1px solid white; background: url('{{ teammates_arr[findWithAttr(teammates_arr,'id',user)].avatar | avatar_type }}');" data-ng-if="message.avatar != ''"></div>
                                                </div>
                                                <div class="col-sm-7">
                                                    {{teammates_arr[findWithAttr(teammates_arr,'id',user)].first_name}}
                                                    {{teammates_arr[findWithAttr(teammates_arr,'id',user)].last_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                            <div style="float:left;">Typing</div>
                                            <div style="float:left;" class="typing-indicator newTypingStyle">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div style="clear:both;"></div>
                            </div>
                    </div>
                <div style="clear:both;"></div>
                  <div ng-if="room.chat_room_status"class="row no-margin text-center" style="min-height: 10vh;box-sizing: border-box;  padding-top:20px;padding-bottom: 2.5vh;border-radius: 0 0 10px 10px;background-color: #4d4e63;" flow-name="data.flow" data-flow-init="{target: url,singleFile:false}"
                      data-flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                      data-flow-files-submitted="$flow.upload()"
                      data-flow-file-success="file_uploaded($file, $message, $flow)">
                    <div class="col-xs-12">
                      <div class="thumbnail col-xs-2" data-ng-show="$flow.files.length" ng-click="remove($index)" ng-repeat="file in $flow.files">
                        <img data-flow-img="file"/>
                      </div>
                    </div>
                    <div class="col-sm-1 col-xs-2">
                        <img src="/img/icon/chat_photo.png" style="width:25px;cursor:pointer;" data-flow-btn data-flow-attrs="{accept:'image/*'}">
                      <!--<i class="btn fa fa-camera" data-flow-btn
                          data-flow-attrs="{accept:'image/*'}"></i> -->
                    </div>
                    <div class="col-sm-10  col-xs-8">
                      <textarea  style="background-color:transparent;border:0px;width:100%;color:white;" class="chatInput" placeholder="Type Message..." data-ng-model="send.message" data-ng-change="typingStart(user_id)" type="text" my-enter="sendMessage()"/></textarea>
                    </div>
                    <div class="col-sm-1 col-xs-2">
                        <img src="/img/icon/chat_message.png" style="width:25px;cursor:pointer;" data-ng-click="sendMessage()">
                        <!--<i class="btn fa fa-paper-plane" data-ng-click="sendMessage()"></i> -->
                    </div>
                  </div>
            </div>
        </div>
        <aside class="right-sidebar" ng-scrollbar rebuild-on-resize rebuild-on="rebuild">
            <div class="sidebar-content">
                <div class="row no-margin">
                    <input class="teammates-filer-name" style="background-color:#c0c1c3;height: 30px" type="text" placeholder="Search" data-ng-model="search_name" data-ng-change="searchChatMembers(search_name)">
                </div>
                <div class="row teammates-card clearFix" ng-class="{'blur': users.online.indexOf(''+teammate.id)==-1}" data-ng-repeat="teammate in teammates_arr" repeat-end="end()">
                    <div class="col-xs-4 no-margin no-padding">
                        <div data-ng-if="teammate.avatar" class="teammates_avatar"><img data-ng-src="{{teammate.avatar | avatar_type}}" alt=""></div>
                        <div data-ng-if="!teammate.avatar" class="teammates_avatar"><img src="/img/no_avatar_vopros.jpg" alt=""></div>
                        <!--<div data-ng-if="!adding_invaite[teammate.id]" class="add_to_game" data-ng-click="set_invite(teammate.id, teammate.avatar)">+</div> -->
                        <!--<div data-ng-if="adding_invaite[teammate.id]" class="add_to_game invited" data-ng-click="remove_invite(teammate.id)"><i class="fa fa-minus" aria-hidden="true"></i></div> -->
                    </div>
                    <div class="col-xs-8 no-margin no-padding">
                        <div class="teammates_fio">{{teammate.first_name}} {{teammate.last_name}}</div>
                        <div class="col-xs-10 no-margin no-padding teammates_address">
                            <span data-ng-if="teammate.address"><i class="fa fa-map-marker" aria-hidden="true"></i> {{teammate.address}}</span>
                        </div>
                        <div class="col-xs-2 no-margin no-padding" data-ng-if="teammate.type == 2">
                            <a href="https://facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
