<div class="container-fluid bg2">
    <div class="row head-panel">
        <div class="col-sm-12">
            <div class="col-sm-1 col-xs-1 clearFix">
                <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                      aria-hidden="true"></i></button>
            </div>
            <div class="col-sm-11 tab-a-box hidden-xs">
                <div class="col-sm-1 tab-group first-tab"><a data-ui-sref="app.manage_clubs" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Club</a></div>
                <div class="col-sm-1 tab-group one-tab"><a data-ui-sref="app.clubCourts" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Courts</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.clubClasses" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Classes</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.members" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Members</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.booking" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Booking</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.b_notifications" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Notifications</a></div>
                <div class="col-sm-2 tab-group end-tab"><a data-ui-sref="app.clubRequest" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Requests</a></div>
            </div>
            <div class="dropdown-box hidden-sm hidden-md hidden-lg hidden-xlg">
                <div class="btn-group" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-danger">Booking</button>
                    <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu clearFix tab-a-box" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.manage_clubs" data-ui-sref-opts="{reload: true}">Club</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.clubCourts" data-ui-sref-opts="{reload: true}">Courts</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.clubClasses" data-ui-sref-opts="{reload: true}">Classes</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.members" data-ui-sref-opts="{reload: true}">Members</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.booking" data-ui-sref-opts="{reload: true}">Booking</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.b_notifications" data-ui-sref-opts="{reload: true}">Notifications</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.clubRequest" data-ui-sref-opts="{reload: true}">Requests</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-ng-show="club.create">
        <div class="row no-margin padding30 text-center top25">
            <div class="col-md-12 gv-inform-text">
                <span>Your request to add the club has been sent to the administrator. Expect a response in the near future.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 gyms-box manage-box" data-ng-repeat="gym_up in gymsObj">
            <form name="editClubForm" ng-submit="update_gym(gym_up, gym_up.id)" class="update-box">
                <div class="manage-box">
                    <div class="row">
                        <div class="col-md-6 club-control">
                            <div class="col-xs-3 no-padding"><label for="gym-enter-name">Enter name</label>
                            </div>
                            <div class="col-xs-9 no-padding"><input type="text" id="gym-enter-name"
                                                                    data-ng-model="gym_up.name"></div>
                        </div>
                        <div class="col-md-3 club-control">
                            <div class="radio-box">
                                <div class="radio-group1">
                                    <input type="radio" name="type" id="gym-enter-private"
                                           class="gym-enter-private" value="private"
                                           data-ng-model="gym_up.type">
                                    <label for="gym-enter-private">Private</label>
                                </div>
                                <div class="radio-group1">
                                    <input type="radio" name="type" id="gym-enter-public"
                                           class="gym-enter-public" value="public"
                                           data-ng-model="gym_up.type">
                                    <label for="gym-enter-public">Public</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9 club-control head-text">Choose type</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-6" data-ng-show="gym_up.gym_type == 'Gym'">
                            <div class="gym-type-group">
                                <input type="radio" name="gym-type" id="gym-enter-basketball" value="Gym"
                                       data-ng-model="gym_up.gym_type">
                                <label for="gym-enter-basketball">
                                    <span>Gym</span>
                                    <img src="/img/gym-type.png" alt="gym">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-2  col-sm-6" data-ng-show="gym_up.gym_type == 'Class'">
                            <div class="gym-type-group">
                                <input type="radio" name="gym-type" id="gym-enter-soccer" value="Class"
                                       data-ng-model="gym_up.gym_type">
                                <label for="gym-enter-soccer">
                                    <span>Class</span>
                                    <img src="/img/class-type.png" alt="class">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="col-lg-12 club-control gym-control">
                                <div class="col-lg-6">
                                    <label for="gym-enter-price">Non-Member Price/Hr</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="gym-enter-price"
                                           data-ng-model="gym_up.price">
                                </div>
                            </div>
                            <div class="col-lg-12 club-control gym-control">
                                <div class="col-lg-6">
                                    <label for="gym-enter-price_for_member">Member Price/Hr</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="gym-enter-price_for_member"
                                           data-ng-model="gym_up.price_for_member">
                                </div>
                            </div>
                            <div class="col-lg-12 club-control" style="margin-top: 10px;">
                                <div class="col-lg-6">
                                    <label for="gym-enter-members">Max Players</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="gym-enter-members"
                                           data-ng-model="gym_up.number_members">
                                </div>
                            </div>
                            <div class="col-lg-12 club-control" style="margin-top: 10px;">
                                <div class="col-lg-6">
                                    <label for="gym-enter-min-members">Min Players</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="gym-enter-min-members"
                                           data-ng-model="gym_up.min_members">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row club-control head-text select-text">Select Sport</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-xs-11 col-sm-offset-1 no-padding">
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport1" name="select-sport" value="Basketball"
                                           data-ng-model="gym_up.gym_sport">
                                    <label for="sport1" class="sport1-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport2" name="select-sport" value="Volleyball"
                                           data-ng-model="gym_up.gym_sport">
                                    <label for="sport2" class="sport2-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport3" value="Soccer" name="select-sport"
                                           data-ng-model="gym_up.gym_sport">
                                    <label for="sport3" class="sport3-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport4" value="Bubble Soccer"
                                           name="select-sport" data-ng-model="gym_up.gym_sport">
                                    <label for="sport4" class="sport4-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport5" value="Football" name="select-sport"
                                           data-ng-model="gym_up.gym_sport">
                                    <label for="sport5" class="sport5-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport6" value="Tennis" name="select-sport"
                                           data-ng-model="gym_up.gym_sport">
                                    <label for="sport6" class="sport6-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport7" value="Hockey" name="select-sport"
                                           data-ng-model="gym_up.gym_sport">
                                    <label for="sport7" class="sport7-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport8" value="Baseball/Softball"
                                           name="select-sport" data-ng-model="gym_up.gym_sport">
                                    <label for="sport8" class="sport8-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport9" value="Racquetball" name="select-sport"
                                           data-ng-model="gym_up.gym_sport">
                                    <label for="sport9" class="sport9-icon">

                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 25px;">
                        <div class="col-sm-12 informer-text">
                            <div ng-show="success_text">
                                <span>{{inform_text}}</span>
                            </div>
                            <div ng-show="loading_spiner">
                                Gym/Class update... <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="button" class="green_btn" data-ng-click="createGame(gym_up.id)"><i class="fa fa-gamepad" aria-hidden="true"></i> Create Game</button>
                        </div>
                        <div class="col-sm-4">
                            <button id="update_gym_btn">Update</button>
                        </div>
                    </div>
                    <div class="row createdGames-box">
                        <div class="row game-card_list no-margin" data-ng-repeat="(index, game) in gameList">
                            <div class="col-xs-6 col-sm-6 col-md-4 game_cell"><span>Court: </span>{{game.name}}</div>
                            <div class="col-xs-6 col-sm-6 col-md-4 game_cell"><span>Start Date: </span>{{game.date | date:"mediumDate"}}</div>
                            <div class="col-xs-6 col-sm-6 col-md-4 game_cell"><span>Start Time: </span>{{game.start_time | filterClock}}</div>
                            <div class="col-xs-6 col-sm-6 col-md-4 game_cell"><span>End Time: </span>{{game.end_time | filterClock}}</div>
                            <div class="col-xs-6 col-sm-6 col-md-4 game_cell"><span>Min/Max Players: </span> {{game.min_members}}/{{game.number_members}}</div>
                            <div class="col-xs-6 col-sm-6 col-md-4 game_cell"><span> NON-Member Price/Hr: </span> {{game.price_hours | currency}}</div>
                            <div class="col-xs-6 col-sm-6 col-md-4 game_cell"><span>Member Price/Hr: </span> {{game.price_member | currency}}</div>
                            <div class="col-xs-6 col-sm-6 col-md-4 game_cell"><span>Join members: </span> {{game.members_json.count}}</div>
                            <div class="col-xs-6 col-sm-6 col-md-4 game_cell"><span>Total Amount: </span> {{game.members_json.sum | currency}}</div>
                            <div class="removeGame-btn" data-ng-click="deleteGame(game.game_id)"><i class="fa fa-trash" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
