<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-12">
            <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                  aria-hidden="true"></i></button>
            <h1>Search</h1>
            <button data-ng-click="toggleRight('toggled')" class="filter-menu">Filter</button>
        </div>
    </div>
    <div class="row wrap-content" data-ng-class="rightSidebar">
        <div class="col-lg-12 profile no-padding">
            <div class="row search-clubs-box no-margin clubPage-box">
                <div class="cub-card clearFix" data-ng-show="club_cards.name != ''">
                    <div class="col-xs-12">
                        <div class="col-lg-3">

                            <span class="card-name">
                                <i class="fa fa-lock" aria-hidden="true"
                                   data-ng-show="club_cards.type == 'private'"></i>
                                <i class="fa fa-unlock-alt" aria-hidden="true"
                                   data-ng-show="club_cards.type == 'public'"></i>
                                {{ club_cards.name }}
                            </span>
                        </div>
                        <div class="col-lg-5">
                            <div class="card-sports-group">
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Basketball') >= 0)" src="/img/sports/sport1.png" alt="sport1">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Basketball') >= 0)" src="/img/sports/sport1_h.png"
                                        alt="sport1"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Volleyball') >= 0)" src="/img/sports/sport2.png" alt="sport2">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Volleyball') >= 0)" src="/img/sports/sport2_h.png"
                                        alt="sport2"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Soccer') >= 0)" src="/img/sports/sport3.png" alt="sport3">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Soccer') >= 0)" src="/img/sports/sport3_h.png"
                                        alt="sport3"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Bubble Soccer') >= 0)" src="/img/sports/sport4.png" alt="sport4">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Bubble Soccer') >= 0)" src="/img/sports/sport4_h.png"
                                        alt="sport4"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Football') >= 0)" src="/img/sports/sport5.png" alt="sport5">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Football') >= 0)" src="/img/sports/sport5_h.png"
                                        alt="sport5"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Tennis') >= 0)" src="/img/sports/sport6.png" alt="sport6">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Tennis') >= 0)" src="/img/sports/sport6_h.png"
                                        alt="sport6"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Hockey') >= 0)" src="/img/sports/sport7.png" alt="sport7">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Hockey') >= 0)" src="/img/sports/sport7_h.png"
                                        alt="sport7"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Baseball/Softball') >= 0)" src="/img/sports/sport8.png" alt="sport8">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Baseball/Softball') >= 0)" src="/img/sports/sport8_h.png"
                                        alt="sport8"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Racquetball') >= 0)" src="/img/sports/sport9.png" alt="sport9">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Racquetball') >= 0)" src="/img/sports/sport9_h.png"
                                        alt="sport9"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Zumba') >= 0)" src="/img/sports/class1.png" alt="class1">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Zumba') >= 0)" src="/img/sports/class1_h.png"
                                        alt="class1"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Yoga') >= 0)" src="/img/sports/class2.png" alt="class2"><img data-ng-show="(club_cards.sports.split(',').indexOf('Yoga') >= 0)" src="/img/sports/class2_h.png" alt="class2"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Pilates') >= 0)" src="/img/sports/class3.png" alt="class3">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Pilates') >= 0)" src="/img/sports/class3_h.png"
                                        alt="class3"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Boxing') >= 0)" src="/img/sports/class4.png" alt="class4">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Boxing') >= 0)" src="/img/sports/class4_h.png"
                                        alt="class4"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Kickboxing') >= 0)" src="/img/sports/class5.png" alt="class5">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Kickboxing') >= 0)" src="/img/sports/class5_h.png"
                                        alt="class5"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Jazzercise') >= 0)" src="/img/sports/class6.png" alt="class6">
                                    <img data-ng-show="(club_cards.sports.split(',').indexOf('Jazzercise') >= 0)" src="/img/sports/class6_h.png"
                                        alt="class6"></div>
                                <div class="card-sport"><img data-ng-show="!(club_cards.sports.split(',').indexOf('Spin') >= 0)" src="/img/sports/class7.png" alt="class7"><img data-ng-show="(club_cards.sports.split(',').indexOf('Spin') >= 0)" src="/img/sports/class7_h.png" alt="class7"></div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button data-ng-if="!club_cards.favorite" data-ng-click="addFavorite(club_cards.id)" class="card-request-favorite">
                            <i class="fa  fa-star" aria-hidden="true"></i>
                          </button>
                            <button data-ng-if="club_cards.favorite" data-ng-click="removeFavorite(club_cards.id)" class="card-request-membership">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="col-lg-3">
                            <button data-ng-show="club_cards.me_member == 0" class="card-request-membership" data-ng-click="requestMembership(club_cards.id)">
                                <i class="fa fa-user-plus" aria-hidden="true"></i> Request Membership
                                </button>
                            <button data-ng-show="club_cards.me_member != 0" class="card-request-membership" data-ng-click="removeMembership(club_cards.id)">
                                  <i class="fa fa-user-times" aria-hidden="true"></i>
                                  Leave Membership
                                </button>
                        </div>
                    </div>
                    <div class="row clearFix">
                        <div class="col-xs-12 clearFix">
                            <div class="col-lg-3 col-sm-12">
                                <div class="card-address">{{club_cards.address}}</div>
                                <div data-ng-show="club_cards.distance" class="card-miles">{{club_cards.distance}} miles away
                                </div>
                            </div>
                            <div class="col-lg-5 col-xs-12">
                                <div class="col-lg-6 col-xs-6 no-padding">
                                    <ul class="card-hours-day">
                                        <li><span>Mon: </span><span data-ng-show="!club_cards.hours.mon">Not working</span><span data-ng-show="club_cards.hours.mon">{{club_cards.hours.mon.start | filterClock}} - {{club_cards.hours.mon.end | filterClock}}</span>
                                        </li>
                                        <li><span>Tue: </span><span data-ng-show="!club_cards.hours.tue">Not working</span><span data-ng-show="club_cards.hours.tue">{{club_cards.hours.tue.start  | filterClock}} - {{club_cards.hours.tue.end | filterClock}}</span>
                                        </li>
                                        <li><span>Wed: </span><span data-ng-show="!club_cards.hours.wed">Not working</span><span data-ng-show="club_cards.hours.wed">{{club_cards.hours.wed.start | filterClock}} - {{club_cards.hours.wed.end | filterClock}}</span>
                                        </li>
                                        <li><span>Thu: </span><span data-ng-show="!club_cards.hours.thu">Not working</span><span data-ng-show="club_cards.hours.thu">{{club_cards.hours.thu.start | filterClock}} - {{club_cards.hours.thu.end | filterClock}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-xs-6 no-padding">
                                    <ul class="card-hours-day">
                                        <li><span>Fri: </span><span data-ng-show="!club_cards.hours.fri">Not working</span><span data-ng-show="club_cards.hours.fri">{{club_cards.hours.fri.start | filterClock}} - {{club_cards.hours.fri.end | filterClock}}</span>
                                        </li>
                                        <li><span>Sat: </span><span data-ng-show="!club_cards.hours.sat">Not working</span><span data-ng-show="club_cards.hours.sat">{{club_cards.hours.sat.start | filterClock}} - {{club_cards.hours.sat.end | filterClock}}</span>
                                        </li>
                                        <li><span>Sun: </span><span data-ng-show="!club_cards.hours.sun">Not working</span><span data-ng-show="club_cards.hours.sun">{{club_cards.hours.sun.start | filterClock}} - {{club_cards.hours.sun.end | filterClock}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <div class="col-lg-9 col-xs-5 no-padding">
                                    <div data-ng-show="club_cards.phone" class="card-phone">Phone: {{club_cards.phone}}
                                    </div>
                                    <div data-ng-show="club_cards.email" class="card-email">Email: {{club_cards.email}}
                                    </div>
                                    <div data-ng-show="club_cards.website" class="card-website">Website: {{club_cards.website}}
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xs-4 no-padding">
                                    <div class="card-members">
                                        Members<br> {{club_cards.members | number:0}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clubsPage-gmaps no-margin clearFix">
                        <ui-gmap-google-map data-center='map.center' data-zoom='map.zoom' options="options" draggable="true">
                            <ui-gmap-marker data-coords="marker.coords" data-options="marker.options" data-events="marker.events" data-idkey="marker.id">

                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                    <!-- <div class="col-sm-12 no-margin gym-filter-box hidden-xs">
                        <div class="group-filters-gyms">
                            <div class="all-filter">
                                <input type="radio" name="tab-lobby" class="tab-lobby"
                                       id="lobby-game"
                                       data-ng-model="tab_club_page" value="Gym">
                                <label for="lobby-game" style="width: 50%; line-height: 30px;">Games</label>
                            </div>
                            <div class="class-filter">
                                <input type="radio" name="tab-lobby" class="tab-lobby"
                                       id="lobby-class" data-ng-model="tab_club_page" value="Class">
                                <label for="lobby-class" style="width: 50%; line-height: 30px;">Classes</label>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-sm-12 no-margin gym-filter-box hidden-xs">
                        <div class="group-filters-gyms" style="    line-height: 38px;    text-align: center;    background-color: #f54f75;color:white">
                            Games
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-sm-12 no-padding">
                            <div class="row no-margin game-box">
                                <!-- infinite-scroll='infinitiGames()' infinite-scroll-disabled='busy' infinite-scroll-distance='0' infinite-scroll-immediate-check="true" -->
                                <div class="row no-margin" data-ng-repeat="(game_index, card) in games_arr">
                                    <!--<pre>{{card | json}}</pre>-->

                                    <div class="row list-date-box" data-ng-show="games_arr.length > 0" data-ng-if="dates_arr[card.game_id]"><span>{{dates_arr[card.game_id] | date:"fullDate"}}</span></div>
                                    <div class="row list-date-box" data-ng-show="games_arr.length > 0" data-ng-if="game_index == 0 && !dates_arr[card.game_id]"><span>{{dates_arr[0] | date:"fullDate"}}</span></div>
                                    <div class="row game-card clearFix no-margin">
                                        <div class="col-75">
                                            <div class="row no-margin">
                                                <div class="col-30 top25">
                                                    <div class="col-md-3 col-xs-4 no-padding">
                                                        <div class="{{card.gym_sport.replace('/', '-')}}-icon"></div>
                                                    </div>
                                                    <div class="col-md-9 col-xs-4 no-padding">
                                                        <div class="sport">{{card.gym_sport}}</div>
                                                        <div class="type">Game</div>
                                                    </div>
                                                </div>
                                                <div class="col-30 top25">
                                                    <div data-ng-if="card.start_time" class="clock"><i>Start Date</i> <span>{{ card.date | date:"yyyy / MM / d"}}</span></div>
                                                </div>
                                                <div class="col-20 top25">
                                                    <div data-ng-if="card.start_time" class="clock"><i>Start Time</i> <span>{{ card.start_time | filterClockEN}}</span></div>
                                                </div>
                                                <div class="col-20 top25">
                                                    <div data-ng-if="card.end_time" class="clock"><i>End Time</i> <span>{{ card.end_time | filterClockEN}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row no-margin">
                                                <div class="col-30 top25">
                                                    <div class="name">{{card.name}}</div>
                                                    <div class="address">{{card.address}}</div>
                                                    <div ng-if="!!card.distance" class="miles_count">{{card.distance}} miles away</div>
                                                </div>
                                                <div class="col-30 top25">
                                                    <div class="members_count clearFix">
                                                        <div class="col_count" data-ng-class="{'green':(member<card.global_members)}" data-ng-repeat="member in (card.members_range)" data-number="{{member}}"></div>
                                                    </div>
                                                    <div class="max_countMembers clearFix">
                                                        {{card.global_members}}
                                                        <hr> {{card.number_members}}
                                                    </div>
                                                </div>
                                                <div class="col-40 top25" data-ng-show="card.game != 0">
                                                    <div data-ng-repeat="(index, card_avatar) in card.members_avatar">
                                                        <a style="z-index:999;" ui-sref="app.user({'t_id':{{card_avatar.id}}})">
                                                            <div class="avatar" style="z-index: 9999;border:1px solid white; background: url('{{ card_avatar.img | avatar_type }}');" data-ng-if="card_avatar.img != ''"></div>
                                                        </a>
                                                        <div class="avatar" style="z-index: 7; background: url('/img/no_avatar_vopros.jpg');" data-ng-if="card_avatar.img == ''"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-25">
                                            <div class="row no-margin" style="padding-right: 20px;" data-ng-if="(card.members_range.length) > card.global_members">
                                                <div class="col-xs-6 no-padding">
                                                    <span class="green_price">${{card.price_member}} to join</span>
                                                </div>
                                                <div class="col-xs-6 no-padding">
                                                    <button class="join-btn top25" data-ng-show="card.game != 0" data-ng-click="joinGame(card.game_id)">Join
                                                  </button>
                                                </div>
                                            </div>
                                            <div class="row no-margin" style="padding-right: 20px;">
                                                <div class="col-xs-6 col-xs-offset-6 no-padding">
                                                    <button class="watch-btn custom-w" data-ng-class="{'unwatch': card.watching == 1, 'top25': (card.members_range.length) == card.global_members}" data-ng-show="card.game" data-ng-click="watchGame(card, card.game_id, (card.watching == 0)?1:0)"><span data-ng-if="card.watching == 0">Watch</span> <span data-ng-if="card.watching == 1">Unwatch</span>
                                                  </button>
                                                </div>
                                            </div>
                                            <div class="row no-margin" style="padding-right: 20px;" data-ng-if="(card.members_range.length) > card.global_members">
                                                <div class="col-xs-6 no-padding">
                                                    <span class="red_price">${{ card.price_member * (card.number_members - card.global_members) }} to reserve</span>
                                                </div>
                                                <div class="col-xs-6 no-padding">
                                                    <button class="reserve-btn top25" data-ng-show="card.game != 0" data-ng-click="reserveGame(card.game_id)">Reserve
                                                  </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <aside class="right-sidebar" data-ng-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:scroll">
                <div class="sidebar-content">
                    <form name="filterForm">
                        <div class="row">
                            <button class="clear-btn" ng-click="clearFil()">Clear</button>
                        </div>
                        <div class="filter-title">Sport</div>
                        <div class="row no-margin">
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport1" name="filter-sport[1]" value="Basketball" data-ng-model="filter.sport[1]" data-ng-change="findGames()">
                                    <label for="filter-sport1" class="sport1-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport2" name="filter-sport[2]" value="Volleyball" data-ng-model="filter.sport[2]" data-ng-change="findGames()">
                                    <label for="filter-sport2" class="sport2-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer" data-ng-model="filter.sport[3]" data-ng-change="findGames()">
                                    <label for="filter-sport3" class="sport3-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer" data-ng-model="filter.sport[4]" data-ng-change="findGames()">
                                    <label for="filter-sport4" class="sport4-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport5" name="filter-sport[5]" value="Football" data-ng-model="filter.sport[5]" data-ng-change="findGames()">
                                    <label for="filter-sport5" class="sport5-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis" data-ng-model="filter.sport[6]" data-ng-change="findGames()">
                                    <label for="filter-sport6" class="sport6-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey" data-ng-model="filter.sport[7]" data-ng-change="findGames()">
                                    <label for="filter-sport7" class="sport7-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport8" name="filter-sport[8]" value="Baseball/Softball" data-ng-model="filter.sport[8]" data-ng-change="findGames()">
                                    <label for="filter-sport8" class="sport8-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport9" name="filter-sport[9]" value="Racquetball" data-ng-model="filter.sport[9]" data-ng-change="findGames()">
                                    <label for="filter-sport9" class="sport9-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport10" name="filter-sport[10]" value="Zumba" data-ng-model="filter.sport[10]" data-ng-change="findGames()">
                                    <label for="filter-sport10" class="class1-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport11" name="filter-sport[11]" value="Yoga" data-ng-model="filter.sport[11]" data-ng-change="findGames()">
                                    <label for="filter-sport11" class="class2-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport12" name="filter-sport[12]" value="Pilates" data-ng-model="filter.sport[12]" data-ng-change="findGames()">
                                    <label for="filter-sport12" class="class3-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport13" name="filter-sport[13]" value="Boxing" data-ng-model="filter.sport[13]" data-ng-change="findGames()">
                                    <label for="filter-sport13" class="class4-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport14" name="filter-sport[14]" value="Kickboxing" data-ng-model="filter.sport[14]" data-ng-change="findGames()">
                                    <label for="filter-sport14" class="class5-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport15" name="filter-sport[15]" value="Jazzercise" data-ng-model="filter.sport[15]" data-ng-change="findGames()">
                                    <label for="filter-sport15" class="class6-icon"></label>
                                </div>
                            </div>
                            <div class="sport-Box">
                                <div class="filter-group">
                                    <input type="checkbox" id="filter-sport16" name="filter-sport[16]" value="Spin" data-ng-model="filter.sport[16]" data-ng-change="findGames()">
                                    <label for="filter-sport16" class="class7-icon"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row no-margin">
                            <div class="filter-title"></div>
                            <div class="distance-box">
                                <div class="filter-radio-group">
                                    <div class="distance-group">
                                        <input type="radio" id="accessAll" name="filter-access" value="All" data-ng-model="filter.access" data-ng-change="findGames()">
                                        <label for="accessAll" class="distance5">All</label>
                                    </div>
                                    <div class="distance-group">
                                        <input type="radio" id="accessPublic" name="filter-access" value="Public" data-ng-model="filter.access" data-ng-change="findGames()">
                                        <label for="accessPublic" class="distance10">Public</label>
                                    </div>
                                    <div class="distance-group">
                                        <input type="radio" id="accessPrivate" name="filter-access" value="Private" data-ng-model="filter.access" data-ng-change="findGames()">
                                        <label for="accessPrivate" class="distance25">Private</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row no-margin">
                            <div class="filter-title">Date</div>
                            <div class="filter-group">
                                <input type="text" class="filter-name" datepicker-append-to-body="true" data-uib-datepicker-popup="fullDate" ng-model="filter.dt" data-is-open="popup2.opened" data-datepicker-options="dateOptions" data-close-text="Close" data-ng-change="findGames()" data-ng-click="open2()"
                                />
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="filter-title">Start time</div>
                            <div class="filter-group">
                                <rzslider rz-slider-model="startTime.value" rz-slider-options="startTime.options"></rzslider>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="filter-title">End time</div>
                            <div class="filter-group">
                                <rzslider rz-slider-model="endTime.value" rz-slider-options="endTime.options"></rzslider>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="filter-title">Age</div>
                            <div class="filter-group">
                                <rzslider rz-slider-model="ageSlider.minValue" rz-slider-high="ageSlider.maxValue" rz-slider-options="ageSlider.options"></rzslider>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="filter-title">Gender</div>
                            <div class="distance-box">
                                <div class="filter-radio-group">
                                    <div class="distance-group">
                                        <input type="radio" id="genderAll" name="filter-gender" value="All" data-ng-model="filter.gender" data-ng-change="findGames()">
                                        <label for="genderAll" class="distance5">All</label>
                                    </div>
                                    <div class="distance-group">
                                        <input type="radio" id="genderMale" name="filter-gender" value="Male" data-ng-model="filter.gender" data-ng-change="findGames()">
                                        <label for="genderMale" class="distance10">Male</label>
                                    </div>
                                    <div class="distance-group">
                                        <input type="radio" id="genderFemale" name="filter-gender" value="Female" data-ng-model="filter.gender" data-ng-change="findGames()">
                                        <label for="genderFemale" class="distance25">Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </aside>
        </div>
    </div>