<div class="container-fluid bg2">
    <div class="row head-panel">
        <div class="col-sm-12">
            <div class="col-sm-1 col-xs-1 clearFix">
                <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                      aria-hidden="true"></i></button>
            </div>
            <div class="col-sm-11 tab-a-box hidden-xs">
                <div class="col-sm-1 tab-group first-tab"><a data-ui-sref="app.manage_clubs" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Club</a></div>
                <div class="col-sm-1 tab-group one-tab"><a data-ui-sref="app.clubCourts" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Courts</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.clubClasses" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Classes</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.members" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Members</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.booking" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Booking</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.b_notifications" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Notifications</a></div>
                <div class="col-sm-2 tab-group end-tab"><a data-ui-sref="app.clubRequest" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Requests</a></div>
            </div>
            <div class="dropdown-box hidden-sm hidden-md hidden-lg hidden-xlg">
                <div class="btn-group" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-danger">Booking</button>
                    <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu clearFix tab-a-box" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.manage_clubs" data-ui-sref-opts="{reload: true}">Club</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.clubCourts" data-ui-sref-opts="{reload: true}">Courts</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.clubClasses" data-ui-sref-opts="{reload: true}">Classes</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.members" data-ui-sref-opts="{reload: true}">Members</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.booking" data-ui-sref-opts="{reload: true}">Booking</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.b_notifications" data-ui-sref-opts="{reload: true}">Notifications</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.clubRequest" data-ui-sref-opts="{reload: true}">Requests</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-ng-show="club.create">
        <div class="row no-margin padding30 text-center top25">
            <div class="col-md-12 gv-inform-text">
                <span>Your request to add the club has been sent to the administrator. Expect a response in the near future.</span>
            </div>
        </div>
    </div>
    <div class="row" data-ng-show="!create_new">
        <div class="col-sm-4 col-sm-offset-4">
            <button class="green_btn" data-ng-click="add_new()">Add new</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 gyms-box manage-box" data-ng-show="create_new">
            <form name="editClubForm" ng-submit="add_gym(gym)">
                <div class="manage-box">
                    <div class="row">
                        <div class="col-md-6 club-control">
                            <div class="col-xs-3 no-padding"><label for="gym-enter-name">Enter name</label></div>
                            <div class="col-xs-9 no-padding"><input type="text" id="gym-enter-name" data-ng-model="gym.name"></div>
                        </div>
                        <div class="col-md-3 club-control">
                            <div class="radio-box">
                                <div class="radio-group1">
                                    <input type="radio" name="type" id="gym-enter-private" class="gym-enter-private" value="private"
                                           data-ng-model="gym.type">
                                    <label for="gym-enter-private">Private</label>
                                </div>
                                <div class="radio-group1">
                                    <input type="radio" name="type" id="gym-enter-public" class="gym-enter-public" value="public"
                                           data-ng-model="gym.type">
                                    <label for="gym-enter-public">Public</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9 club-control head-text">Choose type</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-6">
                            <div class="gym-type-group">
                                <input type="radio" name="gym-type" id="gym-enter-basketball" value="Gym" data-ng-model="gym.add_gym_type">
                                <label for="gym-enter-basketball">
                                    <span>Gym</span>
                                    <img src="/img/gym-type.png" alt="basketball">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12" style="margin-top: 5px;">
                            <div class="col-lg-12 club-control gym-control">
                                <div class="col-lg-6">
                                    <label for="gym-enter-price">NON-Member Price / Hr</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="gym-enter-price" data-ng-model="gym.price">
                                </div>
                            </div>
                            <div class="col-lg-12 club-control gym-control">
                                <div class="col-lg-6">
                                    <label for="gym-enter-price_for_member">Member Price / Hr</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="gym-enter-price_for_member" data-ng-model="gym.price_for_member">
                                </div>
                            </div>
                            <div class="col-lg-12 club-control" style="margin-top: 10px;">
                                <div class="col-lg-6">
                                    <label for="gym-enter-members">Max. Players
</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="gym-enter-members" data-ng-model="gym.members">
                                </div>
                            </div>
                            <div class="col-lg-12 club-control" style="margin-top: 10px;">
                                <div class="col-lg-6">
                                    <label for="gym-enter-min-members">Min. Players
</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="gym-enter-min-members" data-ng-model="gym.min_members">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row club-control head-text select-text">Select Sport</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-xs-11 col-sm-offset-1 no-padding">
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport1" name="select-sport" value="Basketball" data-ng-model="gym.gym_sport">
                                    <label for="sport1" class="sport1-icon"></label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport2"  name="select-sport" value="Volleyball" data-ng-model="gym.gym_sport">
                                    <label for="sport2" class="sport2-icon"></label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport3" value="Soccer" name="select-sport" data-ng-model="gym.gym_sport">
                                    <label for="sport3" class="sport3-icon"></label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport4" value="Bubble Soccer" name="select-sport" data-ng-model="gym.gym_sport">
                                    <label for="sport4" class="sport4-icon"></label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport5" value="Football" name="select-sport" data-ng-model="gym.gym_sport">
                                    <label for="sport5" class="sport5-icon"></label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport6" value="Tennis" name="select-sport" data-ng-model="gym.gym_sport">
                                    <label for="sport6" class="sport6-icon"></label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport7" value="Hockey" name="select-sport" data-ng-model="gym.gym_sport">
                                    <label for="sport7" class="sport7-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport8" value="Baseball/Softball" name="select-sport" data-ng-model="gym.gym_sport">
                                    <label for="sport8" class="sport8-icon"></label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport9" value="Racquetball" name="select-sport" data-ng-model="gym.gym_sport">
                                    <label for="sport9" class="sport9-icon"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-md-9 club-control head-text">Opening hours</div>
                    </div>
                    <div class="row hours-box">
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-1 club-hour">
                            <input type="checkbox" id="gym-enter-mo" data-ng-model="gym_day['mon']">
                            <label for="gym-enter-mo">Monday</label>
                            <div data-ng-show="gym_day['mon']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="mo_hour[1]" id="gym-mo_hour1" data-ng-model="gym.day['mon'].start" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="mo_hour[2]" id="gym-mo_hour2" data-ng-model="gym.day['mon'].end" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_day['mon']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
                            <input type="checkbox" id="gym-enter-tu" data-ng-model="gym_day['tue']">
                            <label for="gym-enter-tu">Tuesday</label>
                            <div data-ng-show="gym_day['tue']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="tu_hour[1]" id="gym-tu_hour1" data-ng-model="gym.day['tue'].start" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="tu_hour[2]" id="gym-tu_hour2" data-ng-model="gym.day['tue'].end" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_day['tue']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
                            <input type="checkbox" id="gym-enter-we" data-ng-model="gym_day['wed']">
                            <label for="gym-enter-we">Wednesday</label>
                            <div data-ng-show="gym_day['wed']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="we_hour[1]" id="gym-we_hour1" data-ng-model="gym.day['wed'].start" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="we_hour[2]" id="gym-we_hour2" data-ng-model="gym.day['wed'].end" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_day['wed']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
                            <input type="checkbox" id="gym-enter-th" data-ng-model="gym_day['thu']">
                            <label for="gym-enter-th">Thursday</label>
                            <div data-ng-show="gym_day['thu']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="th_hour[1]" id="gym-th_hour1" data-ng-model="gym.day['thu'].start" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="th_hour[2]" id="gym-th_hour2" data-ng-model="gym.day['thu'].end" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_day['thu']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
                            <input type="checkbox" id="gym-enter-fr" data-ng-model="gym_day['fri']">
                            <label for="gym-enter-fr">Friday</label>
                            <div data-ng-show="gym_day['fri']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="fr_hour[1]" id="gym-fr_hour1" data-ng-model="gym.day['fri'].start" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="fr_hour[2]" id="gym-fr_hour2" data-ng-model="gym.day['fri'].end" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_day['fri']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-sm-offset-1 col-lg-offset-0 club-hour">
                            <input type="checkbox" id="gym-enter-sa" data-ng-model="gym_day['sat']">
                            <label for="gym-enter-sa">Saturday</label>
                            <div data-ng-show="gym_day['sat']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="sa_hour[1]" id="gym-sa_hour1" data-ng-model="gym.day['sat'].start" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="sa_hour[2]" id="gym-sa_hour2" data-ng-model="gym.day['sat'].end" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_day['sat']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
                            <input type="checkbox" id="gym-enter-su" data-ng-model="gym_day['sun']">
                            <label for="gym-enter-su">Sunday</label>
                            <div data-ng-show="gym_day['sun']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="su_hour[1]" id="gym-su_hour1" data-ng-model="gym.day['sun'].start" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="su_hour[2]" id="gym-su_hour2" data-ng-model="gym.day['sun'].end" data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_day['sun']" class="not-selected">Not working</div>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button id="edit_gym_btn">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12 gyms-box manage-box" data-ng-repeat="item in gymsObj">
            <div class="update-box row no-margin club-item_box">
                <div class="col-md-1 col-xs-12 top25">
                    <div class="{{item.gym_sport.replace('/', '-')}}-icon-active court_sport"></div>
                </div>
                <div class="col-md-4 col-xs-12 top25">
                    <div class="col-md-12 col-xs-6">
                        <div class="court_name">{{item.name}}</div>
                        <span class="court_type">Courts</span>
                    </div>
                    <div class="col-md-12 col-xs-6">
                        <div class="court_access" data-ng-if="item.type == 'private'"><i class="fa fa-lock" aria-hidden="true"></i> Private</div>
                        <div class="court_access" data-ng-if="item.type == 'public'"><i class="fa fa-unlock" aria-hidden="true"></i> Public</div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12 top25">
                    <div class="court_price col-md-12 col-xs-4"><i class="fa fa-usd" aria-hidden="true" uib-tooltip='Price'></i> {{item.price}}, <i class="fa fa-usd" aria-hidden="true" uib-tooltip='Price for members'></i> {{item.price_for_member}}</div>
                    <div class="court_number col-md-12 col-xs-4"><i class="fa fa-users" aria-hidden="true" uib-tooltip='Maximum members'></i> {{item.number_members}}</div>
                    <div class="court_members col-md-12 col-xs-4"><i class="fa fa-chevron-left" aria-hidden="true" uib-tooltip='Minimum members'></i> {{item.min_members}}</div>
                </div>
                <div class="col-md-5 col-xs-12">
                    <<!--div class="col-md-8 col-xs-12">
                        <button class="green_btn" style="margin-top: 25px;"><i class="fa fa-plus" aria-hidden="true"></i> Create Game</button>
                    </div>-->
                    <div class="col-md-8 col-xs-12">
                        <button class="reserve top25" data-ng-click="manage(item.id)"><i class="fa fa-pencil" aria-hidden="true"></i> Manage</button>
                    </div>
                </div>
            </div>
            <!--<form name="editClubForm" ng-submit="update_gym(gym_up[item.id], item.id)" class="update-box">
                <div class="manage-box">
                    <div class="row">
                        <div class="col-md-6 club-control">
                            <div class="col-xs-3 no-padding"><label for="gym-enter-name[item.id]">Enter name</label>
                            </div>
                            <div class="col-xs-9 no-padding"><input type="text" id="gym-enter-name[item.id]"
                                                                    data-ng-model="gym_up[item.id].name"></div>
                        </div>
                        <div class="col-md-3 club-control">
                            <div class="radio-box">
                                <div class="radio-group1">
                                    <input type="radio" name="type" id="gym-enter-private[{{item.id}}]"
                                           class="gym-enter-private" value="private"
                                           data-ng-model="gym_up[item.id].type">
                                    <label for="gym-enter-private[{{item.id}}]">Private</label>
                                </div>
                                <div class="radio-group1">
                                    <input type="radio" name="type" id="gym-enter-public[{{item.id}}]"
                                           class="gym-enter-public" value="public"
                                           data-ng-model="gym_up[item.id].type">
                                    <label for="gym-enter-public[{{item.id}}]">Public</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9 club-control head-text">Choose type</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-6" data-ng-show="gym_up[item.id].gym_type == 'Gym'">
                            <div class="gym-type-group">
                                <input type="radio" name="gym-type" id="gym-enter-basketball[{{item.id}}]" value="Gym"
                                       data-ng-model="gym_up[item.id].gym_type">
                                <label for="gym-enter-basketball[{{item.id}}]">
                                    <span>Gym</span>
                                    <img src="/img/gym-type.png" alt="gym">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-2  col-sm-6" data-ng-show="gym_up[item.id].gym_type == 'Class'">
                            <div class="gym-type-group">
                                <input type="radio" name="gym-type" id="gym-enter-soccer[{{item.id}}]" value="Class"
                                       data-ng-model="gym_up[item.id].gym_type">
                                <label for="gym-enter-soccer[{{item.id}}]">
                                    <span>Class</span>
                                    <img src="/img/class-type.png" alt="class">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="col-lg-12 club-control gym-control">
                                <div class="col-lg-6">
                                    <label for="gym-enter-price[{{item.id}}]">Enter price <span
                                            data-ng-show="gym_up[item.id].gym_type == 'Gym'">hr/member</span></label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="gym-enter-price[{{item.id}}]"
                                           data-ng-model="gym_up[item.id].price">
                                </div>
                            </div>
                            <div class="col-lg-12 club-control" style="margin-top: 10px;">
                                <div class="col-lg-6">
                                    <label for="gym-enter-members[{{item.id}}]">Max. Players
</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="gym-enter-members[{{item.id}}]"
                                           data-ng-model="gym_up[item.id].members">
                                </div>
                            </div>
                            <div class="col-lg-12 club-control" style="margin-top: 10px;">
                                <div class="col-lg-6">
                                    <label for="gym-enter-min-members[{{item.id}}]">Enter minimum number of
                                        members</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="gym-enter-min-members[{{item.id}}]"
                                           data-ng-model="gym_up[item.id].min_members">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 club-control head-text">Select Sport</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-xs-11 col-sm-offset-1 no-padding">
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport1[{{item.id}}]" name="select-sport" value="Basketball"
                                           data-ng-model="gym_up[item.id].gym_sport">
                                    <label for="sport1[{{item.id}}]" class="sport1-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport2[{{item.id}}]" name="select-sport" value="Volleyball"
                                           data-ng-model="gym_up[item.id].gym_sport">
                                    <label for="sport2[{{item.id}}]" class="sport2-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport3[{{item.id}}]" value="Soccer" name="select-sport"
                                           data-ng-model="gym_up[item.id].gym_sport">
                                    <label for="sport3[{{item.id}}]" class="sport3-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport4[{{item.id}}]" value="Bubble Soccer"
                                           name="select-sport" data-ng-model="gym_up[item.id].gym_sport">
                                    <label for="sport4[{{item.id}}]" class="sport4-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport5[{{item.id}}]" value="Football" name="select-sport"
                                           data-ng-model="gym_up[item.id].gym_sport">
                                    <label for="sport5[{{item.id}}]" class="sport5-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport6[{{item.id}}]" value="Tennis" name="select-sport"
                                           data-ng-model="gym_up[item.id].gym_sport">
                                    <label for="sport6[{{item.id}}]" class="sport6-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport7[{{item.id}}]" value="Hockey" name="select-sport"
                                           data-ng-model="gym_up[item.id].gym_sport">
                                    <label for="sport7[{{item.id}}]" class="sport7-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport8[{{item.id}}]" value="Baseball/Softball"
                                           name="select-sport" data-ng-model="gym_up[item.id].gym_sport">
                                    <label for="sport8[{{item.id}}]" class="sport8-icon">

                                    </label>
                                </div>
                                <div class="col-xs-1 sport-type">
                                    <input type="radio" id="sport9[{{item.id}}]" value="Racquetball" name="select-sport"
                                           data-ng-model="gym_up[item.id].gym_sport">
                                    <label for="sport9[{{item.id}}]" class="sport9-icon">

                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 club-control head-text">Opening hours</div>
                    </div>
                    <div class="row hours-box">
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-1 club-hour">
                            <input type="checkbox" id="gym-enter-mo[{{item.id}}]"
                                   data-ng-model="gym_up_day[item.id]['mon']">
                            <label for="gym-enter-mo[{{item.id}}]">Monday</label>
                            <div data-ng-show="gym_up_day[item.id]['mon']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="mo_hour[1]" id="gym-mo_hour1[item.id]"
                                            data-ng-model="gym_up[item.id].day['mon'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="mo_hour[2]" id="gym-mo_hour2[item.id]"
                                            data-ng-model="gym_up[item.id].day['mon'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_up_day[item.id]['mon']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
                            <input type="checkbox" id="gym-enter-tu[{{item.id}}]"
                                   data-ng-model="gym_up_day[item.id]['tue']">
                            <label for="gym-enter-tu[{{item.id}}]">Tuesday</label>
                            <div data-ng-show="gym_up_day[item.id]['tue']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="tu_hour[1]" id="gym-tu_hour1[item.id]"
                                            data-ng-model="gym_up[item.id].day['tue'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="tu_hour[2]" id="gym-tu_hour2[item.id]"
                                            data-ng-model="gym_up[item.id].day['tue'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_up_day[item.id]['tue']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
                            <input type="checkbox" id="gym-enter-we[{{item.id}}]"
                                   data-ng-model="gym_up_day[item.id]['wed']">
                            <label for="gym-enter-we[{{item.id}}]">Wednesday</label>
                            <div data-ng-show="gym_up_day[item.id]['wed']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="we_hour[1]" id="gym-we_hour1[item.id]"
                                            data-ng-model="gym.day['wed'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="we_hour[2]" id="gym-we_hour2[item.id]"
                                            data-ng-model="gym.day['wed'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_up_day[item.id]['wed']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
                            <input type="checkbox" id="gym-enter-th[{{item.id}}]"
                                   data-ng-model="gym_up_day[item.id]['thu']">
                            <label for="gym-enter-th[{{item.id}}]">Thursday</label>
                            <div data-ng-show="gym_up_day[item.id]['thu']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="th_hour[1]" id="gym-th_hour1[item.id]"
                                            data-ng-model="gym_up[item.id].day['thu'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="th_hour[2]" id="gym-th_hour2[item.id]"
                                            data-ng-model="gym_up[item.id].day['thu'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_up_day[item.id]['thu']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 club-hour">
                            <input type="checkbox" id="gym-enter-fr[{{item.id}}]"
                                   data-ng-model="gym_up_day[item.id]['fri']">
                            <label for="gym-enter-fr[{{item.id}}]">Friday</label>
                            <div data-ng-show="gym_up_day[item.id]['fri']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="fr_hour[1]" id="gym-fr_hour1[item.id]"
                                            data-ng-model="gym_up[item.id].day['fri'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="fr_hour[2]" id="gym-fr_hour2[item.id]"
                                            data-ng-model="gym_up[item.id].day['fri'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_up_day[item.id]['fri']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-sm-offset-1 col-lg-offset-0 club-hour">
                            <input type="checkbox" id="gym-enter-sa[{{item.id}}]"
                                   data-ng-model="gym_up_day[item.id]['sat']">
                            <label for="gym-enter-sa[{{item.id}}]">Saturday</label>
                            <div data-ng-show="gym_up_day[item.id]['sat']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="sa_hour[1]" id="gym-sa_hour1[item.id]"
                                            data-ng-model="gym_up[item.id].day['sat'].start"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="sa_hour[2]" id="gym-sa_hour2[item.id]"
                                            data-ng-model="gym_up[item.id].day['sat'].end"
                                            data-ng-options="hour as hour|filterClock for hour in o_hours">
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_up_day[item.id]['sat']" class="not-selected">Not working</div>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-lg-1 col-xs-offset-2 col-sm-offset-0 club-hour">
                            <input type="checkbox" id="gym-enter-su[{{item.id}}]"
                                   data-ng-model="gym_up_day[item.id]['sun']">
                            <label for="gym-enter-su[{{item.id}}]">Sunday</label>
                            <div data-ng-show="gym_up_day[item.id]['sun']" class="hours-croup">
                                <div class="select-hour">
                                    <select name="su_hour[1]" id="gym-su_hour1[item.id]"
                                            data-ng-model="gym_up[item.id].day['sun'].start">
                                        <option ng-selected="{{hour == '08 am'}}" data-ng-repeat="hour in g_hours"
                                                value="{{hour}}">{{hour}}
                                        </option>
                                    </select>
                                </div>
                                <div class="select-hour">
                                    <select name="su_hour[2]" id="gym-su_hour2[item.id]"
                                            data-ng-model="gym_up[item.id].day['sun'].end">
                                        <option ng-selected="{{hour == '10 pm'}}" data-ng-repeat="hour in g_hours"
                                                value="{{hour}} ">{{hour}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="!gym_up_day[item.id]['sun']" class="not-selected">Not working</div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 25px;">
                        <div class="col-sm-12 informer-text">
                            <div ng-show="success_text[{{item.id}}]">
                                <span>{{inform_text}}</span>
                            </div>
                            <div ng-show="loading_spiner[{{item.id}}]">
                                Gym/Class update... <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button id="update_gym_btn">Update</button>
                        </div>
                    </div>
                </div>
            </form>-->
        </div>
    </div>
</div>
