<div data-ng-show="hintS < 2" style="width:100%;position:absolute;left:0px;height:100%;background-color: black;z-index:90;opacity:0.5;"></div>
<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-12">
            <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                  aria-hidden="true"></i></button>
            <h1>Search</h1>
            <button data-ng-click="toggleRight('toggled')" class="filter-menu">Filter</button>
        </div>
    </div>
    <div class="row wrap-content" data-ng-class="rightSidebar">
        <div class="col-lg-12 profile no-padding">
            <div class="row no-margin search-address-box" ng-class="hintS == '0' ? 'hintShowSearch' : '' ">
                <input type="text" placeholder="Hour Address" class="search-input-address" data-g-places-autocomplete data-ng-model="game_filter.address" data-ng-change="changeAddress()">
                <button data-ng-show="myPosition" data-ng-click="setAddress(1)" type="button" class="myPosition">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </button>
            </div>

            <div style="position:relative;z-index:91;margin-top:20px;" ng-class="hintS != '0' ? 'hide' : '' ">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <img src="/img/icon/hint_arrow_left.png" style="width:100%;" class='wow animated fadeInUp' data-wow-delay="0.1s">
                        </div>
                    </div>
                    <div style="text-align:center;color:white;font-size:16px;padding-top:20px;" class='col-sm-6 wow animated fadeInUp' data-wow-delay="0.1s">
                        Start your search with enterning your address
                    </div>
                    <div class="col-sm-3">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-5">
                            <img src="/img/icon/hint_arrow_right.png" style="width:100%;" class=' wow animated fadeInUp' data-wow-delay="0.1s">
                        </div>
                    </div>
                </div>
                <div class="row" style='padding-top:20px;'>
                    <div style="color:white;text-align: right;font-family: 'Source Sans Pro';" class=' col-sm-5 wow animated fadeInUp' data-wow-delay="0.1s">
                        Please enter your address here
                    </div>
                    <div style="text-align:center;color:#44cb5b;font-size:20px;font-family: 'Source Sans Pro';" class='col-sm-2 wow animated bounceIn' data-wow-delay="0.1s">
                        OR
                    </div>
                    <div style="color:white;text-align: left;font-family: 'Source Sans Pro';" class=' col-sm-5 wow animated fadeInUp' data-wow-delay="0.1s">
                        Click here to allocate address automatically
                    </div>
                </div>
            </div>

            <div style="position:relative;z-index:91;margin-top:20px;" ng-class="hintS != '1' ? 'hide' : '' ">
                <div class='row' style='margin-top:100px;'>
                    <div class='col-sm-3 pull-right'>
                        <div class='col-sm-5'>
                        </div>
                        <div class='col-sm-6'>
                            <img src="/img/icon/hint_arrow_right.png" style="width:100%;" class='wow animated fadeInUp' data-wow-delay="0.1s">
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div style="font-size:16px;color:white;text-align: center;font-family: 'Source Sans Pro';" class='col-sm-3 pull-right wow animated fadeInUp' data-wow-delay="0.1s">
                        Use filters to fint<br> the best fit your search
                    </div>
                </div>
                <div class='row' style='margin-top:100px;'>
                    <div class='col-sm-4'>
                    </div>
                    <div class="col-sm-4 wow animated bounceIn" data-wow-delay="0.1s">
                        <button class='show-result' data-ng-click="hintHide()">I’m ready. Show my result</button>
                    </div>
                </div>
            </div>

            <div class="hide">
                <input type="hidden" data-ng-model="boxDay">
            </div>
            <div class="row no-margin game-box" infinite-scroll='infinitiGames()' infinite-scroll-disabled='busy' infinite-scroll-distance='0' infinite-scroll-immediate-check="true">
                <div class="row no-margin" data-ng-repeat="(game_index, card) in games_arr">
                    <!--<pre>{{card | json}}</pre>-->

                    <div class="row list-date-box" data-ng-show="games_arr.length > 0" data-ng-if="dates_arr[card.game_id]"><span>{{dates_arr[card.game_id] | date:"fullDate"}}</span></div>
                    <div class="row list-date-box" data-ng-show="games_arr.length > 0" data-ng-if="game_index == 0 && !dates_arr[card.game_id]"><span>{{dates_arr[0] | date:"fullDate"}}</span></div>
                    <div class="row game-card clearFix no-margin">
                        <div class="col-75">
                            <div class="row no-margin">
                                <div class="col-30 top25">
                                    <div class="col-md-3 col-xs-4 no-padding">
                                        <div class="{{card.gym_sport.replace('/', '-')}}-icon"></div>
                                    </div>
                                    <div class="col-md-9 col-xs-4 no-padding">
                                        <div class="sport">{{card.gym_sport}}</div>
                                        <div class="type">Game</div>
                                    </div>
                                </div>
                                <div class="col-30 top25">
                                    <div data-ng-if="card.start_time" class="clock"><i>Start Date</i> <span>{{ card.date | date:"yyyy / MM / d"}}</span></div>
                                </div>
                                <div class="col-20 top25">
                                    <div data-ng-if="card.start_time" class="clock"><i>Start Time</i> <span>{{ card.start_time | filterClockEN}}</span></div>
                                </div>
                                <div class="col-20 top25">
                                    <div data-ng-if="card.end_time" class="clock"><i>End Time</i> <span>{{ card.end_time | filterClockEN}}</span></div>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-30 top25">
                                    <div class="name">{{card.name}}</div>
                                    <div class="address">{{card.address}}</div>
                                    <div ng-if="!!card.distance" class="miles_count">{{card.distance}} miles away</div> <span style="color:white">({{card.club_name}})</span>
                                </div>
                                <div class="col-30 top25">
                                    <div class="members_count clearFix">
                                        <div class="col_count" data-ng-class="{'green':(member<card.global_members)}" data-ng-repeat="member in (card.members_range)" data-number="{{member}}"></div>
                                    </div>
                                    <div class="max_countMembers clearFix">
                                        {{card.global_members}}
                                        <hr> {{card.number_members}}
                                    </div>
                                </div>
                                <div class="col-40 top25" data-ng-show="card.game != 0">
                                    <div data-ng-repeat="(index, card_avatar) in card.members_avatar">
                                        <a style="z-index:999;" ui-sref="app.user({'t_id':card_avatar.id})">
                                            <div class="avatar" style="z-index: 9999;border:1px solid white; background: url('{{ card_avatar.img | avatar_type }}');" data-ng-if="card_avatar.img != ''"></div>
                                        </a>
                                        <div class="avatar" style="z-index: 7; background: url('/img/no_avatar_vopros.jpg');" data-ng-if="card_avatar.img == ''"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-25">
                            <div class="row no-margin" style="padding-right: 20px;" data-ng-if="(card.members_range.length) > card.global_members">
                                <div class="col-xs-6 no-padding">
                                    <span class="green_price">${{card.price_member}} to join</span>
                                </div>
                                <div class="col-xs-6 no-padding">
                                    <button class="join-btn top25" data-ng-show="card.game != 0" data-ng-click="joinGame(card.game_id)">Join
                                    </button>
                                </div>
                            </div>
                            <div class="row no-margin" style="padding-right: 20px;">
                                <div class="col-xs-6 col-xs-offset-6 no-padding">
                                    <button class="watch-btn custom-w" data-ng-class="{'unwatch': card.watching == 1, 'top25': (card.members_range.length) == card.global_members}" data-ng-show="card.game" data-ng-click="watchGame(card, card.game_id, (card.watching == 0)?1:0)"><span data-ng-if="card.watching == 0">Watch</span> <span data-ng-if="card.watching == 1">Unwatch</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row no-margin" style="padding-right: 20px;" data-ng-if="(card.members_range.length) > card.global_members">
                                <div class="col-xs-6 no-padding">
                                    <span class="red_price">${{ card.price_member * (card.number_members - card.global_members) }} to reserve</span>
                                </div>
                                <div class="col-xs-6 no-padding">
                                    <button class="reserve-btn top25" data-ng-show="card.game != 0" data-ng-click="reserveGame(card.game_id)">Reserve
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="busy" class="row text-center top25"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            </div>
        </div>
        <aside class="right-sidebar" data-ng-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:scroll" ng-class="hintS == '1' ? 'hintRightFilterBlock' : '' ">
            <div class="sidebar-content">
                <form name="filterForm">
                    <div class="row">
                        <button class="clear-btn" ng-click="clearFil()">Clear</button>
                    </div>
                    <div class="filter-title">Sport</div>
                    <div class="row no-margin">
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport1" name="filter-sport[1]" value="Basketball" data-ng-model="game_filter.sport[1]" data-ng-change="findGames()">
                                <label for="filter-sport1" class="sport1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport2" name="filter-sport[2]" value="Volleyball" data-ng-model="game_filter.sport[2]" data-ng-change="findGames()">
                                <label for="filter-sport2" class="sport2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer" data-ng-model="game_filter.sport[3]" data-ng-change="findGames()">
                                <label for="filter-sport3" class="sport3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer" data-ng-model="game_filter.sport[4]" data-ng-change="findGames()">
                                <label for="filter-sport4" class="sport4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport5" name="filter-sport[5]" value="Football" data-ng-model="game_filter.sport[5]" data-ng-change="findGames()">
                                <label for="filter-sport5" class="sport5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis" data-ng-model="game_filter.sport[6]" data-ng-change="findGames()">
                                <label for="filter-sport6" class="sport6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey" data-ng-model="game_filter.sport[7]" data-ng-change="findGames()">
                                <label for="filter-sport7" class="sport7-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport8" name="filter-sport[8]" value="Baseball/Softball" data-ng-model="game_filter.sport[8]" data-ng-change="findGames()">
                                <label for="filter-sport8" class="sport8-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport9" name="filter-sport[9]" value="Racquetball" data-ng-model="game_filter.sport[9]" data-ng-change="findGames()">
                                <label for="filter-sport9" class="sport9-icon"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="filter-title"></div>
                        <div class="distance-box">
                            <div class="filter-radio-group">
                                <div class="distance-group">
                                    <input type="radio" id="accessAll" name="filter-access" value="All" data-ng-model="game_filter.access" data-ng-change="findGames()">
                                    <label for="accessAll" class="distance5">All</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="accessPublic" name="filter-access" value="Public" data-ng-model="game_filter.access" data-ng-change="findGames()">
                                    <label for="accessPublic" class="distance10">Public</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="accessPrivate" name="filter-access" value="Private" data-ng-model="game_filter.access" data-ng-change="findGames()">
                                    <label for="accessPrivate" class="distance25">Private</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="filter-title">Date</div>
                        <div class="filter-group">
                            <input type="text" class="filter-name" datepicker-append-to-body="true" data-uib-datepicker-popup="fullDate" ng-model="game_filter.dt" data-is-open="popup2.opened" data-datepicker-options="dateOptions" data-close-text="Close" data-ng-change="findGames();"
                                data-ng-click="open2()" />
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="filter-title">Start time</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="startTime.value" rz-slider-options="startTime.options"></rzslider>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="filter-title">End time</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="endTime.value" rz-slider-options="endTime.options"></rzslider>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="filter-title">Age</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="ageSlider.minValue" rz-slider-high="ageSlider.maxValue" rz-slider-options="ageSlider.options"></rzslider>


                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="filter-title">Location</div>
                        <div class="distance-box">
                            <div class="filter-radio-group" data-ng-class="distanceClass">
                                <div class="distance-group">
                                    <input type="radio" id="distance5" name="filter-distance" data-ng-disabled="distanceDisabled" value="10" data-ng-model="game_filter.distance" data-ng-change="findGames()">
                                    <label for="distance5" class="distance5">10 m</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="distance10" name="filter-distance" data-ng-disabled="distanceDisabled" value="25" data-ng-model="game_filter.distance" data-ng-change="findGames()">
                                    <label for="distance10" class="distance10">25 m</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="distance25" name="filter-distance" data-ng-disabled="distanceDisabled" value="1000000" data-ng-model="game_filter.distance" data-ng-change="findGames()">
                                    <label for="distance25" class="distance25">All</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="filter-title">Gender</div>
                        <div class="distance-box">
                            <div class="filter-radio-group">
                                <div class="distance-group">
                                    <input type="radio" id="genderAll" name="filter-gender" value="All" data-ng-model="game_filter.gender" data-ng-change="findGames()">
                                    <label for="genderAll" class="distance5">All</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="genderMale" name="filter-gender" value="Male" data-ng-model="game_filter.gender" data-ng-change="findGames()">
                                    <label for="genderMale" class="distance10">Male</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="genderFemale" name="filter-gender" value="Female" data-ng-model="game_filter.gender" data-ng-change="findGames()">
                                    <label for="genderFemale" class="distance25">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="filter-title">Sort</div>
                        <div class="distance-box">
                            <div class="filter-radio-group">
                                <div class="distance-group">
                                    <input type="radio" id="sortSoonest" name="filter-sort" value="Soonest" data-ng-model="game_filter.sort" data-ng-change="findGames()">
                                    <label for="sortSoonest" class="sortSoonest">Soonest</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="sortNearest" name="filter-sort" value="Nearest" data-ng-model="game_filter.sort" data-ng-change="findGames()">
                                    <label for="sortNearest" class="sortNearest">Nearest</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </aside>
    </div>
</div>
