<form class="paymentCredit-box">
    <div class="col-xs-12 text-center info-payment">
        To create the game you have to pay <span id="game-cost"></span> credits
    </div>
    <div class="row no-margin">
        <div class="col-sm-12 informer-text">
            <div ng-show="success_text">
                <span>{{inform_text}}</span>
            </div>
            <div ng-show="loading_spiner">
                The process of creating the game <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
            </div>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-sm-6 no-padding"><button class="modal-btn modal-btn-cancel" data-ng-click="closePayment()">Cancel</button></div>
        <div class="col-sm-6 no-padding"><button class="modal-btn modal-btn-confirm" data-ng-click="paymentGame()">Confirm</button></div>
    </div>

</form>