<div class="container-fluid bg1">
	<div class="row head-panel">
		<div class="col-sm-12">
			<div class="col-sm-1 col-xs-1 clearFix">
				<button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
			</div>
			<div class="col-sm-9 col-xs-8 hidden-xs tab-a-box">
				<div class="col-sm-2 tab-group first-tab"><a data-ui-sref="app.profile" data-ui-sref-opts="{reload: true}" class="active">Settings</a></div>
				<div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.transactions" >Transactions</a></div>
				<div class="col-sm-2 tab-group end-tab"><a data-ui-sref="app.withdrawal" >Withdrawal</a></div>
			</div>
			<div class="dropdown-box col-xs-9">
				<div class="btn-group hidden-md hidden-sm hidden-lg" uib-dropdown>
					<button id="split-button" type="button" class="btn btn-danger">Settings</button>
					<button type="button" class="btn btn-danger" uib-dropdown-toggle>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu clearFix tab-a-box" uib-dropdown-menu role="menu" aria-labelledby="split-button">
						<li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.profile" data-ui-sref-opts="{reload: true}">Settings</a></div></li>
						<li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.transactions" >Transactions</a></div></li>
						<li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.withdrawal" >Withdrawal</a></div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-lg-12 profile">
			<form name="editProfileForm" class="list" ng-submit="editProfile(editProfileForm)">
				<div class="row no-padding">
					<div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3" data-flow-init
							data-flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
							data-flow-files-submitted="$flow.upload()"
							data-flow-file-success="file_uploaded($file, $message, $flow)">
						<div class="upload-avatar">
							<div class="thumbnail" data-ng-hide="$flow.files.length" data-flow-btn
									data-flow-attrs="{accept:'image/*'}">
								<img data-ng-src="{{profile.img}}"  alt="{{profile.firstname}}">
							</div>
							<div class="thumbnail" data-ng-show="$flow.files.length" data-flow-btn
									data-flow-attrs="{accept:'image/*'}">
								<img data-flow-img="$flow.files[0]"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5 col-sm-offset-1">
						<div class="edit-group">
							<label for="firstname">First Name</label>
							<input type="text" id="firstname" data-ng-model="profile.firstname" value="{{profile.firstname}}">
						</div>
					</div>
					<div class="col-sm-5">
						<div class="edit-group">
							<label for="lastname">Last Name</label>
							<input type="text" id="lastname" data-ng-model="profile.lastname" value="{{profile.lastname}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5 col-sm-offset-1">
						<div class="edit-group">
							<label for="email">Email Address</label>
							<input type="text" id="email" data-ng-model="profile.email" value="{{profile.email}}">
						</div>
					</div>
					<div class="col-sm-5">
						<div class="edit-group">
							<label for="passw">Password</label>
							<input type="password" id="passw" value="" data-ng-model="profile.password" placeholder="New Password">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
                        <div class="edit-group">
                            <label for="address">Your Address</label>
                            <input type="text" id="address" value="" data-ng-model="profile.address" data-g-places-autocomplete placeholder="Enter Your Address">
                        </div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5 col-sm-offset-1">
						<div class="edit-group">
							<label for="phone">Phone Number</label>
							<select class="dial-code-control edit-selected" data-ng-model="profile.dial_code">
								<option data-ng-selected="{{profile.dial_code == code.dial_code}}" data-ng-repeat="code in telephone | orderBy: 'dial_code' | unique:'dial_code'"
										value="{{code.dial_code}}" >{{code.dial_code}}
								</option>
							</select>
							<input type="text" id="phone" class="edit-phone" data-ng-model="profile.phone" value="{{profile.phone}}" data-ui-mask="(999) 999-9999" data-ui-mask-placeholder
									data-ui-mask-placeholder-char="_">
						</div>
					</div>
					<div class="col-sm-5">
						<div class="edit-group">
							<label for="gender">Gender</label>
							<select name="" id="" class="edit-gender edit-selected" data-ng-model="profile.gender">
								<option ng-selected="{{profile.gender == 'Male'}}">Male</option>
								<option ng-selected="{{profile.gender == 'Female'}}">Female</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5 col-sm-offset-1">
						<div class="edit-group">
							<label>DOB</label>
							<select  class="day-control edit-selected" data-ng-model="profile.dayS" data-ng-change="dateBuild()">
								<option ng-selected="{{day == profile.dayS}}" data-ng-repeat="day in dob.day">{{day}}</option>
							</select>
							<select class="mon-control edit-selected" data-ng-model="profile.monS" data-ng-change="dateBuild()">
								<option ng-selected="{{mon == profile.monS}}" data-ng-repeat="mon in dob.month">{{mon}}</option>
							</select>
							<select class="year-control edit-selected" data-ng-model="profile.yearS" data-ng-change="dateBuild()">
								<option ng-selected="{{year == profile.yearS}}" data-ng-repeat="year in dob.year">{{year}}</option>
							</select>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="edit-group">
							<label for="">Height</label>
							<input type="text" data-ng-model="profile.h">
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-5 col-sm-offset-1">
						<div class="edit-group">
							<label for="wld">W-L-D</label>
							<input type="text" id="wld" data-ng-model="profile.wld" value="{{profile.wld}}">
						</div>
					</div>
					<div class="col-sm-5">
						<div class="edit-group">
							<label for="education">Education</label>
							<input type="text" id="education" data-ng-model="profile.education" value="{{profile.education}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5 col-sm-offset-1">
						<div class="edit-group">
							<label for="hometown">Hometown</label>
							<input type="text" id="hometown" data-ng-model="profile.hometown" value="{{profile.hometown}}">
						</div>
					</div>
					<div class="col-sm-5">
						<div class="edit-group">
							<label for="lkf">Little Known Fact</label>
							<input type="text" id="lkf" data-ng-model="profile.lkf" value="{{profile.lkf}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5 col-sm-offset-1">
						<div class="edit-group">
							<label for="ft">Favorite Team</label>
							<input type="text" id="ft" data-ng-model="profile.ft" value="{{profile.ft}}">
						</div>
					</div>
					<div class="col-sm-5">
						<div class="edit-group">
							<label for="jn">Job Networks</label>
							<input type="text" id="jn" data-ng-model="profile.jn" value="{{profile.jn}}">
						</div>
					</div>
				</div>
				<div class="row">
					<button class="save-profile">Save</button>
					<div class="row">
						<div class="col-sm-12 informer-text">
							<div ng-show="success_text">
								<span>{{inform_text}}</span>
							</div>
							<div ng-show="loading_spiner">
								Save data<i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
