<div class="container-fluid bg1">
	<div class="row head-panel">
		<div class="col-sm-12">
			<button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
					aria-hidden="true"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 profile">
			<h1 style="color: white;">Home page</h1>
		</div>
	</div>
</div>
