<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-12">
            <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                  aria-hidden="true"></i></button>
            <h1>Last visited</h1>

        </div>
    </div>
    <div class="row wrap-content toggled" data-ng-class="rightSidebar">
        <div class="col-lg-12 profile no-padding" style="position:relative">

            <!--<div class="row" data-ng-show="distanceDisabled">
                <div class="row no-margin padding30 text-center top25">
                    <div class="col-md-12 gv-inform-text">
                        <span>NO RESULT. PLEASE ENTER YOUR LOCATION TO DISPLAY SEARCH RESULT</span>
                    </div>
                </div>
            </div> -->
            <div class="row search-clubs-box no-margin">
                <div class="cub-card" data-ng-show="club_cards.name != ''" data-ng-repeat="(index, card) in club_favorite_cards">
                    <div class="col-xs-12">
                        <div class="col-lg-3">

                            <span class="card-name">
                                <i class="fa fa-lock" aria-hidden="true" data-ng-show="card.type == 'private'"></i>
                                <i class="fa fa-unlock-alt" aria-hidden="true" data-ng-show="card.type == 'public'"></i>
                                {{card.name}}
                            </span>
                        </div>
                        <div class="col-lg-5">
                            <div class="card-sports-group">
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Basketball') >= 0)" src="/img/sports/sport1.png" alt="saport1"><img data-ng-show="(card.sports.split(',').indexOf('Basketball') >= 0)" src="/img/sports/sport1_h.png"
                                        alt="saport1"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Volleyball') >= 0)" src="/img/sports/sport2.png" alt="saport2"><img data-ng-show="(card.sports.split(',').indexOf('Volleyball') >= 0)" src="/img/sports/sport2_h.png"
                                        alt="saport2"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Soccer') >= 0)" src="/img/sports/sport3.png" alt="saport3"><img data-ng-show="(card.sports.split(',').indexOf('Soccer') >= 0)" src="/img/sports/sport3_h.png" alt="saport3"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Bubble Soccer') >= 0)" src="/img/sports/sport4.png" alt="saport4"><img data-ng-show="(card.sports.split(',').indexOf('Bubble Soccer') >= 0)" src="/img/sports/sport4_h.png"
                                        alt="saport4"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Football') >= 0)" src="/img/sports/sport5.png" alt="saport5"><img data-ng-show="(card.sports.split(',').indexOf('Football') >= 0)" src="/img/sports/sport5_h.png" alt="saport5"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Tennis') >= 0)" src="/img/sports/sport6.png" alt="saport6"><img data-ng-show="(card.sports.split(',').indexOf('Tennis') >= 0)" src="/img/sports/sport6_h.png" alt="saport6"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Hockey') >= 0)" src="/img/sports/sport7.png" alt="saport7"><img data-ng-show="(card.sports.split(',').indexOf('Hockey') >= 0)" src="/img/sports/sport7_h.png" alt="saport7"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Baseball/Softball') >= 0)" src="/img/sports/sport8.png" alt="saport8"><img data-ng-show="(card.sports.split(',').indexOf('Baseball/Softball') >= 0)" src="/img/sports/sport8_h.png"
                                        alt="saport8"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Racquetball') >= 0)" src="/img/sports/sport9.png" alt="saport9"><img data-ng-show="(card.sports.split(',').indexOf('Racquetball') >= 0)" src="/img/sports/sport9_h.png"
                                        alt="saport9"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Zumba') >= 0)" src="/img/sports/class1.png" alt="class1"><img data-ng-show="(card.sports.split(',').indexOf('Zumba') >= 0)" src="/img/sports/class1_h.png" alt="class1"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Yoga') >= 0)" src="/img/sports/class2.png" alt="class2"><img data-ng-show="(card.sports.split(',').indexOf('Yoga') >= 0)" src="/img/sports/class2_h.png" alt="class2"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Pilates') >= 0)" src="/img/sports/class3.png" alt="class3"><img data-ng-show="(card.sports.split(',').indexOf('Pilates') >= 0)" src="/img/sports/class3_h.png" alt="class3"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Boxing') >= 0)" src="/img/sports/class4.png" alt="class4"><img data-ng-show="(card.sports.split(',').indexOf('Boxing') >= 0)" src="/img/sports/class4_h.png" alt="class4"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Kickboxing') >= 0)" src="/img/sports/class5.png" alt="class5"><img data-ng-show="(card.sports.split(',').indexOf('Kickboxing') >= 0)" src="/img/sports/class5_h.png" alt="class5"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Jazzercise') >= 0)" src="/img/sports/class6.png" alt="class6"><img data-ng-show="(card.sports.split(',').indexOf('Jazzercise') >= 0)" src="/img/sports/class6_h.png" alt="class6"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Spin') >= 0)" src="/img/sports/class7.png" alt="class7"><img data-ng-show="(card.sports.split(',').indexOf('Spin') >= 0)" src="/img/sports/class7_h.png" alt="class7"></div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                          <button data-ng-if="!card.favorite" data-ng-click="addFavorite(card.id,index)" class="card-request-favorite">
                            <i class="fa  fa-star" aria-hidden="true"></i>
                          </button>
                          <button data-ng-if="card.favorite" data-ng-click="removeFavorite(card.id,index)"  class="card-request-membership" >
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="col-lg-3">
                                <button data-ng-show="card.me_member == 0" class="card-request-membership" data-ng-click="requestMembership(card.id, index,'club_favorite_cards')">
                                <i class="fa fa-user-plus" aria-hidden="true"></i> Request Membership
                                </button>
                                <button data-ng-show="card.me_member != 0" class="card-request-membership" data-ng-click="removeMembership(card.id, index),'club_favorite_cards'">
                                  <i class="fa fa-user-times" aria-hidden="true"></i>
                                  Leave Membership
                                </button>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-lg-3 col-sm-12">
                            <div class="card-address">{{card.address}}</div>
                            <div data-ng-show="card.distance" class="card-miles">{{card.distance}} miles away</div>
                        </div>
                        <div class="col-lg-5 col-xs-12">
                            <div class="col-lg-6 col-xs-6 no-padding">
                                <ul class="card-hours-day">
                                    <li><span>Mon: </span><span data-ng-show="!card.hours.mon">Not working</span><span data-ng-show="card.hours.mon">{{card.hours.mon.start | filterClock}} - {{card.hours.mon.end | filterClock}}</span>
                                    </li>
                                    <li><span>Tue: </span><span data-ng-show="!card.hours.tue">Not working</span><span data-ng-show="card.hours.tue">{{card.hours.tue.start  | filterClock}} - {{card.hours.tue.end | filterClock}}</span>
                                    </li>
                                    <li><span>Wed: </span><span data-ng-show="!card.hours.wed">Not working</span><span data-ng-show="card.hours.wed">{{card.hours.wed.start | filterClock}} - {{card.hours.wed.end | filterClock}}</span>
                                    </li>
                                    <li><span>Thu: </span><span data-ng-show="!card.hours.thu">Not working</span><span data-ng-show="card.hours.thu">{{card.hours.thu.start | filterClock}} - {{card.hours.thu.end | filterClock}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xs-6 no-padding">
                                <ul class="card-hours-day">
                                    <li><span>Fri: </span><span data-ng-show="!card.hours.fri">Not working</span><span data-ng-show="card.hours.fri">{{card.hours.fri.start | filterClock}} - {{card.hours.fri.end | filterClock}}</span>
                                    </li>
                                    <li><span>Sat: </span><span data-ng-show="!card.hours.sat">Not working</span><span data-ng-show="card.hours.sat">{{card.hours.sat.start | filterClock}} - {{card.hours.sat.end | filterClock}}</span>
                                    </li>
                                    <li><span>Sun: </span><span data-ng-show="!card.hours.sun">Not working</span><span data-ng-show="card.hours.sun">{{card.hours.sun.start | filterClock}} - {{card.hours.sun.end | filterClock}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            <div class="col-lg-9 col-xs-5 no-padding">
                                <div data-ng-show="card.phone" class="card-phone">Phone: {{card.phone}}</div>
                                <div data-ng-show="card.email" class="card-email">Email: {{card.email}}</div>
                                <div data-ng-show="card.website" class="card-website">Website: {{card.website}}</div>
                            </div>
                            <div class="col-lg-3 col-xs-4 no-padding">
                                <div class="card-members">
                                    Members<br> {{card.members | number:0}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-2 col-sm-offset-5">
                            <a href="/club-page/{{card.id}}" class="more"><i class="fa fa-info-circle"
                                                                             aria-hidden="true"></i> more</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row search-clubs-box no-margin">
                <div class="cub-card" data-ng-show="club_cards.name != ''" data-ng-repeat="(index, card) in club_cards">
                    <div class="col-xs-12">
                        <div class="col-lg-3">

                            <span class="card-name">
                                <i class="fa fa-lock" aria-hidden="true" data-ng-show="card.type == 'private'"></i>
                                <i class="fa fa-unlock-alt" aria-hidden="true" data-ng-show="card.type == 'public'"></i>
                                {{card.name}}
                            </span>
                        </div>
                        <div class="col-lg-5">
                            <div class="card-sports-group">
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Basketball') >= 0)" src="/img/sports/sport1.png" alt="saport1"><img data-ng-show="(card.sports.split(',').indexOf('Basketball') >= 0)" src="/img/sports/sport1_h.png"
                                        alt="saport1"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Volleyball') >= 0)" src="/img/sports/sport2.png" alt="saport2"><img data-ng-show="(card.sports.split(',').indexOf('Volleyball') >= 0)" src="/img/sports/sport2_h.png"
                                        alt="saport2"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Soccer') >= 0)" src="/img/sports/sport3.png" alt="saport3"><img data-ng-show="(card.sports.split(',').indexOf('Soccer') >= 0)" src="/img/sports/sport3_h.png" alt="saport3"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Bubble Soccer') >= 0)" src="/img/sports/sport4.png" alt="saport4"><img data-ng-show="(card.sports.split(',').indexOf('Bubble Soccer') >= 0)" src="/img/sports/sport4_h.png"
                                        alt="saport4"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Football') >= 0)" src="/img/sports/sport5.png" alt="saport5"><img data-ng-show="(card.sports.split(',').indexOf('Football') >= 0)" src="/img/sports/sport5_h.png" alt="saport5"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Tennis') >= 0)" src="/img/sports/sport6.png" alt="saport6"><img data-ng-show="(card.sports.split(',').indexOf('Tennis') >= 0)" src="/img/sports/sport6_h.png" alt="saport6"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Hockey') >= 0)" src="/img/sports/sport7.png" alt="saport7"><img data-ng-show="(card.sports.split(',').indexOf('Hockey') >= 0)" src="/img/sports/sport7_h.png" alt="saport7"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Baseball/Softball') >= 0)" src="/img/sports/sport8.png" alt="saport8"><img data-ng-show="(card.sports.split(',').indexOf('Baseball/Softball') >= 0)" src="/img/sports/sport8_h.png"
                                        alt="saport8"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Racquetball') >= 0)" src="/img/sports/sport9.png" alt="saport9"><img data-ng-show="(card.sports.split(',').indexOf('Racquetball') >= 0)" src="/img/sports/sport9_h.png"
                                        alt="saport9"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Zumba') >= 0)" src="/img/sports/class1.png" alt="class1"><img data-ng-show="(card.sports.split(',').indexOf('Zumba') >= 0)" src="/img/sports/class1_h.png" alt="class1"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Yoga') >= 0)" src="/img/sports/class2.png" alt="class2"><img data-ng-show="(card.sports.split(',').indexOf('Yoga') >= 0)" src="/img/sports/class2_h.png" alt="class2"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Pilates') >= 0)" src="/img/sports/class3.png" alt="class3"><img data-ng-show="(card.sports.split(',').indexOf('Pilates') >= 0)" src="/img/sports/class3_h.png" alt="class3"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Boxing') >= 0)" src="/img/sports/class4.png" alt="class4"><img data-ng-show="(card.sports.split(',').indexOf('Boxing') >= 0)" src="/img/sports/class4_h.png" alt="class4"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Kickboxing') >= 0)" src="/img/sports/class5.png" alt="class5"><img data-ng-show="(card.sports.split(',').indexOf('Kickboxing') >= 0)" src="/img/sports/class5_h.png" alt="class5"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Jazzercise') >= 0)" src="/img/sports/class6.png" alt="class6"><img data-ng-show="(card.sports.split(',').indexOf('Jazzercise') >= 0)" src="/img/sports/class6_h.png" alt="class6"></div>
                                <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Spin') >= 0)" src="/img/sports/class7.png" alt="class7"><img data-ng-show="(card.sports.split(',').indexOf('Spin') >= 0)" src="/img/sports/class7_h.png" alt="class7"></div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                          <button data-ng-if="!card.favorite" data-ng-click="addFavorite(card.id,index)" class="card-request-membership">
                            <i class="fa  fa-star" aria-hidden="true"></i>
                          </button>
                          <button data-ng-if="card.favorite" data-ng-click="removeFavorite(card.id,index)" class="card-request-membership" >
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="col-lg-3">
                                <button data-ng-show="card.me_member == 0" class="card-request-membership" data-ng-click="requestMembership(card.id, index,'club_cards')">
                                <i class="fa fa-user-plus" aria-hidden="true"></i> Request Membership
                                </button>
                                <button data-ng-show="card.me_member != 0" class="card-request-membership" data-ng-click="removeMembership(card.id, index, 'club_cards')">
                                  <i class="fa fa-user-times" aria-hidden="true"></i>
                                  Leave Membership
                                </button>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-lg-3 col-sm-12">
                            <div class="card-address">{{card.address}}</div>
                            <div data-ng-show="card.distance" class="card-miles">{{card.distance}} miles away</div>
                        </div>
                        <div class="col-lg-5 col-xs-12">
                            <div class="col-lg-6 col-xs-6 no-padding">
                                <ul class="card-hours-day">
                                    <li><span>Mon: </span><span data-ng-show="!card.hours.mon">Not working</span><span data-ng-show="card.hours.mon">{{card.hours.mon.start | filterClock}} - {{card.hours.mon.end | filterClock}}</span>
                                    </li>
                                    <li><span>Tue: </span><span data-ng-show="!card.hours.tue">Not working</span><span data-ng-show="card.hours.tue">{{card.hours.tue.start  | filterClock}} - {{card.hours.tue.end | filterClock}}</span>
                                    </li>
                                    <li><span>Wed: </span><span data-ng-show="!card.hours.wed">Not working</span><span data-ng-show="card.hours.wed">{{card.hours.wed.start | filterClock}} - {{card.hours.wed.end | filterClock}}</span>
                                    </li>
                                    <li><span>Thu: </span><span data-ng-show="!card.hours.thu">Not working</span><span data-ng-show="card.hours.thu">{{card.hours.thu.start | filterClock}} - {{card.hours.thu.end | filterClock}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xs-6 no-padding">
                                <ul class="card-hours-day">
                                    <li><span>Fri: </span><span data-ng-show="!card.hours.fri">Not working</span><span data-ng-show="card.hours.fri">{{card.hours.fri.start | filterClock}} - {{card.hours.fri.end | filterClock}}</span>
                                    </li>
                                    <li><span>Sat: </span><span data-ng-show="!card.hours.sat">Not working</span><span data-ng-show="card.hours.sat">{{card.hours.sat.start | filterClock}} - {{card.hours.sat.end | filterClock}}</span>
                                    </li>
                                    <li><span>Sun: </span><span data-ng-show="!card.hours.sun">Not working</span><span data-ng-show="card.hours.sun">{{card.hours.sun.start | filterClock}} - {{card.hours.sun.end | filterClock}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            <div class="col-lg-9 col-xs-5 no-padding">
                                <div data-ng-show="card.phone" class="card-phone">Phone: {{card.phone}}</div>
                                <div data-ng-show="card.email" class="card-email">Email: {{card.email}}</div>
                                <div data-ng-show="card.website" class="card-website">Website: {{card.website}}</div>
                            </div>
                            <div class="col-lg-3 col-xs-4 no-padding">
                                <div class="card-members">
                                    Members<br> {{card.members | number:0}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-2 col-sm-offset-5">
                            <a href="/club-page/{{card.id}}" class="more"><i class="fa fa-info-circle"
                                                                             aria-hidden="true"></i> more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
