<div id="wrapper" data-ng-class="leftSidebar">
	<aside>
		<toaster-container toaster-options="{'time-out': 4000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
		<div ng-scrollbar rebuild-on-resize id="sidebar-wrapper">
			<div class="row no-margin" style="width: 195px;">
				<div class="search-box">
					<input type="text" />
				</div>
				<div class="edit-profile" data-ng-click="goEditProfile()"></div>
			</div>
			<div class="row no-margin">
				<div class="sidebar-avatar">
					<img src="{{sideBar.avatar | avatar_type}}" alt="">
				</div>
			</div>

			<div class="row fio-box">
				<span class="sidebar-firstname">{{sideBar.firstname}}</span>
				<span class="sidebar-lastname">{{sideBar.lastname}}</span>
			</div>
			<div class="credit-box">
				Balance:
				<!--<label data-ng-click="replenish_balance()"><span id="balance_user"> {{cc.credits_val}}</span> <i class="fa fa-money" aria-hidden="true"></i></label>-->
				<label><span id="balance_user"> {{cc.credits_val}}</span> <i class="fa fa-money"  ui-sref="app.withdrawal"aria-hidden="true"></i></label>
			</div>
			<ul class="sidebar-nav">
				<li class="lobbies"><a data-ui-sref="app.home" data-ui-sref-opts="{reload: $root.currState}">My Lobby</a></li>
				<li class="games"><a data-ui-sref="app.create-match" data-ui-sref-opts="{reload: $root.currState}">Find Game</a></li>
				<li class="find_gums"><a data-ui-sref="app.create-class" data-ui-sref-opts="{reload: $root.currState}">Find Class</a></li>
				<li ng-class="{'find_club':!favoriteList,'find_':favoriteList}" ng-click="toggleF()"><a data-ui-sref="app.search" data-ui-sref-opts="{reload: $root.currState}">Find Club</a></li>
				<div ng-show="favoriteList" class="" click-outside="closeThis()">
					<li ng-repeat="c in lastVisited" style="  overflow:hidden;  display:inline-block; height: 20px; line-height: 22px; padding-right:20px; text-overflow: ellipsis;  white-space: nowrap;" ui-sref="app.club-page({'club_id':c.id})">{{c.name}}</li>
					<li style=" overflow:hidden;  display:inline-block;  text-overflow: ellipsis;  padding-right:20px; white-space: nowrap;"><span class="clear-btn" style="line-height: 25px;" ui-sref="app.last-visited">View all</span></li>
				</div>
				<li class="teammates"><a data-ui-sref="app.teammates" data-ui-sref-opts="{reload: $root.currState}">Teammates</a></li>
				<li class="messages"><a data-ui-sref="app.messages" data-ui-sref-opts="{reload: $root.currState}">Messages </a>
					<div class="unreadN">{{unreadedCount}}</div>
				</li>
				<li class="notifications"><a data-ui-sref="app.notifications" data-ui-sref-opts="{reload: $root.currState}">Notification </a>
					<div class="unreadN unreadBlue">{{notificationCount}}</div>
				</li>
				<li class="social"><a data-ui-sref="app.socialConnect" data-ui-sref-opts="{reload: $root.currState}">Social Connect</a></li>
				<li class="partner" data-ng-click="become_partner()" data-ui-sref-opts="{reload: $root.currState}" data-ng-show="club.create">Add Club</li>
				<li class="manage"><a data-ui-sref="app.manage_clubs" data-ui-sref-opts="{reload: $root.currState}">Business</a></li>
				<li class="logout" data-ng-click="signout()">Logout</li>
			</ul>
		</div>
	</aside>
	<div id="page-content-wrapper no-padding" style="position:relative" data-ui-view="app"></div>
</div>
