<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-12">
            <div class="col-sm-1 col-xs-1 clearFix">
                <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
            </div>
            <div class="col-sm-9 col-xs-8 hidden-xs">
                <div class="col-sm-2 col-xs-6 tab-group two-tab "><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-all" data-ng-model="tab_lobby" value="all" data-ng-click="tab_lobbyChange()"><label for="lobby-all">All</label></div>
                <div class="col-sm-2 col-xs-6 tab-group two-tab right-tab"><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-reserved" data-ng-model="tab_lobby" value="reserved" data-ng-click="tab_lobbyChange()"><label for="lobby-reserved">Reserved</label></div>
                <div class="col-sm-2 col-xs-6 tab-group two-tab right-tab"><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-watch" data-ng-model="tab_lobby" value="watch" data-ng-click="tab_lobbyChange()"><label for="lobby-watch">Watch</label></div>
                <div class="col-sm-2 col-xs-6 tab-group two-tab left-tab"><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-joined" data-ng-model="tab_lobby" value="joined" data-ng-click="tab_lobbyChange()"><label for="lobby-joined">Joined</label></div>
                <div class="col-sm-2 col-xs-6 tab-group two-tab "><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-invites" data-ng-model="tab_lobby" value="invites" data-ng-click="tab_lobbyChange()"><label for="lobby-invites">Invites</label></div>
            </div>
            <div class="dropdown-box col-xs-9">
                <div class="btn-group hidden-md hidden-sm hidden-lg" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-danger">{{tab_lobby}}</button>
                    <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu clearFix" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><div class="col-xs-12 tab-group"><label for="lobby-all">All</label></div></li>
                        <li role="menuitem"><div class="col-xs-12 tab-group"><label for="lobby-reserved">Reserved</label></div></li>
                        <li role="menuitem"><div class="col-xs-12 tab-group"><label for="lobby-watch">Watch</label></div></li>
                        <li role="menuitem"><div class="col-xs-12 tab-group"><label for="lobby-joined">Joined</label></div></li>
                        <li role="menuitem"><div class="col-xs-12 tab-group"><label for="lobby-invites">Invites</label></div></li>
                    </ul>
                </div>
            </div>
            <!--<div class="col-sm-4 clearFix">
                <button data-ng-click="toggleRight('toggled')" class="filter-menu">Teammates</button>
            </div>-->
        </div>
    </div>
    <div class="row wrap-content toggled" data-ng-class="rightSidebar">
        <div class="col-lg-12 profile no-padding">
            <div class="row no-margin search-address-box">
                <input type="text" placeholder="Hour Address" class="search-input-address" data-g-places-autocomplete
                       data-ng-model="game_filter.address"
                       data-ng-change="changeAddress()">
                <button data-ng-click="setAddress()" type="button" class="myPosition">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </button>
            </div>
            <div class="row no-margin game-box">
              <div class=""data-ng-repeat="(game_index, card) in games_arr">
                <div class="row list-date-box" data-ng-show="games_arr.length > 0" ng-if="(games_arr[game_index].date != games_arr[game_index -1].date)" ><span>{{card.date | date:"fullDate"}}</span></div>
                <div class="col-sm-12 game-card clearFix" >
                    <div class="col-md-4 col-xs-12">
                        <div class="row no-margin no-padding">
                            <div class="col-md-2 col-xs-4 no-padding top25">
                                <div class="{{card.gym_sport}}-icon"></div>
                            </div>
                            <div class="col-md-6 col-xs-4 no-padding top25">
                                <div class="sport">{{card.gym_sport}}</div>
                                <div class="type">Game</div>
                            </div>
                            <div class="col-md-4 col-xs-4 no-padding top25">
                                <span class="clock">{{ clock[card.id]  | date:'HH:mm:ss'}}</span>
                            </div>
                        </div>
                        <div class="row no-margin no-padding top25">
                            <div class="name col-md-12 col-xs-6 no-padding">{{card.name}}</div>
                            <div class="address col-md-12 col-xs-6 no-padding">{{card.address}}</div>
                            <div ng-if="card.distance" class="miles_count">{{card.distance}} miles away</div>
                             <span style="color:white">({{card.club_name}})</span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <div class="col-md-8 no-padding">
                            <div class="members_avatar clearFix top25 col-md-12 col-xs-6 no-padding" data-ng-show="card.game != 0">
                                <div data-ng-repeat="(ava_i, card_avatar) in card.members_avatar">
                                  <a ui-sref="app.user({'t_id':{{card_avatar.id}}})">
                                    <div class="avatar" style="z-index: 7; background: url('{{ card_avatar.img | avatar_type }}');" data-ng-if="card_avatar.img != ''"></div>
                                    <div class="avatar" style="z-index: 7; background: url('/img/no_avatar_vopros.jpg');" data-ng-if="card_avatar.img == ''"></div>
                                  </a>
                                </div>
                                <div data-ng-repeat="(index, card_avatar) in gym.members_add">
                                    <div data-ng-if="!added_members[index]" class="add_members_icon" data-ng-click="add_member($event, index)" style="z-index: {{gym.members_range.length - index}}; background: url('/img/add-member.png');"></div>
                                    <div data-ng-if="added_members[index]" class="add_user_icon" style="z-index: {{gym.members_range.length - index}}; background: url('{{(gym.user_avatar_type == 1)?urlBase + gym.user_avatar:gym.user_avatar}}');"></div>
                                </div>
                            </div>
                            <div class="max_countWrapper col-md-12 col-xs-6 top25 no-padding">
                                <div class="members_count clearFix">
                                    <div class="col_count" data-ng-class="{'green':(member<card.global_members)}"
                                         data-ng-repeat="member in (card.members_range)" data-number="{{member}}"></div>
                                </div>
                                <div class="max_countMembers clearFix">
                                    {{card.number_members}}<hr>{{card.global_members}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 top25">
                            <div class="col-md-12 col-xs-6">
                                <div class="date-day" data-ng-show="card.date">Date</div>
                                <div class="start_time">{{ card.date | date:'yyyy:MM:dd' }}</div>
                                <div class="date-day" data-ng-show="card.date">Start Time</div>
                                <div class="start_time">{{ card.start_time | filterTime }}</div>
                            </div>
                            <!-- <div class="col-md-12 col-xs-6">
                                <div class="miles_count top25" data-ng-show="card.distance">{{card.distance}} miles away</div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="col-md-7 no-padding">
                            <div class="col-md-12">
                                <button data-ng-if="(card.members_range.length) > card.global_members && card.type_game == 'invite'" class="join-btn top25" data-ng-show="card.game != 0" data-ng-click="joinGame(card.id)">Accept</button>
                                <button data-ng-if="(card.members_range.length) > card.global_members && card.type_game == 'joined'" class="join-btn top25" data-ng-show="card.game != 0" data-ng-click="joinGame(card.id)">View</button>
                                <button data-ng-if="(card.members_range.length) == card.global_members && card.type_game != 'reserve'" class="join-btn top25">Full</button>
                                <button class="join-btn top25" data-ng-show="card.type_game == 'watch'" data-ng-click="joinGame(card.id)">Join</button>
                                <button class="join-btn top25" data-ng-show="card.type_game == 'reserve'" data-ng-click="payReserve(card)">Pay</button>
                            </div>
                            <div class="col-md-12">
                                <div class="price">{{ card.price | currency }}
                                    <span data-ng-show="card.game != 0">to join</span>
                                    <span data-ng-show="card.game == 0">to create</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="watch-btn" data-ng-show="card.game">Watch</button>
                            </div>
                        </div>
                        <div class="col-md-5 no-padding pos-relative" data-ng-show="card.game != 0">
                            <div class="watch_count" data-ng-show="card.watching" >Watching<br>{{card.watching}}</div>
                            <div class="col-md-12 no-padding pos-relative" data-ng-if="card.type_game == 'invite'">
                                <i class="fa fa-bell-o pull-right" style="color: white; font-size: 15px; padding-top: 25px" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-12 no-padding pos-relative" data-ng-if="card.type_game == 'joined'">
                                <i class="fa fa-check pull-right" style="color: white; font-size: 15px; padding-top: 25px" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-12 no-padding pos-relative" data-ng-if="card.type_game == 'watch'">
                                <i class="fa fa-eye pull-right" style="color: white; font-size: 15px; padding-top: 25px" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-12 no-padding pos-relative" data-ng-if="card.type_game == 'reserve'">
                                <i class="fa fa-plus pull-right"  style="color: white; font-size: 15px; padding-top: 25px" aria-hidden="true"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div style="clear:both;"></div>
              </div>

            </div>
        </div>
    </div>
</div>
