<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-12">
            <div class="col-sm-1 clearFix">
                <button data-ng-click="toggleClass('toggled')" class="toggle-menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-sm-7">
                <!-- <div class="col-sm-2 tab-group"><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-all" data-ng-model="filter" value="all" data-ng-click="filterChange()">
                    <label for="lobby-all">All</label>
                </div>
                <div class="col-sm-2 tab-group"><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-watch" data-ng-model="filter" value="lobby" data-ng-click="filterChange()">
                    <label for="lobby-watch">Lobby</label>
                </div>
                <div class="col-sm-2 tab-group"><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-invites" data-ng-model="filter" value="invites" data-ng-click="filterChange()">
                    <label for="lobby-invites">Invites</label>
                </div> -->
            </div>
            <div class="col-sm-4 clearFix">
                <button data-ng-click="toggleRight('toggled')" class="filter-menu">Filters</button>
            </div>
        </div>
    </div>
    <div class="row wrap-content messages-box" data-ng-class="[rightSidebar, rightMessageInvite]">
        <div class="col-lg-12 profile no-padding">
            <div class="row no-margin game-box">
                <div class="col-sm-12 game-card clearFix"
                     data-ng-repeat="room in rooms | orderBy:['-ord','-start_time'] track by $index">
                    <div class="col-md-4 col-xs-12">
                        <div class="row no-margin no-padding chatGameInfo">
                            <div class="hidden-xs col-sm-4 hidden-md hidden-lg"></div>
                            <div class="col-sm-2 col-md-2 col-xs-4 no-padding top25">
                                <div class="{{room.gym_sport}}-icon"></div>
                            </div>
                            <div class="col-sm-4 col-md-10 col-xs-4 no-padding top25">
                                <div class="sport">{{room.gym_sport}}</div>
                                <div class="address">{{room.address}}</div>
                                <div class="date-day" data-ng-show="card.date">Date</div>
                                <div class="start_time">{{ room.date | day }} {{room.start_time}} o`clock</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="col-md-8 no-padding">
                            <div class="members_avatar clearFix top25 col-md-12 col-xs-6 no-padding"
                                 data-ng-show="room.chat_room_status != 0">
                                <div data-ng-repeat="member in room.members_avatar track by $index">
                                    <div class="avatar"
                                         style="margin-left: -5px; z-index: 7; background: url('{{ member.avatar | avatar_type }}');"
                                         data-ng-if="member.avatar != ''"></div>
                                    <div class="avatar"
                                         style="margin-left: -5px; z-index: 7; background: url('/img/no_avatar_vopros.jpg');"
                                         data-ng-if="member.avatar == ''"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 top25"></div>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <div class="col-sm-12 col-md-6">
                            <button class="chat-btn-c top25" data-ng-show="room.chat_room_status == 1"
                                    data-ui-sref="app.chat({id:room.id})">Chat
                                <span style="background-color: #f73267;border-radius: 50%;padding:5px 10px;font-size:11px;color:white;margin-left: 10px">{{$root.unreaded[room.id]}}</span>
                            </button>
                            <button class="chat-btn top25" data-ng-show="room.chat_room_status == 0"
                                    data-ng-click="acceptChatRoom(room)">Turn on
                            </button>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <button class="chatDeclineButton top25" data-ng-show="room.chat_room_status == 1"
                                    data-ng-click="leaveChatRoom(room)">Turn off
                            </button>
                            <button class="chat-btn-c top25" data-ng-show="room.chat_room_status == null"
                                    data-ui-sref="app.chat({id:room.id})">Chat(Manager)
                                <span style="background-color: #f73267;border-radius: 50%;padding:5px 10px;font-size:11px;color:white;margin-left: 10px">{{$root.unreaded[room.id]}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 text-center clearFix"><span class="invite_header">Please invite teammates <button
                                data-ng-click="toggleMInvite($event, 'toggledM', room.id);" class="inviteBtn" data-ng-if="!inviteBtn[room.id]">Invite</button></span></div>
                        <!--<div class="col-sm-12 col-xs-12 clearFix invite_box">
                            <div data-ng-repeat="(index, invaite_avatar) in game_invites[room.id]">
                                <div class="add_invaite_icon" style="z-index: {{game_invites.length - index}};background: url('{{invaite_avatar.img}}');"></div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>

        <aside class="right-sidebar" data-ng-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:scroll">
            <div class="sidebar-content">
                <form name="filterForm">
                    <div class="row">
                        <button class="clear-btn" ng-click="clearFil()">Clear</button>
                    </div>
                    <div class="row">
                        <div class="filter-title">Sport</div>
                    </div>
                    <div class="row no-margin">
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport1" name="filter-sport[1]" value="Basketball"
                                       data-ng-model="game_filter.sport[1]" data-ng-change="getChatRooms()">
                                <label for="filter-sport1" class="sport1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport2" name="filter-sport[2]" value="Volleyball"
                                       data-ng-model="game_filter.sport[2]" data-ng-change="getChatRooms()">
                                <label for="filter-sport2" class="sport2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer"
                                       data-ng-model="game_filter.sport[3]" data-ng-change="getChatRooms()">
                                <label for="filter-sport3" class="sport3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer"
                                       data-ng-model="game_filter.sport[4]" data-ng-change="getChatRooms()">
                                <label for="filter-sport4" class="sport4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport5" name="filter-sport[5]" value="Football"
                                       data-ng-model="game_filter.sport[5]" data-ng-change="getChatRooms()">
                                <label for="filter-sport5" class="sport5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis"
                                       data-ng-model="game_filter.sport[6]" data-ng-change="getChatRooms()">
                                <label for="filter-sport6" class="sport6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey"
                                       data-ng-model="game_filter.sport[7]" data-ng-change="getChatRooms()">
                                <label for="filter-sport7" class="sport7-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport8" name="filter-sport[8]"
                                       value="Baseball/Softball"
                                       data-ng-model="game_filter.sport[8]" data-ng-change="getChatRooms()">
                                <label for="filter-sport8" class="sport8-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport9" name="filter-sport[9]" value="Racquetball"
                                       data-ng-model="game_filter.sport[9]" data-ng-change="getChatRooms()">
                                <label for="filter-sport9" class="sport9-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport10" name="filter-sport[10]" value="Zumba"
                                       data-ng-model="game_filter.sport[10]" data-ng-change="getChatRooms()">
                                <label for="filter-sport10" class="class1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport11" name="filter-sport[11]" value="Yoga"
                                       data-ng-model="game_filter.sport[11]" data-ng-change="getChatRooms()">
                                <label for="filter-sport11" class="class2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport12" name="filter-sport[12]" value="Pilates"
                                       data-ng-model="game_filter.sport[12]" data-ng-change="getChatRooms()">
                                <label for="filter-sport12" class="class3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport13" name="filter-sport[13]" value="Boxing"
                                       data-ng-model="game_filter.sport[13]" data-ng-change="getChatRooms()">
                                <label for="filter-sport13" class="class4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport14" name="filter-sport[14]" value="Kickboxing"
                                       data-ng-model="game_filter.sport[14]" data-ng-change="getChatRooms()">
                                <label for="filter-sport14" class="class5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport15" name="filter-sport[15]" value="Jazzercise"
                                       data-ng-model="game_filter.sport[15]" data-ng-change="getChatRooms()">
                                <label for="filter-sport15" class="class6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport16" name="filter-sport[16]" value="Spin"
                                       data-ng-model="game_filter.sport[16]" data-ng-change="getChatRooms()">
                                <label for="filter-sport16" class="class7-icon"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="filter-title">Date</div>
                        <div class="filter-group">
                            <input type="text" class="filter-name" datepicker-append-to-body="true"
                                   data-uib-datepicker-popup="fullDate" ng-model="game_filter.dt"
                                   data-is-open="popup2.opened" data-datepicker-options="dateOptions"
                                   data-close-text="Close" data-ng-change="getChatRooms();" data-ng-click="open2()"/>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="filter-title">Start time</div>
                        <div class="filter-group">
                            <rzslider
                                    rz-slider-model="startTime.value"
                                    rz-slider-options="startTime.options"></rzslider>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="filter-title">End time</div>
                        <div class="filter-group">
                            <rzslider
                                    rz-slider-model="endTime.value"
                                    rz-slider-options="endTime.options"></rzslider>
                        </div>
                    </div>
                </form>
            </div>
        </aside>

        <aside class="message-sidebar" data-ng-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:scroll">
            <div class="sidebar-content">
                <div class="row no-margin">
                    <input class="teammates-filer-name" type="text" placeholder="Search" data-ng-model="search_name"
                           data-ng-change="searchTeammate(search_name)">
                </div>
                <div>
                    <div class="row teammates-card clearFix" data-ng-repeat="teammate in teammates_arr">
                        <div class="col-xs-4 no-margin no-padding">
                            <div data-ng-if="teammate.avatar" class="teammates_avatar"><img src="{{teammate.avatar}}"
                                                                                            alt=""></div>
                            <div data-ng-if="!teammate.avatar" class="teammates_avatar"><img
                                    src="/img/no_avatar_vopros.jpg" alt=""></div>
                            <div data-ng-if="!adding_invaite[teammate.id]" class="add_to_game"
                                 data-ng-click="set_invite($event, teammate.id, teammate.avatar)">+
                            </div>
                            <div data-ng-if="adding_invaite[teammate.id]" class="add_to_game invited">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 no-margin no-padding">
                            <div class="teammates_fio">{{teammate.first_name}} {{teammate.last_name}}</div>
                            <div class="col-xs-10 no-margin no-padding teammates_address">
                                <span data-ng-if="teammate.address"><i class="fa fa-map-marker" aria-hidden="true"></i> {{teammate.address}}</span>
                            </div>
                            <div class="col-xs-2 no-margin no-padding" data-ng-if="teammate.type == 2">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
