<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-12">
            <div class="col-sm-1 clearFix">
                <button data-ng-click="toggleClass('toggled')" class="toggle-menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 profile no-padding">
            <div class="row no-margin notification-box">
                <div class="col-md-12 notification-card clearFix" data-ng-repeat="note in notifications">
                    <div class="col-md-2 text-center top25" data-ng-class="(note.status == 0)?'notification-icon-active':'notification-icon'"><i class="fa fa-bell-o fa-2x center" aria-hidden="true"></i> <i>{{note.sender_type}}</i></div>
                    <div class="col-md-10">
                        <div class="col-md-3 date top25 text-center">Date: {{note.date | date:fullDate}}</div>
                        <div class="col-md-2 time top25 text-center">Time: {{note.time | filterClockEN}}</div>
                        <div class="col-md-4 text top25 text-center">{{note.text}}</div>
                        <div class="col-md-2">
                            <button data-ng-if="note.type == 'all_members'" class="watch-btn top25" data-ng-click="viewText(note.id, note.sender_id, note)">View</button>
                            <button data-ng-if="note.type == 'start_game'" class="watch-btn top25" data-ng-click="viewGame(note.id, note.sender_id, note)">View</button>
                            <button data-ng-if="note.type == 'end_game'" class="watch-btn top25" data-ng-disabled="(note.u_rating>0 || note.u_feedback>0)?true:false" data-ng-class="(note.u_rating>0 || note.u_feedback>0)?'disabled_btn':''" data-ng-click="feedback(note.id, note.sender_id, note)">feedback</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>