<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-12">
            <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                  aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 profile">
            <div class="row">
                <div class="row no-margin padding30 text-center top25">
                    <div class="col-md-12 gv-inform-text">
                        <div class="col-md-2 text-left"><i class="fa fa-paypal fa-3x" aria-hidden="true"></i></div>
                        <div class="col-md-10">
                            <span>Payment via PayPal is almost finished. Wait please complete the payment process.</span>
                            <div class="col-sm-12 informer-text">
                                <div data-ng-show="success_text">
                                    <span>{{inform_text}}</span>
                                </div>
                                <div data-ng-show="loading_spiner">
                                    Completion payment <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
