<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-12">
            <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                  aria-hidden="true"></i></button>
            <h1>Search</h1>
        </div>
    </div>
    <div class="row wrap-content toggled" data-ng-class="rightSidebarInvite">
        <div class="col-lg-12 profile no-padding">
            <div class="row no-margin game-box">
                <div class="col-sm-12 game-card join-tpl clearFix no-padding">
                    <div class="row gmaps no-margin no-padding">
                        <ui-gmap-google-map data-center='map.center' data-zoom='map.zoom' options="options" draggable="true">
                            <ui-gmap-marker
                                    data-coords="marker.coords"
                                    data-options="marker.options"
                                    data-events="marker.events"
                                    data-idkey="marker.id">

                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="row no-margin no-padding">
                            <div class="col-md-2 col-xs-4 no-padding top25">
                                <div class="{{game.gym_sport}}-icon"></div>
                            </div>
                            <div class="col-md-6 col-xs-4 no-padding top25">
                                <div class="sport">{{game.gym_sport}}</div>
                                <div class="type">Reserve</div>
                            </div>
                            <div class="col-md-4 col-xs-4 no-padding top25">
                                <span class="clock">{{ clock  | date:'HH:mm:ss'}}</span>
                            </div>
                        </div>
                        <div class="row no-margin no-padding top25">
                            <div class="name col-md-12 col-xs-6 no-padding">{{game.name}}</div>
                            <div class="address col-md-12 col-xs-6 no-padding">{{game.address}}</div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <div class="col-md-8 no-padding">
                            <div class="members_avatar clearFix top25 col-md-12 col-xs-6 no-padding" data-ng-show="game.game != 0">
                                <div data-ng-repeat="(index, card_avatar) in game.members_avatar">
                                    <div data-ng-if="card_avatar.img != ''" class="avatar" style="z-index: {{(game.members_avatar.length+1) - index}}; margin-left: -5px; background: url('{{ card_avatar.img | avatar_type }}');"><a style="z-index: {{(game.members_avatar.length+2) - index}};" ui-sref="app.user({'t_id':{{card_avatar.id}}})"></a></div>
                                    <div data-ng-if="card_avatar.img == ''" class="avatar" style="z-index: {{(game.members_avatar.length+1) - index}}; margin-left: -5px; background: url('/img/no_avatar_vopros.jpg');"><a style="z-index: {{(game.members_avatar.length+2) - index}};" ui-sref="app.user({'t_id':card_avatar.id})"></a></div>
                                </div>
                                <div data-ng-repeat="(index, card_avatar) in game.free_members">
                                    <!--<div data-ng-if="!added_members[index]" class="add_members_icon" data-ng-click="add_member($event, index)" style="z-index: {{game.free_members.length - index}}; background: url('/img/add-member.png');"></div>-->
                                    <div data-ng-if="added_members[index]" class="add_user_icon" style="z-index: {{index}}; margin-left: -5px; background: url('{{game.user_avatar | avatar_type}}');"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="max_countWrapper joinCount col-md-12 col-xs-6 no-padding clearFix">
                                <div class="members_count clearFix">
                                    <div class="col_count" data-ng-class="{'green':(member<global_members_tmp)}"
                                         data-ng-repeat="member in (game.members_range)" data-number="{{member}}"></div>
                                </div>
                                <div class="max_countMembers clearFix">
                                    {{global_members_tmp}}<hr>{{game.number_members}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="col-md-7 no-padding">
                            <div class="col-md-12 col-xs-6 top25">
                                <div class="date-day" data-ng-show="game.date">Date</div>
                                <div class="start_time">{{ game.date | date:'yyyy-MM-dd' }}</div>
                            </div>
                            <div class="col-md-12 col-xs-6 top25">
                                <div class="price">{{ ((game.c_member >= 1)?game.price_member:game.price_hours) * (game.number_members - game.global_members + 1) | currency }}
                                    <span data-ng-show="game.game != 0">to reserve</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 no-padding pos-relative">
                            <div class="col-md-12 no-padding pos-relative">
                                <div class="watch_count">Watching<br>{{game.watching}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 text-center clearFix"><span class="invite_header">Please invite teammates <button data-ng-click="toggleInvite('toggled')" class="inviteBtn">Invite</button></span></div>
                    <div class="col-sm-12 col-xs-12 clearFix invite_box">
                        <div data-ng-repeat="(index, invaite_avatar) in game_invites">
                            <div class="add_invaite_icon" style="z-index: {{game_invites.length - index}};background: url('{{invaite_avatar.img}}');"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearFix">
                    <div class="col-sm-4 col-sm-offset-4">
                        <!--<button data-ng-if="exist_credits" class="create-match" data-ng-click="joinMatch()">Confirm and Pay</button>-->
                        <button class="create-match" data-ng-click="buyCredits()">Confirm and Pay</button>
                    </div>
                </div>
            </div>
        </div>
        <aside class="right-sidebar" data-ng-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:scroll">
            <div class="sidebar-content">
                <div class="row no-margin">
                    <input class="teammates-filer-name" type="text" placeholder="Search" data-ng-model="search_name" data-ng-change="searchTeammate(search_name)">
                </div>
                <div>
                    <div class="row teammates-card clearFix" data-ng-repeat="teammate in teammates_arr">
                        <div class="col-xs-4 no-margin no-padding">
                            <div data-ng-if="teammate.avatar" class="teammates_avatar"><img src="{{teammate.avatar}}" alt=""></div>
                            <div data-ng-if="!teammate.avatar" class="teammates_avatar"><img src="/img/no_avatar_vopros.jpg" alt=""></div>
                            <div data-ng-if="!adding_invaite[teammate.id]" class="add_to_game" data-ng-click="set_invite($event, teammate.id, teammate.avatar)">+</div>
                            <div data-ng-if="adding_invaite[teammate.id]" class="add_to_game invited" data-ng-click="remove_invite(teammate.id)"><i class="fa fa-minus" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-xs-8 no-margin no-padding">
                            <div class="teammates_fio">{{teammate.first_name}} {{teammate.last_name}}</div>
                            <div class="col-xs-10 no-margin no-padding teammates_address">
                                <span data-ng-if="teammate.address"><i class="fa fa-map-marker" aria-hidden="true"></i> {{teammate.address}}</span>
                            </div>
                            <div class="col-xs-2 no-margin no-padding" data-ng-if="teammate.type == 2">
                                <a href="https://facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
