<div class="login-bg" data-ng-controller="signinCtrl" data-ng-style="blurBox">
	<div class="container login-box">
		<script type="text/ng-template" id="forgotTpl.html">
			<form class="list" name="forgot" data-ng-controller="forgotCtrl" data-ng-submit="send(forgot)" data-ng-show="!data.success">
				<div>
					<input class="forgot-control" type="email" data-ng-pattern="emailFormat" required="true" data-ng-model="data.email" placeholder="Enter you mail">
				</div>
				<p style="color:white;">{{data.error}}</p>
				<button class="forgot-btn">Send</button>
			</form>
		</script>
		<script type="text/ng-template" id="popupTpl.html">
			<div class="signup-box" data-ng-controller="signupCtrl" data-flow-init
					data-flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
					data-flow-files-submitted="$flow.upload()"
					data-flow-file-success="file_uploaded($file, $message, $flow)">
				<form name="signupForm" class="list" ng-submit="signUp(signupForm)">
					<div class="col-lg-4 col-xs-12 no-padding">
						<div class="upload-avatar">
							<div class="thumbnail" data-ng-hide="$flow.files.length" data-flow-btn
									data-flow-attrs="{accept:'image/*'}">
							</div>
							<div class="thumbnail" data-ng-show="$flow.files.length" data-flow-btn
									data-flow-attrs="{accept:'image/*'}">
								<img data-flow-img="$flow.files[0]"/>
							</div>
							<div class="upload-text" data-flow-btn
									data-flow-attrs="{accept:'image/*'}">Add Photo
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 no-padding">
						<div class="sign-up-group">
							<input type="text" name="firstname" data-ng-model="userData.first_name"
									class="firstname-control sign-up-control required" required="true"
									placeholder="First Name" tabindex="1">
						</div>
						<p class="error-form">{{error.first_name}}</p>
						<div class="sign-up-group">
							<input type="email" name="email" data-ng-pattern="emailFormat"
									data-ng-model="userData.email"
									class="email-control sign-up-control required" required="true"
									placeholder="Email Address" tabindex="3">
						</div>
						<p class="error-form">{{error.email}}</p>
					</div>
					<div class="col-sm-4 col-xs-12 no-padding">
						<div class="sign-up-group">
							<input type="text" name="lastname" data-ng-model="userData.last_name"
									class="lastname-control sign-up-control required" required="true"
									placeholder="Last Name" tabindex="2">
						</div>
						<p class="error-form">{{error.last_name}}</p>
						<div class="sign-up-group">
							<input type="password" name="password" data-ng-model="userData.password"
									class="password-control sign-up-control required" required="true"
									placeholder="Choose Password" tabindex="4">
						</div>
						<p class="error-form">{{error.password}}</p>
					</div>
					<div class="col-sm-6 col-xs-12 no-padding">
						<div class="sign-up-group">
							<select required="required" data-ng-model="userData.telCode"
									class="dial-code-control sign-up-control required">
								<option data-ng-repeat="code in telephone | orderBy: 'dial_code' | unique:'dial_code'"
										value="{{code.dial_code}}">{{code.dial_code}}
								</option>
							</select>
						</div>
						<div class="sign-up-group">
							<input type="text" class="phone-control sign-up-control" data-ng-model="userData.tel"
									placeholder="Phone Number" data-ui-mask="(999) 999-9999" data-ui-mask-placeholder
									data-ui-mask-placeholder-char="_" data-ng-model="userData.tel" required="true" tabindex="5">
						</div>
					</div>
					<div class="col-sm-6 col-xs-12 no-padding">
						<div class="sign-up-group">
							<label for="gender" class="label-gender label">Gender</label>
							<select name="gender" id="gender" class="gender-control sign-up-control"
									ng-model="userData.gender">
								<option>Male</option>
								<option selected>Female</option>
							</select>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12 no-padding">
						<label for="gender" class="label-dob label">DOB</label>
						<select class="day-control" data-ng-model="dob.dayS" ng-change="dateBuild()"
								ng-options="key as key for key in dob.day">
						</select>
						<select class="mon-control" data-ng-model="dob.monthS" ng-change="dateBuild()"
								ng-options="key as key for key in dob.month">
						</select>
						<select class="year-control" data-ng-model="dob.yearS" ng-change="dateBuild()"
								ng-options="key as key for key in dob.year">
						</select>
					</div>
					<div class="col-sm-6 col-xs-12 no-padding b-left">
						<label for="gender" class="label-height label">Height</label>
						<select class="ft-control" id="ft" data-ng-model="heightData.ft">
							<option data-ng-repeat="item_ft in [1,2,3,4,5]">{{item_ft | filterft}}</option>
						</select>
						<select class="in-control" id="in" data-ng-model="heightData.in">
							<option data-ng-repeat="item_in in [1,2,3,4,5,6,7,8,9,10,11,12]" value="{{item_in | filterin}}">{{item_in | filterin}}
							</option>
						</select>
					</div>
					<div class="col-sm-3 col-xs-6">
						<span class="required-text"><em>*</em> Required</span>
					</div>
					<div class="col-sm-9 col-xs-6">
						<div class="informer-text">
							<div ng-show="loading_spiner" class="text-center">
								Please wait we are building your profile <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
							</div>
						</div>
					</div>
					<button class="get-started">Get started</button>
				</form>
			</div>
		</script>
		<div class="row">
			<div class="col-lg-4 col-md-5">
				<div class="logo-img">
					<img src="/img/logo.png" alt="logo">
				</div>
				<div class="login-text">Onboarding: just a little about Gymventory and how it can help you find pick up
					sports in your area.
				</div>
				<form class="login-form" name="userForm" data-ng-controller="loginCtrl" data-ng-submit="submitForm()">
					<div class="form-group login-group wow animated bounceInUp" data-wow-delay="0.1s">
						<label for="username">Username</label>
						<input type="email" name="username" id="username" class="username-control"
								data-ng-model="data.email" data-ng-blur="checkUsername()" placeholder="{{error.email}}" my-enter="login()">
					</div>
					<div class="form-group login-group wow animated bounceInUp" data-wow-delay="0.4s">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" class="password-control"
								data-ng-model="data.password" data-ng-blur="checkPassword()" placeholder="{{error.password}}" my-enter="login()">

					</div>
					<div class="row">
						<div class="col-sm-12 informer-text">
							<div ng-show="success_text">
								<span>{{inform_text}}</span>
							</div>
							<div ng-show="loading_spiner">
								Login...<i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
							</div>
						</div>
					</div>
					<div class="button-signin wow animated bounceInUp" data-wow-delay="0.7s" ng-click="login()">Sign
						In
					</div>

					<div data-ng-click="facebookSignIn()" class="button-signin-f wow animated bounceInUp"
							data-wow-delay="1s">
						<i class="fa fa-facebook-official" aria-hidden="true"></i>
						Sign Up with Facebook
					</div>
				</form>


				<div class="row">
					<div class="col-xs-6 login-forgot-pass wow animated fadeInLeft" data-wow-delay="1.2s" data-ng-click="ForgotOpen()">Forgot
						password?
					</div>
					<div class="col-xs-6 login-signup wow animated fadeInRight" data-wow-delay="1.2s"
							data-ng-click="clickToOpen()">Sign Up
					</div>
				</div>
			</div>
			<div class="col-lg-7 col-lg-offset-1 col-md-6 col-md-offset-1">
				<div class="row">
					<div class="col-sm-12 login-mockup">
						<img src="/img/mockup.png" alt="mockup">
					</div>
				</div>
				<div class="row app-button wow animated fadeInUp" data-wow-delay="0.5s">
					<div class="col-xs-4 col-xs-offset-2">
						<a href=""><img src="/img/apple-btn.png" alt="apple app"></a>
					</div>
					<div class="col-xs-4">
						<a href=""><img src="/img/google-btn.png" alt="google app"></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>