<div class="container-fluid bg1">
	<div class="row head-panel">
		<div class="col-sm-12">
			<button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
					aria-hidden="true"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 profile">
			<h1 style="color: white;">Socil Connect</h1>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-7" ng-if="data.user">
				<div ng-if="!data.user.social_id" data-ng-click="facebookSignIn()" class="button-signin-f">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					Connect Facebook
				</div>
				<div ng-if="data.user.social_id" data-ng-click="facebookSignIn()" class="button-signin-f">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					Change Facebook
				</div>
			</div>
		</div>

	</div>
</div>
