<div class="container-fluid teammates-bg">
    <div class="row head-panel">
        <div class="col-sm-12">
            <div class="col-sm-1 clearFix">
                <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                      aria-hidden="true"></i></button>
            </div>
            <div class="col-sm-7">

            </div>
            <div class="col-sm-4 clearFix">
                <button data-ng-click="toggleRight('toggled')" class="filter-menu">Filter</button>
            </div>
        </div>
    </div>
    <div class="row wrap-content" data-ng-class="[rightSidebar, rightSidebarInvite]">
        <div class="col-lg-12 profile no-padding">
            <div class="row no-margin search-address-box">
                <input type="text" placeholder="Hour Address" class="search-input-address" data-g-places-autocomplete
                       data-ng-model="filter.address"
                       data-ng-change="changeAddress()">
                <button data-ng-show="myPosition" data-ng-click="setAddress()" type="button" class="myPosition">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </button>
            </div>
            <div class="row no-margin teammates-box clearFix">
                <div class="col-md-12 teammate-card tp-bg" data-ng-repeat="(index, team) in teammates_arr | unique:'first_name' | unique:'last_name'">
                    <div class="row no-margin">
                        <div class="col-md-4 no-padding">
                            <div class="col-md-5 no-padding">
                                <!--https://www.facebook.com/profile.php?id=100012539742549-->
                                <div class="t_box-avatar">
                                    <div class="t_verification" data-ng-show="team.sports.length>=1"></div>
                                    <div class="t_status offline" data-ng-class="{'online': users.online.indexOf(''+team.user_id)!=-1}"></div>
                                    <div class="t_favorites"></div>
                                    <a href="https://www.facebook.com/{{team.social_id}}" data-ng-show="team.type == 2"><div class="t_facebook"></div></a>
                                    <img class="t_avatar" src="{{team.avatar | avatar_type}}" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 no-padding clearFix">
                                <div class="col-sm-12 t_fio">{{team.first_name}} {{team.last_name}}</div>
                                <div class="col-sm-6 col-md-12 t_address">{{team.address}}</div>
                                <div class="col-sm-6 col-md-12 t_distance" data-ng-show="team.distance">{{team.distance}} miles away</div>
                            </div>
                        </div>
                        <div class="col-md-8 no-padding clearFix">
                            <div class="t_data clearFix">
                                <div class="col-md-2 col-sm-4 no-padding">
                                    <div class="t_head">W-L-D</div>
                                    <span class="t_data-val">{{(team.wld == '')?team.wld:'---'}}</span>
                                </div>
                                <div class="col-md-2 col-sm-4 no-padding">
                                    <div class="t_head">Education</div>
                                    <span class="t_data-val">{{(team.education == '')?team.education:'---'}}</span>
                                </div>
                                <div class="col-md-2 col-sm-4 no-padding">
                                    <div class="t_head">HOMETOWN</div>
                                    <span class="t_data-val">{{(team.hometown == '')?team.hometown:'---'}}</span>
                                </div>
                                <div class="col-md-2 col-sm-4 no-padding">
                                    <div class="t_head">LITTLE KNOWN FACT</div>
                                    <span class="t_data-val">{{(team.lkf == '')?team.lkf:'---'}}</span>
                                </div>
                                <div class="col-md-2 col-sm-4 no-padding">
                                    <div class="t_head">Favorite TEAM</div>
                                    <span class="t_data-val">{{(team.ft == '')?team.ft:'---'}}</span>
                                </div>
                                <div class="col-md-2 col-sm-4 no-padding">
                                    <div class="t_head">Job Networks</div>
                                    <span class="t_data-val">{{(team.jn == '')?team.jn:'---'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-md-4 no-padding">
                            <div class="col-md-5 no-padding t_sport-box">
                                <div class="{{sport}}-icon t_sport" data-ng-repeat="sport in team.sports"></div>
                            </div>
                            <div class="col-md-7 no-padding">
                            </div>
                        </div>
                        <div class="col-md-8 no-padding t_blue-box">
                            <div class="col-md-3 no-padding t_data-blue">drafted {{team.drafted | date:'dd/MM/yyyy'}}</div>
                            <div class="col-md-3 no-padding t_data-blue">Teammates {{team.team_count}}</div>
                            <div class="col-md-3 no-padding t_data-blue">MEMBERShIPS {{team.membership}}</div>
                            <div class="col-md-3 no-padding">
                                <button class="view-mage-btn" data-ng-click="toggleInviteP('active_invite');">Invite</button>
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-sm-12 text-center t-title">Games</div>
                    </div>
                    <div class="row row-30">
                        <div class="col-sm-12 no-padding t-tabs-box top25">
                            <div class="col-sm-4 no-padding t-tab">
                                <input type="radio" id="tab_active" name="t_tab" data-ng-model="filter.team_tab" data-ng-click="change_tab()" value="active">
                                <label for="tab_active">Active</label>
                            </div>
                            <div class="col-sm-4 no-padding t-tab">
                                <input type="radio" id="tab_watched" name="t_tab" data-ng-model="filter.team_tab" data-ng-click="change_tab()" value="watched">
                                <label for="tab_watched">Watched</label>
                            </div>
                            <div class="col-sm-4 no-padding t-tab">
                                <input type="radio" id="tab_post" name="t_tab" data-ng-model="filter.team_tab" data-ng-click="change_tab()" value="post">
                                <label for="tab_post">Past</label>
                            </div>
                        </div>
                    </div>
                    <div class="row team_games-box">
                        <div class="t_game-card" data-ng-repeat="t_card in team_games">
                            <div class="col-sm-1 no-padding">
                                <div class="{{t_card.gym_sport.replace('/', '-')}}-icon-active t_sport-type"></div>
                            </div>
                            <div class="col-sm-3 no-padding">
                                <div class="t_address-game">{{t_card.address}}</div>
                                <div class="t_distance" data-ng-show="t_card.distance">{{t_card.distance}} miles away</div>
                            </div>
                            <div class="col-sm-5 no-padding">
                                <div class="col-sm-6 no-padding members_avatar">
                                    <div data-ng-repeat="(index, card_avatar) in t_card.members_avatar">
                                      <a ui-sref="app.user({'t_id':{{card_avatar.id}}})">
                                        <div class="avatar" style="z-index: {{t_card.members_avatar.length - index}}; margin-left: -5px; background: url('{{ card_avatar.img | avatar_type }}'), red;" data-ng-if="card_avatar.img != ''"></div>
                                        <div class="avatar" style="z-index: {{t_card.members_avatar.length - index}}; margin-left: -5px; background: url('/img/no_avatar_vopros.jpg');" data-ng-if="card_avatar.img == ''"></div>
                                      </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 no-padding">
                                    <div class="max_countWrapper col-sm-12 col-xs-6 no-padding clearFix">
                                        <div class="members_count clearFix">
                                            <div class="col_count" data-ng-class="{'green':(member<t_card.global_members)}"
                                                 data-ng-repeat="member in (t_card.members_range)" data-number="{{member}}"></div>
                                        </div>
                                        <div class="max_countMembers clearFix">
                                            {{t_card.number_members}}<hr>{{t_card.global_members}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 no-padding">
                                <div class="col-sm-7 no-padding t_clock">{{t_card.start_time | filterTime}}</div>
                                <div class="col-sm-5 no-padding t_date">{{t_card.date}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <aside class="right-sidebar" data-ng-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:scroll">
            <div class="sidebar-content" >
                <form name="filterForm">
                    <div class="row no-margin">
                        <div class="filter-title">Location</div>
                        <div class="distance-box">
                            <div class="filter-radio-group" data-ng-class="distanceClass">
                                <div class="distance-group">
                                    <input type="radio" id="distance5" name="filter-distance"
                                           data-ng-disabled="distanceDisabled" value="5"
                                           data-ng-model="filter.distance"
                                           data-ng-change="filterGames()">
                                    <label for="distance5" class="distance5">5 m</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="distance10" name="filter-distance"
                                           data-ng-disabled="distanceDisabled" value="10"
                                           data-ng-model="filter.distance"
                                           data-ng-change="filterGames()">
                                    <label for="distance10" class="distance10">10 m</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="distance25" name="filter-distance"
                                           data-ng-disabled="distanceDisabled" value="25"
                                           data-ng-model="filter.distance"
                                           data-ng-change="filterGames()">
                                    <label for="distance25" class="distance25">25 m</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-title">Sport</div>
                    <div class="row no-margin">
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport1" name="filter-sport[1]" value="Basketball"
                                       data-ng-model="filter.sport[1]" data-ng-change="filterGames()">
                                <label for="filter-sport1" class="sport1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport2" name="filter-sport[2]" value="Volleyball"
                                       data-ng-model="filter.sport[2]" data-ng-change="filterGames()">
                                <label for="filter-sport2" class="sport2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer"
                                       data-ng-model="filter.sport[3]" data-ng-change="filterGames()">
                                <label for="filter-sport3" class="sport3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer"
                                       data-ng-model="filter.sport[4]" data-ng-change="filterGames()">
                                <label for="filter-sport4" class="sport4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport5" name="filter-sport[5]" value="Football"
                                       data-ng-model="filter.sport[5]" data-ng-change="filterGames()">
                                <label for="filter-sport5" class="sport5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis"
                                       data-ng-model="filter.sport[6]" data-ng-change="filterGames()">
                                <label for="filter-sport6" class="sport6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey"
                                       data-ng-model="filter.sport[7]" data-ng-change="filterGames()">
                                <label for="filter-sport7" class="sport7-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport8" name="filter-sport[8]" value="Baseball/Softball"
                                       data-ng-model="filter.sport[8]" data-ng-change="filterGames()">
                                <label for="filter-sport8" class="sport8-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport9" name="filter-sport[9]" value="Racquetball"
                                       data-ng-model="filter.sport[9]" data-ng-change="filterGames()">
                                <label for="filter-sport9" class="sport9-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport10" name="filter-sport[10]" value="Zumba"
                                       data-ng-model="filter.sport[10]" data-ng-change="filterGames()">
                                <label for="filter-sport10" class="class1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport11" name="filter-sport[11]" value="Yoga"
                                       data-ng-model="filter.sport[11]" data-ng-change="filterGames()">
                                <label for="filter-sport11" class="class2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport12" name="filter-sport[12]" value="Pilates"
                                       data-ng-model="filter.sport[12]" data-ng-change="filterGames()">
                                <label for="filter-sport12" class="class3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport13" name="filter-sport[13]" value="Boxing"
                                       data-ng-model="filter.sport[13]" data-ng-change="filterGames()">
                                <label for="filter-sport13" class="class4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport14" name="filter-sport[14]" value="Kickboxing"
                                       data-ng-model="filter.sport[14]" data-ng-change="filterGames()">
                                <label for="filter-sport14" class="class5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport15" name="filter-sport[15]" value="Jazzercise"
                                       data-ng-model="filter.sport[15]" data-ng-change="filterGames()">
                                <label for="filter-sport15" class="class6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport16" name="filter-sport[16]" value="Spin"
                                       data-ng-model="filter.sport[16]" data-ng-change="filterGames()">
                                <label for="filter-sport16" class="class7-icon"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="filter-title">Date</div>
                        <div class="filter-group">
                            <input type="text" class="filter-name" datepicker-append-to-body="true"
                                   data-uib-datepicker-popup="fullDate" ng-model="filter.dt"
                                   data-is-open="popup2.opened" data-datepicker-options="dateOptions"
                                   data-close-text="Close" data-ng-change="filterGames()" data-ng-click="open2()"/>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="filter-title">Start time</div>
                        <div class="filter-group">
                            <rzslider
                                    rz-slider-model="startTime.value"
                                    rz-slider-options="startTime.options"></rzslider>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="filter-title">End time</div>
                        <div class="filter-group">
                            <rzslider
                                    rz-slider-model="endTime.value"
                                    rz-slider-options="endTime.options"></rzslider>
                        </div>
                    </div>
                </form>
            </div>
        </aside>
        <aside class="message-sidebar" data-ng-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:scroll">
            <div class="sidebar-content invite_user-box">
                <div class="row teammates-card" data-ng-repeat="gameI in gamesArray">
                    <div class="invite_box" data-ng-if="gameI.invite == 0" data-ng-click="set_invite($event, gameI.id)">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </div>
                    <div class="invite_box" data-ng-if="gameI.invite > 0 || adding_invaite[gameI.id]">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-3 no-padding">
                        <div class="{{gameI.gym_sport.replace('/', '-')}}-icon-active no-padding icon-sport"></div>
                    </div>
                    <div class="col-xs-9 no-padding name_box">
                        <div class="col-xs-12 no-padding">
                            <i class="fa fa-lock" aria-hidden="true"
                           data-ng-show="gameI.type == 'private'"></i>
                            <i class="fa fa-unlock-alt" aria-hidden="true"
                           data-ng-show="gameI.type == 'public'"></i>
                        <span>{{ gameI.name }}</span>
                        </div>
                        <div class="col-xs-12 no-padding">
                            <div class="col-xs-1 no-padding time_game" uib-tooltip="{{ gameI.start_time | filterClockEN}}">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-1 col-xs-offset-2 no-padding time_game" uib-tooltip="{{ gameI.end_time | filterClockEN}}">
                                <div style="transform: rotate(180deg)"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                            </div>
                            <div class="col-xs-1 col-xs-offset-2 no-padding time_game" uib-tooltip="{{ gameI.date | date:'yyyy / MM / d'}}">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-1 col-xs-offset-2 no-padding" data-ng-if="gameI.invite > 0 || adding_invaite[gameI.id]">
                                <i class="invited_text">Invited</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
