<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-12">
            <div class="col-sm-1 col-xs-1 clearFix">
                <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
            </div>
            <div class="col-sm-9 col-xs-8 hidden-xs tab-a-box">
                <div class="col-sm-2 tab-group first-tab"><a data-ui-sref="app.profile" >Settings</a></div>
                <div class="col-sm-2 tab-group one-tab"><a data-ui-sref="app.transactions" data-ui-sref-opts="{reload: true}" class="active">Transactions</a></div>
                <div class="col-sm-2 tab-group end-tab"><a data-ui-sref="app.withdrawal" data-ui-sref-opts="{reload: true}" >Withdrawal</a></div>
            </div>
            <div class="dropdown-box col-xs-9">
                <div class="btn-group hidden-md hidden-sm hidden-lg" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-danger">Withdrawal</button>
                    <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu clearFix tab-a-box" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.profile" data-ui-sref-opts="{reload: true}">Settings</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.transactions" data-ui-sref-opts="{reload: true}">Transactions</a></div></li>
                        <li role="menuitem"><div class="col-sm-12 tab-group"><a data-ui-sref="app.withdrawal" data-ui-sref-opts="{reload: true}">Withdrawal</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-lg-12 profile">
            <div class="row no-margin withdraw-wrap clearFix" style="padding: 5px 20px 30px 20px;">
                <div class="row no-margin history-box history-head">
                    <div class="col-sm-2">Payment Id</div>
                    <div class="col-sm-2">Action</div>
                    <div class="col-sm-2">Date</div>
                    <div class="col-sm-2">Credits</div>
                    <div class="col-sm-2">Fees</div>
                </div>
                <div class="row no-margin history-box" data-ng-repeat="item in transactions">
                    <div class="col-sm-2">{{item.payment_id}}</div>
                    <div class="col-sm-2">{{item.action}}</div>
                    <div class="col-sm-2">{{item.date}}</div>
                    <div class="col-sm-2">{{item.credits}}</div>
                    <div class="col-sm-2">{{item.fees}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
