<div style="color:#333;padding:20px;border:1px solid #999;background-color:#fff;font:14px Helvetica Neue,Helvetica,Arial,Verdana,sans-serif">
    <div style="border-bottom:2px solid #eee;padding-bottom:10px;margin-bottom:20px;font-weight:bold;font-size:22px;color:#999">Gymventory</div>
    <p><b>Dear {{first_name}}  {{last_name}}</b>,</p>

</div>
