@import "/fonts/sourcesanspro.css";

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
*{
    outline: none;
}

.login-bg{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: url("/img/signin-bg.jpg") center no-repeat;
    background-size: cover;
    border-top: 1px solid transparent;
}
.login-box{
    margin-top: 20px;
    padding-bottom: 20px;
}
.logo-img{
    width: 246px;
    margin: 38px auto 20px auto;
}

.form-group.login-group label{
    display: block;
    text-align: center;
    color: rgba(255,255,255,0.5);
    font-size: 13px;
    font-family: "Source Sans Pro";
    font-weight:300;
}
.login-form{
    margin-top: 40px;
}
.login-group .username-control,
.login-group .password-control{
    width: 100%;
    height: 40px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: "Source Sans Pro";
    font-weight:300;
}
.button-signin,
.button-signin-f{
    display: block;
    width: 70%;
    height: 48px;
    border-radius: 30px;
    line-height: 48px;
    border: 0;
    text-align: center;
    font-family: "Source Sans Pro";
    font-weight:300;
    color: white;
    text-transform: uppercase;
    background: #f73267;
    margin: 30px auto;
    font-size: 12px;
    padding: 0;
    cursor: pointer;
}

.login-forgot-pass,
.login-signup{
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    font-family: "Source Sans Pro";
    font-weight:300;
    cursor: pointer;
    text-transform: uppercase;
}
.login-forgot-pass{
    padding-left: 60px;
}
.login-text{
    color: white;
    text-align: center;
    font-size: 25px;
}
.head-panel{
    background: #1d7abf;
    height: 50px;
}
.head-panel .toggle-menu{
    padding: 0;
    margin: 0;
    border: 0;
    height: 50px;
    line-height: 50px;
    color: white;
    background: transparent;
    font-size: 25px;
}
.no-margin{
    margin: 0;
}
.sidebar-avatar{
    width: 80px;
    height: 80px;
    margin: 25px auto 8px auto;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    position: relative;
}
.sidebar-avatar img{
    width: 80px;
}
.user-status{
    width: 14px;
    height:15px;
    background: url("/img/stan.png") center no-repeat;
    position: relative;
    top: 15px;
    right: 15px;
}
.fio-box{
    padding: 0 10px;
    margin: 40px 0 0 0;
    box-sizing: border-box;
    text-align: center;
    opacity: 0.5;
    white-space: nowrap;
}
#sidebar-wrapper{
    background: url("/img/sidebar-bg.png")center no-repeat;
    background-size: cover;
}
.sidebar-firstname,
.sidebar-lastname{
    font-family: "Source Sans Pro", arial;
    font-weight:300;
    font-size: 18px;
    color: #66ccff;

}
.sidebar-lastname{
    color: #9999ff;
}
.sidebar-nav{
    margin-top: 30px;
}
.sidebar-nav li{
    width: 100%;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: "Source Sans Pro", arial;
    font-weight:300;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.sidebar-nav li.create:before{
    font: normal normal normal 14px FontAwesome;
    margin-left: -18px;
    content: "\f067";
}
.sidebar-nav li.check:before{
    font: normal normal normal 14px FontAwesome;
    margin-left: -18px;
    content: "\f14a";
}
.sidebar-nav li.category:before{
    font: normal normal normal 14px FontAwesome;
    margin-left: -18px;
    content: "\f295";
}
.sidebar-nav li.users:before{
    font: normal normal normal 14px FontAwesome;
    margin-left: -18px;
    content: "\f0c0";
}
.sidebar-nav li.list-child:before{
    font: normal normal normal 14px FontAwesome;
    margin-left: -18px;
    margin-right: 10px;
    content: "\f0da";
}
.sidebar-nav li ul{
    list-style: none;
    padding-left: 10px;
}
.sidebar-nav li ul:after{
    display: block;
    content: '';
    clear: both;
}
.sidebar-nav li ul li:hover{
    background: transparent;
}
.fa-spinner{
    color: #f73267;
}
.informer-text{
    text-align: center;
    padding: 10px 0;
    transition: 0.5s;
    color: #f73267;
}
.club_box{
    box-sizing: border-box;
    padding: 10px 20px;
}
.club_item{
    background: url("../img/item.jpg") no-repeat;
    background-size: cover;
    margin: 10px 0;
    padding: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-family: "Source Sans Pro", arial;
    font-weight:300;
    font-size: 16px;
}
.club_item .club_property{
    margin-top: 5px;
}
.club_item .club_property span{
    font-size: 17px;
    color: #b5b5b5;
    font-weight:400;
}
.club_item .club_property button{
    width: 100%;
    text-align: center;
}
.inform-box{
    padding: 30px 0;
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;
}
.no-padding{
    padding: 0;
}
.has-children{
    height: auto !important;
}
.has-children:after{
    display: block;
    content: '';
    clear: both;
}
.sidebar-nav li.has-children:hover{
    background: transparent;
}
.list-child a{
    display: inline !important;
}

.sidebar-nav li.has-children li.list-child:hover{
    background: rgba(255,255,255,0.2);
}

.search-clubs-box{
    padding: 0 30px;
}
.search-clubs-box .cub-card {
    width: 100%;
    min-height: 150px;
    background: url("../img/clubs-bg.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 0 25px 0;
}
.search-clubs-box .cub-card:after{
    display: block;
    content: '';
    clear: both;
}
.search-clubs-box .card-name{
    display: block;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding-top: 30px;
}
.card-sports-group{
    margin-top: 35px;
}
.card-sports-group:after{
    display: block;
    content: '';
    clear: both;
}
.search-clubs-box .card-sports-group .card-sport{
    width: 10%;
    height: 35px;
    float: left;
    background-size: 20px;
    margin-right: 1.1%;
}
.search-clubs-box .card-sports-group .card-sport img{
    width: 100%;
    max-width: 20px;
}
.search-clubs-box .card-request-membership{
    width: 100%;
    height: 38px;
    border: 2px solid #45db5e;
    box-sizing: border-box;
    border-radius: 20px;
    background: transparent;
    color: #45db5e;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 16px;
    margin-top: 25px;
}
/*.search-clubs-box .card-request-membership:after{
    display: inline-block;
    content: url("/img/green-arrow.png");
    margin-left: 5%;
}*/
.search-clubs-box .card-address{

}

.search-address-box{
    position: relative;
}
.search-address-box .myPosition{
    display: inline-block;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    color: #f73267;
    height: 30px;
    width: 40px;
}

.search-clubs-box .card-address{
    font-family: "Source Sans Pro", arial;
    font-size: 13px;
    color: #5781ce;
    margin-top: 25px;
}
.search-clubs-box .card-miles{
    font-family: "Source Sans Pro", arial;
    font-size: 13px;
    color: #5781ce;
    margin-top: 25px;
}
.search-clubs-box .card-hours-day{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Source Sans Pro", arial;
    font-size: 13px;
    color: #5781ce;
    margin-top: 25px;
}
.search-clubs-box .card-hours-day li{
    line-height: 20px;
}
.search-clubs-box .card-hours-day li span{
    display: inline-block;
    min-width: 35px;
}
.search-clubs-box .card-phone{
    margin-top: 25px;
}
.search-clubs-box .card-phone,
.search-clubs-box .card-email,
.search-clubs-box .card-website{
    font-family: "Source Sans Pro", arial;
    font-size: 13px;
    color: #5781ce;
    line-height: 20px;
}

.search-clubs-box .card-members{
    font-family: "Source Sans Pro", arial;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}
.users_cards:after{
    display: block;
    content: '';
    clear: both;
}

.users_cards .user_card{
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    background: url("../img/item.jpg") center no-repeat;
    background-size: cover;
    box-shadow: 4px 4px 5px gray;
    color: white;
    line-height: 30px;
}
.category-add-box{
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    color: #1d7abf;
    padding: 20px;
    margin: 20px 20px;
    background: rgba(29, 122, 191, 0.25);
    border-radius: 10px;
}
.category-add-box label{
    font-weight: 400;
}
.category-add-box span{
    font-weight: 700;
}
.category-add-box:after{
    display: block;
    content: '';
    clear: both;
}
.type_btn{
    margin: 20px 0 0 35px;
}
.club_types{
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    color: black;
}
.clearFix:after{
    display: block;
    content: '';
    clear: both;
}
.form-add-box{
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
    color: #1d7abf;
    padding: 20px;
    background: url('/admin/img/bg2.jpg');
    border-radius: 10px;
}
manage-box{
    box-sizing: border-box;
    padding: 0 30px;
}
.manage-box .club-control label{
    height: 35px;
    box-sizing: border-box;
    padding-top: 20px;
    margin: 0;
    font-weight: 400 !important;
    color: rgba(255,255,255,0.6);
}
.manage-box .club-control input {
    width: 100%;
    height: 35px;
    line-height: 34px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255, 0.42);
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 15px;
}
.manage-box .radio-box{
    width: 154px;
    height: 30px;
    box-sizing: border-box;
}

.manage-box .club-control input[type="radio"]{
    display: none;
    width: 10px;
}
.manage-box .club-control input[type="radio"] + label{
    width: 50%;
    height: 26px;
    border: 2px solid white;
    float: left;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    padding: 0;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    cursor: pointer;
}
.manage-box .club-control input.gym-enter-private + label,
.manage-box .club-control input#enter-private + label{
    border-radius: 5px 0 0 5px;
    border-right: 0;
}
.manage-box .club-control input.gym-enter-public + label,
.manage-box .club-control input#enter-public + label{
    border-radius: 0 5px 5px 0;
    border-left: 0;
}
.manage-box .radio-group1 input[type="radio"]:checked + label{
    background: #f73267;
    border-color: #f73267;

}
.manage-box .head-text{
    font-weight: 400;
    margin-top: 35px;
    color: rgba(255,255,255,0.6);
}
.manage-box .format-text{
    font-weight: 300;
    color: rgba(255,255,255,0.6);
}
.club-hour{
    padding: 0;
    margin-top: 10px;
}
.hours-box .club-hour input[type="checkbox"]{
    display: none;
}
.hours-box .club-hour label{
    color: white;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 14px;
    box-sizing: border-box;
    padding-left: 30px;
    background: url("/img/radio.png") 0 -67px no-repeat;
    cursor: pointer;
}
.hours-box .club-hour input[type="checkbox"]:checked + label{
    background: url("/img/radio.png") 0 2px no-repeat;
}
@media (min-width: 1200px){
    .hours-box .col-lg-1 {
        width: 12%;
    }
}
.top25{
    margin-top: 25px;
}
.hours-box .select-hour select{
    width: 57px;
    height: 27px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    background: url("/img/appearance_white.png") 45px 11px no-repeat;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    padding-left: 5px;
    cursor: pointer;
}
.hours-box .select-hour select option{
    color: black;
}
.club-hour .not-selected{
    height: 74px;
    font-size: 14px;
    color: #f73267;
    line-height: 70px;
    box-sizing: border-box;
    padding-left: 10px;
}
#edit_club_btn, #edit_gym_btn {
    width: 100%;
    height: 40px;
    text-align: center;
    background: transparent;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 16px;
    color: #45db5e;
    box-sizing: border-box;
    border: 1px solid #45db5e;
    border-radius: 25px;
    margin-top: 40px;
}
.unique-name span{
    font-family: "Source Sans Pro", arial;
    font-weight: 400;
}
.update_gym_btn{
    width: 100%;
    height: 40px;
    text-align: center;
    background: transparent;
    font-family: "Source Sans Pro", arial;
    font-weight: 300;
    font-size: 16px;
    color: #5c8bde;
    box-sizing: border-box;
    border: 1px solid #5c8bde;
    border-radius: 25px;
    margin: 40px 0 20px 0;
}
.ngdialog.ngdialog-theme-plain .ngdialog-content {
    background: #fff;
    color: #444;
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 0px;
    position: relative;
    border-radius: 11px;
    width: 70%;
}